html[data-theme="dark"] {
    .account {
        background: #000;
    }

    .account-sidebar {
        background: #221F20;
    
        li:not(:last-child) {
            border-bottom: 1px solid rgba(#fff, .3);
        }
    
        a {
            color: #fff;
    
            &:hover,
            &.active {
                color: #fff;
                box-shadow: inset 3px 0 0 0 #fff;
            }
        }
    }

    .account {
        .white-panel {
            background: #221F20;
        }
    
        .change-password {
            color: #fff;
        }
    }
    

}

.account {
    padding-bottom: 5rem;
    background: #F2F2F2;

    .avatar-section {
        margin-bottom: 5rem;

        .bottom {
            background: #fff;
        }
    }

    .change-password {
        display: block;
        font-family: "Aino Bold", sans-serif;
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: #000;
        margin: 0 0 4rem 0;

        &:hover {
            text-decoration: underline;
        }
    }
}

.account-sidebar {
    padding: 10px 0;
    margin: 0 0 30px 0;
    background: #fff;
    border-radius: 4px;

    li:not(:last-child) {
        border-bottom: 1px solid #D0D2D3;
    }

    a {
        display: block;
        font-family: "Aino Bold", sans-serif;
        color: #808184;
        padding: 1.9rem 3rem;
        transition: .2s ease;

        &:hover,
        &.active {
            color: $mainColor;
            box-shadow: inset 3px 0 0 0 $mainColor;
        }
    }
}

@media (max-width: 992px) {
    /* ***** -- account sidebar ***** */
    .account-sidebar {
        padding: 5px 0;
    
        a {
            font-size: 1.6rem;
            line-height: 2.2rem;
            padding: 1.5rem 2.5rem;
        }
    }

}