html[data-theme="dark"] {
    .offer-image-wrapper {    
        .info {
            .label {
                color: #fff;
            }
        }
    }

}

.account.add-offer {
    .white-panel {
        form {
            max-width: 100%;
        }

        .form-group {
            margin: 0 0 3rem 0;
        }

        .btn-custom {
            padding-left: 5rem;
            padding-right: 5rem;
        }
    }
}

.offer-image-wrapper {
    font-family: "Aino Bold", sans-serif;
    margin: 0 0 3rem 0;

    .offer-image {
        position: relative;
        width: 22rem;
        height: 18rem;
        background-color: #C4C4C4;
        border-radius: 6px;
        overflow: hidden;
    
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    .trigger-image-upload {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        font-size: 1.4rem;
        color: #fff;
        padding: 1.2rem 1.5rem;
        background: rgba(#000, .5);
    }

    .info {
        width: calc(100% - 22rem);
        padding-left: 2rem;

        .label {
            font-size: 1.6rem;
            line-height: 1.9rem;
            color: #000;
            margin: 0 0 .7rem 0;
        }
    
        .hint {
            font-family: "Aino", sans-serif;
            font-size: 1.4rem;
            line-height: 1.7rem;
            color: #808184;
        }
    }
}

.offer-period {
    justify-content: space-between;
    align-items: flex-end;

    .form-group {
        width: calc(50% - 1rem);

        &:before {
            content: "\e80b";
            font-size: 1.5rem;
            font-family: "fontello";
            color: rgba(#000, .6);
            position: absolute;
            top: 1.85rem;
            left: 1.5rem;
        }
    }

    .form-control {
        padding-left: 3.5rem;
    }
}

.target-audence {
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 0 20px 0;

    .form-group {
        width: calc(50% - 1rem);
    }
}

@media (max-width: 992px) {
    .offer-image-wrapper {    
        .offer-image {
            position: relative;
            width: 19rem;
            height: 15rem;
        }
        
        .trigger-image-upload {
            font-size: 1.2rem;
            padding: 1rem 1.5rem;
        }
    
        .info {
            width: calc(100% - 19rem);
        }
    }

}

@media (max-width: 575px) {
    .offer-image-wrapper {    
        .offer-image {
            order: 1;
        }
    
        .info {
            width: 100%;
            padding: 0 0 2rem 0;
        }
    }

    .target-audence,
    .offer-period {
        margin: 0 0 1.7rem 0;

        .form-group {
            width: 100%;
            margin: 0 0 1.3rem 0 !important;
        }
    }

}