html[data-theme="dark"] {
    .question-item {
        border: 1px solid #D0D2D3;

        a[data-toggle="collapse"] {
            color: #fff;
        }
    
        .collapse-content {
            color: #fff;
        }
    }

}

.faq-questions {
    margin: 0 0 8rem 0;
}

.question-item {
    padding: 35px;
    margin: 0 0 25px 0;
    border: 1px solid #D0D2D3;
    border-radius: 6px;

    a[data-toggle="collapse"] {
        padding-right: 50px;
    }

    .collapse-content {
        font-family: "Aino Bold", sans-serif;
        color: $mainColor;
        max-width: 1070px;
        padding-top: 25px;

        > * {
            margin: 0 0 15px 0;

            &:last-child {
                margin: 0;
            }
        }
    }
}

@media (max-width: 992px) {
    .question-item {
        padding: 25px;
    
        a[data-toggle="collapse"] {
            padding-right: 25px;
        }
    }

}

@media (max-width: 767px) {
    .faq-questions {
        margin: 0 0 4rem 0;
    }

    .question-item {
        padding: 20px;

        a[data-toggle="collapse"] {
            font-size: 1.6rem;            
        }

        .collapse-content {
            font-size: 1.6rem;
            padding-top: 20px;
        }
    }

}