.members-list {
    margin: 0 0 12rem 0;

    [class*="col-xl-2"] {
        margin: 0 0 5rem 0;
    }
}

@media (max-width: 1366px) {
    .members-list {
        margin: 0 0 8rem 0;
    }

}

@media (max-width: 992px) {
    .members-list {
        margin: 0 0 6rem 0;
    }

    [class*="col-xl-2"] {
        margin: 0 0 4rem 0;
    }

}
