html[data-theme="dark"] {
    .special-offers {
        .event-block {
            background: rgba(255, 255, 255, 0.1);

            &:hover {
                background: rgba(255, 255, 255, 0.2);
            }
        }
    
        .info {
            color: #fff;
        }
    
        .hotel {
            color: #fff;
        }
    
        .title {
            a {
                color: #fff;
            }
        }
    }

    /* ***** -- create offer ***** */
    .create-offer {
        background: #221F20;
        border: 2px dashed lighten(#221F20, 5%);

        a {
            color: #fff;
        }
    }

}

/* ***** -- cabinet special offers ***** */
.special-offers {
    [class*="col-"] {
        margin-bottom: 40px;
    }
    
    .event-block {
        background: #F2F2F2;
    }

    .info {
        color: #000;
        padding: 40px;
    }

    .hotel {
        font-family: "Aino Bold", sans-serif;
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: #192549;

        i {
            display: inline-block;
            font-size: 1.6rem;
            margin-right: .8rem;
            transform: translateY(-1px);
        }
    }

    .title {
        font-size: 2.2rem;
        line-height: 3rem;
        margin: 2rem 0 3rem 0;

        a {
            color: #000;
        }
    }

    .description {
        font-size: 1.5rem;
        line-height: 2.2rem;
        margin: 0 0 4.5rem 0;
        opacity: .8;
    }

    .date-apply {
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
    }

    .date,
    .stars {
        font-family: "Aino Bold", sans-serif;
        margin: 0;
        opacity: 1;
    }
}

/* ***** -- accound special offers ***** */
.my-special-offers {
    .event-block {
        background: #fff;
    }

    .info {
        padding: 30px;
    }

    .title {
        font-size: 2rem;
        line-height: 3rem;
        margin: 2rem 0 2.5rem 0;
    }

    .stars {
        margin: 1rem 0 3.5rem 0;
    }

    .actions {
        a {
            padding: 1.2rem 1.4rem;
            margin: 0 1rem 0 0;
        }
    }
}

/* ***** -- create offer ***** */
.create-offer {
    align-items: center;
    color: #fff;
    padding: 2.5rem 3rem 2.5rem 0;
    background: $accentColor;
    border: 2px dashed darken($accentColor, 10%);
    border-radius: 4px;

    a {
        color: inherit;        

        &:hover {
            text-decoration: underline;
        }
    }

    .left {
        width: 8rem;
    }

    i {
        font-size: 4rem;
        opacity: 0.4;
    }

    .right {
        width: calc(100% - 8rem);
    }

    h3 {
        font-family: "Aino Bold", sans-serif;
        margin: 0 0 .5rem 0;
    }

    .desc {
        font-size: 1.5rem;
        line-height: 2rem;
        opacity: .8;
    }
}

@media (max-width: 1200px) {
    /* ***** -- cabinet special offers ***** */
    .special-offers {
        .info {
            padding: 30px;
        }
    
        .title {
            font-size: 1.8rem;
            line-height: 2.5rem;
            margin: 1.5rem 0 3rem 0;
        }
    
        .description {
            margin: 0 0 4rem 0;
        }
    }

    /* ***** -- accound special offers ***** */
    .my-special-offers {
        .title {
            font-size: 1.8rem;
            line-height: 2.5rem;
            margin: 1.5rem 0 2rem 0;
        }
    }

}

@media (max-width: 1024px) {
    /* ***** -- cabinet special offers ***** */
    .special-offers {
        .date-apply {
            display: block;
        }

        .date {
            margin: 0 0 3rem 0;
        }
    }

    /* ***** -- accound special offers ***** */
    .my-special-offers {
        .date {
            margin: 0 !important;
        }
    }
    
}

@media (max-width: 575px) {
    /* ***** -- cabinet special offers ***** */
    .special-offers {
        .info {
            padding: 25px 20px;
        }

        .date {
            margin: 0 0 2rem 0;
        }
    }

    /* ***** -- create offer ***** */
    .create-offer {
        padding: 1.5rem 2rem 1.5rem 0;

        .left {
            width: 6rem;
        }

        .right {
            width: calc(100% - 6rem);
        }
    }
    
}