html[data-theme="dark"] {
    .cancel-subs {    
        a {
            color: #fff;
        }
    }
}

/* ***** -- current subscription ***** */
.current-subs {
    color: #fff;
    padding: 2.5rem;
    background: $mainColor;
    border-radius: 4px;

    .icon {
        width: 50px;
        text-align: center;

        img {
            max-width: 60px;
            max-height: 60px;
        }
    }

    .info {
        width: calc(100% - 50px);
        padding-left: 2rem;

        .flex {
            justify-content: space-between;
            align-items: flex-end;
        }
    }

    .subsc-name {
        font-family: "Aino Bold", sans-serif;
        font-size: 2rem;
        line-height: 2.4rem;
        margin: 0 0 3rem 0;
    }

    .qty {
        font-family: "Aino Bold", sans-serif;
        font-size: 2rem;
        line-height: 2.4rem;
        margin: 0 0 .5rem 0;
    }

    .expires {
        font-size: 1.5rem;
        line-height: 2.3rem;
        font-style: italic;
        opacity: .8;
    }

    .btn-custom {
        font-size: 1.4rem;
        text-transform: none;
        padding: 1.2rem 2rem;
    }
}

.cancel-subs {
    font-family: "Aino Bold", sans-serif;
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin: 2.5rem 0;

    a {
        color: #000;

        &:hover {
            text-decoration: underline;
        }
    }
}

/* ***** -- subscriptions ***** */
.account.my-subscription {
    .subscriptions {
        [class*="col-lg-6"] {
            margin: 0 0 40px 0;
        }
    }
}

/* ***** -- update subsc ***** */
.form-wrapper {
    .membership-plans {
        font-family: "Aino Bold", sans-serif;
    }
}

@media (max-width: 992px) {
    /* ***** -- current subscription ***** */
    .current-subs {
        .icon {
            width: 40px;
        }
    
        .info {
            width: calc(100% - 40px);
        }

        .subsc-name {
            font-size: 1.8rem;
            line-height: 2.2rem;
            margin: 0 0 2.5rem 0;
        }

        .qty {
            font-size: 1.8rem;
            line-height: 2.2rem;
        }
    }
}

@media (max-width: 575px) {
    /* ***** -- current subscription ***** */
    .current-subs {
        padding: 2.5rem 2rem;

        .icon {
            width: 100%;
            text-align: left;
        }
    
        .info {
            width: 100%;
            padding: 30px 0 0 0;

            .flex {
                display: block;
            }
        }

        .subsc-name {
            margin: 0 0 2rem 0;
        }

        .btn-custom {
            margin: 15px 0 0 0;
        }
    }

}