html[data-theme="dark"] {
    .avatar-section {
        .bottom {
            background: #221F20;
        }
    
        li {
            a {
                color: #fff;
            }
        }
    }

}

.cover-photo {
    position: relative;
    height: 41.5rem;
    overflow: hidden;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 101%;
        height: 101%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.8) 100%);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.avatar-section {
    position: relative;
    margin: -9rem 0 8rem 0;

    .left {
        width: 18rem;
        height: 18rem;
    }

    .avatar {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #C4C4C4;
        border-radius: 6px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .trigger-avatar-upload {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        font-family: "Aino Bold", sans-serif;
        font-size: 1.4rem;
        color: #fff;
        padding: 1.2rem 1.5rem;
        background: rgba(#000, .5);
    }

    .right {
        width: calc(100% - 18rem);
        color: #fff;
    }

    .top,
    .bottom {
        padding-left: 3rem;
        min-height: 50%;
    }

    .top {
        justify-content: space-between;
        align-items: flex-start;
    }

    .name-plan {
        font-family: "Aino Bold", sans-serif;
    }

    .name {
        font-size: 2.2rem;
        line-height: 2.6rem;
        margin: 0 0 1rem 0;
    }

    .plan {
        font-size: 1.4rem;
        line-height: 1.7rem;
        opacity: .5;
    }

    .btn-outline {
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: #fff;
        padding: 1.2rem 1.5rem;

        &:hover {
            color: #000;
            background: #fff;
            border-color: #fff;
        }

        i {
            font-size: 1.4rem;
        }
    }

    .trigger-cover-upload {
        font-family: "Aino Bold", sans-serif;
        font-size: 1.4rem;
        color: #fff;
        padding: 1.2rem 2rem;
        background: rgba(#000, .5);
        border-radius: 3px;
    }

    .bottom {
        align-items: center;
        background: #F2F2F2;
        border-radius: 0px 0px 6px 0px;
    }

    li {
        font-family: "Aino Bold", sans-serif;
        margin: 0 4rem 0 0;

        &:last-child {
            margin: 0;
        }

        a {
            font-size: 1.8rem;
            line-height: 2.2rem;
            color: #000;
            opacity: .5;
            transition: opacity .2s ease;

            &:hover,
            &.active {
                opacity: 1;
            }
        }
    }
}

@media (max-width: 1024px) {
    .cover-photo {
        height: 350px;
    }
    
    .avatar-section {
        margin: -7.5rem 0 6rem 0;
    
        .left {
            width: 150px;
            height: 150px;
        }

        .trigger-avatar-upload {
            font-size: 1.2rem;
            padding: 1rem 1.5rem;
        }
    
        .right {
            width: calc(100% - 150px);
        }
    
        .top,
        .bottom {
            padding-left: 20px;
        }
    
        .name {
            font-size: 2rem;
            line-height: 2.4rem;
        }
    
        li {
            margin: 0 3rem 0 0;
    
            a {
                font-size: 1.6rem;
                line-height: 2rem;
            }
        }
    }

}

@media (max-width: 767px) {
    .cover-photo {
        height: 280px;
    }
    
    .avatar-section {
        margin: -6rem 0 3rem 0 !important;
    
        .left {
            width: 100%;
            height: 120px;
        }

        .avatar {
            max-width: 120px;
        }
    
        .right {
            width: 100%;
            color: #000;
        }
    
        .top,
        .bottom {
            padding: 20px 0 0 0;
            min-height: auto;
        }

        .btn-outline {
            position: absolute;
            top: 10px;
            right: 12px;
            padding: 8px;
            
            i {
                margin: 0;
                font-size: 2rem;
            }

            span {
                display: none;
            }
        }

        .trigger-cover-upload {
            position: absolute;
            top: 10px;
            right: 12px;
            font-size: 1.2rem;
            padding: 1rem 1.5rem;
        }

        .bottom {
            justify-content: center;
            width: calc(100% + 24px);
            padding: 15px 12px 10px 12px;
            margin-left: -12px;
            margin-top: 20px;
        }

        ul {
            justify-content: center;
        }
    
        li {
            margin: 0 20px 5px 20px !important;
        }
    }

}