section.subscribe
    .container-fluid
        .row
            .col-lg-6
                h3.title Subscribe to Newsletters and get notifications about the Latest Events
            // Col
            |
            |
            .col-lg-6
                form.subscribe-form(action="#" method="get")
                    .form-group
                        input.form-control(type="email" required placeholder="E-mail")
                    |
                    |
                    button.btn-custom.submit-subscribe Subscribe
            // Col
        |
        |
        .confirm-subscribe.text-center.flex
            h3.confirm-title Thank You! We have sent you confirmation e-mail!
            p Your subscription has been confirmed. You have been added to our list and will hear from us soon.
// Subscribe to newsletters