extends ../layout/empty-layout.pug

block content
    .not-found.flex-center
        .text-center
            h1 404
            p Something's wrong here, we can’t find the page you are looking for
            .actions.flex
                ="\n"
                a(href="contact.html")
                    i.icon-info
                    | If you have any questions, contact us
                ="\n"
                a(href="index.html")
                    i.icon-arrow-longer
                    | Back to home