extends ../layout/layout.pug

block content
    .breadcrumb-container
        .container-fluid
            .row
                .col-12
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                ="\n"
                                a(href="index.html") Home
                            li.breadcrumb-item
                                ="\n"
                                a(href="about.html") About Us
                            li.breadcrumb-item About Association
    // Breadcrumbs
    |
    |
    section.about-association
        .page-intro.centered
            .intro-content.cover-center(style="background-image: url("+ require("../../images/about-bg.jpg") +")")
            |
            |
            .container-fluid
                .row
                    .col-12
                        h1.title(data-aos="zoom-in" data-aos-duration="1500") We are the Champions
                        p(data-aos="fade-in" data-aos-duration="1500") Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.
        // Page intro
        |
        |
        .page-categories
            ul.flex
                li.active
                    ="\n"
                    a(href="about.html") About Association
                li
                    ="\n"
                    a(href="team.html") Team members
                li
                    ="\n"
                    a(href="contact.html") Contact us
        // Page categories
        |
        |
        .page-short-text.ptb-9(data-aos="fade-in" data-aos-duration="1200")
            .container-fluid
                .row
                    .col-xl-10.offset-xl-1
                        .editor-body.text-center
                            p The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced an anxious wait to see if Whitley Bay’s Rosie Belsham could catch her but in the end her two-under par total of 286 proved to be enough to give her a one-shot victory over Belsham, Stoke by Nayland’s Lily May Humphreys, Scotland’s Shannon McWilliam and Sharna Dutrieux from Wrotham Heath.
                            p Humphreys made a late charge in a bid to add to the Welsh and Irish Women’s Stroke Play titles she won earlier in the season but in the end a birdie at the last for a 68 was not quite enough.
        // Page short text
        |
        |
        .services.ptb-9(data-aos="fade-in" data-aos-duration="1200")
            .container-fluid
                .row
                    .col-12.text-center
                        h2.section-title What we do
                        p.subtitle Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.
                    // Col
                    |
                    |
                    .col-lg-3.col-sm-6
                        .service-item.flex
                            .icon.flex-center
                                img(src=require("../../images/icons/lobbying.png"))
                            |
                            |
                            p.name Lobbying
                            p.description Assist and encourage the performance improvements of hotels, cooperate with the governing body to ascertain effective regulations and supportive laws that promote stable growth of tourism, sustainability and foreign exchange earnings. 
                    // Col
                    |
                    |
                    .col-lg-3.col-sm-6
                        .service-item.flex
                            .icon.flex-center
                                img(src=require("../../images/icons/classification.png"))
                            |
                            |
                            p.name National Hotel Star Classification
                            p.description Establish and monitor an official hotel classification and star rating system in accordance with HOTREC's Hotelstars Union
                    // Col
                    |
                    |
                    .col-lg-3.col-sm-6
                        .service-item.flex
                            .icon.flex-center
                                img(src=require("../../images/icons/promotion.png"))
                            |
                            |
                            p.name Promotion
                            p.description Promote more productive synergies among hotels in the areas of Sales & Marketing, operation and co-operation.
                    // Col
                    |
                    |
                    .col-lg-3.col-sm-6
                        .service-item.flex
                            .icon.flex-center
                                img(src=require("../../images/icons/education.png"))
                            |
                            |
                            p.name Education
                            p.description Supervise, support and improve existing vocational and high-level schools of hospitality and tourism; and with the cooperation with international hotel schools, to assist in establishing new ventures of improved educational standards.
                    // Col
                    |
                    |
                    .hidden-services
                        .row
                            .col-lg-3.col-sm-6
                                .service-item.flex
                                    .icon.flex-center
                                        img(src=require("../../images/icons/lobbying.png"))
                                    |
                                    |
                                    p.name Lobbying
                                    p.description Assist and encourage the performance improvements of hotels, cooperate with the governing body to ascertain effective regulations and supportive laws that promote stable growth of tourism, sustainability and foreign exchange earnings. 
                            // Col
                            |
                            |
                            .col-lg-3.col-sm-6
                                .service-item.flex
                                    .icon.flex-center
                                        img(src=require("../../images/icons/classification.png"))
                                    |
                                    |
                                    p.name National Hotel Star Classification
                                    p.description Establish and monitor an official hotel classification and star rating system in accordance with HOTREC's Hotelstars Union
                            // Col
                            |
                            |
                            .col-lg-3.col-sm-6
                                .service-item.flex
                                    .icon.flex-center
                                        img(src=require("../../images/icons/promotion.png"))
                                    |
                                    |
                                    p.name Promotion
                                    p.description Promote more productive synergies among hotels in the areas of Sales & Marketing, operation and co-operation.
                            // Col
                            |
                            |
                            .col-lg-3.col-sm-6
                                .service-item.flex
                                    .icon.flex-center
                                        img(src=require("../../images/icons/education.png"))
                                    |
                                    |
                                    p.name Education
                                    p.description Supervise, support and improve existing vocational and high-level schools of hospitality and tourism; and with the cooperation with international hotel schools, to assist in establishing new ventures of improved educational standards.
                            // Col
                    // Hidden services
                    |
                    |
                    .toggle-services.text-center
                        button.btn-outline
                            | See more
                            i.icon-dropdown-arrow
                        |
                        |
                        button.btn-outline
                            | See less
                            i.icon-dropdown-arrow
        // Services
        |
        |
        .page-short-text.ptb-9(data-aos="fade-in" data-aos-duration="1200")
            .container-fluid
                .row
                    .col-xl-10.offset-xl-1
                        .editor-body.text-center
                            h2 Our Mission
                            p The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced an anxious wait to see if Whitley Bay’s Rosie Belsham could catch her but in the end her two-under par total of 286 proved to be enough to give her a one-shot victory over Belsham, Stoke by Nayland’s Lily May Humphreys, Scotland’s Shannon McWilliam and Sharna Dutrieux from Wrotham Heath.
                            p Humphreys made a late charge in a bid to add to the Welsh and Irish Women’s Stroke Play titles she won earlier in the season but in the end a birdie at the last for a 68 was not quite enough.
                            hr 
                            h2 Our Vision
                            p The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced an anxious wait to see if Whitley Bay’s Rosie Belsham could catch her but in the end her two-under par total of 286 proved to be enough to give her a one-shot victory over Belsham, Stoke by Nayland’s Lily May Humphreys, Scotland’s Shannon McWilliam and Sharna Dutrieux from Wrotham Heath.
                            p Humphreys made a late charge in a bid to add to the Welsh and Irish Women’s Stroke Play titles she won earlier in the season but in the end a birdie at the last for a 68 was not quite enough.
        // Page short text
        |
        |
        .page-short-text.backgrounded.ptb-9(style="background-image: url("+ require("../../images/intro-slider/image0.jpg") +")")
            .container-fluid
                .row
                    .col-lg-8.offset-lg-2
                        .editor-body.text-center
                            h1 Goals & Objectives
                            p Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details. Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.
        // Page short text
        |
        |
        .partners.ptb-9(data-aos="fade-in" data-aos-duration="1200")
            .container-fluid
                .row
                    .col-12
                        .section-header.flex
                            h2.section-title Our Partners
                        // Section header
                        |
                        |
                        .swiper-container.partners-slider
                            .swiper-wrapper
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image0.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") European Investment Bank
                                |
                                |
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image1.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") Embasy United States of America
                                |
                                |
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image2.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") Middlesex University
                                |
                                |
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image3.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") European Union
                                |
                                |
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image4.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") Ministry of Taxex of Azerbaijan Republic
                                |
                                |
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image5.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") Baku 2015 1st European Games
                            |
                            |
                            .swiper-pagination.visible-1024
                        // Slider container
        // Partners
        |
        |
    // About association page
    |
    |