extends ../layout/layout.pug

block content
    section.account
        .cover-photo
            ="\n"
            img(src=require("../../images/cabinet/cover.jpg") class="cover-preview")
            |
            |
            input(type="file" name="cover" class="upload-cover" hidden)
        // Cover photo
        |
        |
        .avatar-section
            .container-fluid
                .row
                    .col-12
                        .avatar-wrapper.flex
                            .left
                                .avatar
                                    ="\n"
                                    img(src=require("../../images/cabinet/avatar.jpg") class="avatar-preview")
                                    |
                                    |
                                    div
                                        input(type="file" name="avatar" class="upload-avatar" hidden)
                                        button(class="trigger-avatar-upload") Change photo
                            // Left
                            |
                            |
                            .right
                                .top.flex
                                    .name-plan
                                        h3.name JW Marriott Absheron
                                        p.plan Associate member/Exclusive
                                    |
                                    |
                                    button(class="trigger-cover-upload") Change cover photo
                                // Top
                                |
                                |
                                .bottom.flex
                                    ul.flex
                                        li
                                            ="\n"
                                            a(href="cabinet-upcoming-events.html") Upcoming events
                                        li
                                            ="\n"
                                            a(href="cabinet-members.html") Members
                                        li
                                            ="\n"
                                            a(href="cabinet-special-offers.html") Special offers
                                        li
                                            ="\n"
                                            a(href="cabinet-faq.html") FAQ
                                // Bottom
                            // Right
        // Avatar section
        |
        |
        .container-fluid
            .row
                .col-lg-3.col-md-4
                    .account-sidebar
                        ul
                            li
                                ="\n"
                                a(href="account-index.html" class="active") Account
                            li
                                ="\n"
                                a(href="account-subscription.html") Subscribtion
                            li
                                ="\n"
                                a(href="account-special-offers.html") My Special Offers
                            li
                                ="\n"
                                a(href="account-advisory.html") Advisory
                // Col (sidebar wrapper)
                |
                |
                .col-lg-9.col-md-8
                    .white-panel
                        form(action="#" method="POST")
                            .form-group
                                input(type="text" class="form-control" placeholder="Username" required)
                            |
                            |
                            .form-group
                                input(type="text" class="form-control" value="+9945000000" required)
                            |
                            |
                            .form-group
                                input(type="email" class="form-control" value="example@example.com" required)
                            |
                            |
                            .form-group
                                input(type="text" class="form-control" value="https://www.example.com" required)
                            |
                            |
                            a(href="account-change-password.html" class="change-password") Change password
                            |
                            |
                            button(class="btn-custom") Save
                    // Panel
                // Col
    // Account page
    |
    |