extends ../layout/layout.pug

block content
    section.account.my-subscription
        .cover-photo
            ="\n"
            img(src=require("../../images/cabinet/cover.jpg") class="cover-preview")
            |
            |
            input(type="file" name="cover" class="upload-cover" hidden)
        // Cover photo
        |
        |
        .avatar-section
            .container-fluid
                .row
                    .col-12
                        .avatar-wrapper.flex
                            .left
                                .avatar
                                    ="\n"
                                    img(src=require("../../images/cabinet/avatar.jpg") class="avatar-preview")
                                    |
                                    |
                                    div
                                        input(type="file" name="avatar" class="upload-avatar" hidden)
                                        button(class="trigger-avatar-upload") Change photo
                            // Left
                            |
                            |
                            .right
                                .top.flex
                                    .name-plan
                                        h3.name JW Marriott Absheron
                                        p.plan Associate member/Exclusive
                                    |
                                    |
                                    button(class="trigger-cover-upload") Change cover photo
                                // Top
                                |
                                |
                                .bottom.flex
                                    ul.flex
                                        li
                                            ="\n"
                                            a(href="cabinet-upcoming-events.html") Upcoming events
                                        li
                                            ="\n"
                                            a(href="cabinet-members.html") Members
                                        li
                                            ="\n"
                                            a(href="cabinet-special-offers.html") Special offers
                                        li
                                            ="\n"
                                            a(href="cabinet-faq.html") FAQ
                                // Bottom
                            // Right
        // Avatar section
        |
        |
        .container-fluid
            .row
                .col-lg-3.col-md-4
                    .account-sidebar
                        ul
                            li
                                ="\n"
                                a(href="account-index.html") Account
                            li
                                ="\n"
                                a(href="account-subscription.html" class="active") Subscribtion
                            li
                                ="\n"
                                a(href="account-special-offers.html") My Special Offers
                            li
                                ="\n"
                                a(href="account-advisory.html") Advisory
                // Col (sidebar wrapper)
                |
                |
                .col-lg-9.col-md-8
                    .subscriptions
                        .row
                            .col-12
                                .current-subs-wrapper
                                    .current-subs.flex
                                        .icon
                                            ="\n"
                                            img(src=require("../../images/icons/hotel-star-gold.svg"))
                                        .info
                                            h3.subsc-name EXCLUSIVE Associate Membership
                                            .flex
                                                .pricing
                                                    p.qty min. 5,000 AZN / year
                                                    p.expires Finishes in 1 July, 2020
                                                |
                                                |
                                                |
                                                a(href="update-subscription.html" class="btn-custom") Update Plan
                                    // Current subscription
                                // Current subscription wrapper
                                |
                                |
                                .cancel-subs.text-right
                                    ="\n"
                                    a(href="index.html" class="sweetalert-confirm") Cancel subscription
                            // Col
                            |
                            |
                            .col-lg-6
                                .block-backgrounded
                                    .image.swiper-lazy(style="background-image: url("+ require("../../images/events/image0.jpg") +")")
                                    |
                                    |
                                    .info.flex
                                        h3.title
                                            ="\n"
                                            a(href="regular-membership.html") Regular Membership
                                        .desc
                                            p The Investpro Azerbaijan, organized by the Bosco Conference will take place from 4th to the 5th June 2018 at the JW Marriott Hotel Absheron Baku in
                                        .learn-more
                                            ="\n"
                                            a(href="regular-membership.html")
                                                | Learn More
                                                i.icon-arrow-longer
                            // Col
                            |
                            |
                            .col-lg-6
                                .block-backgrounded
                                    .image.swiper-lazy(style="background-image: url("+ require("../../images/events/image0.jpg") +")")
                                    |
                                    |
                                    .info.flex
                                        h3.title
                                            ="\n"
                                            a(href="associate-membership.html") Associate Membership
                                        .desc
                                            p The Investpro Azerbaijan, organized by the Bosco Conference will take place from 4th to the 5th June 2018 at the JW Marriott Hotel Absheron Baku in
                                        .learn-more
                                            ="\n"
                                            a(href="associate-membership.html")
                                                | Learn More
                                                i.icon-arrow-longer
                            // Col
                    // Subscriptions
    // Subscription page
    |
    |