extends ../layout/layout.pug

block content
    section.account.add-offer
        .cover-photo
            ="\n"
            img(src=require("../../images/cabinet/cover.jpg") class="cover-preview")
            |
            |
            input(type="file" name="cover" class="upload-cover" hidden)
        // Cover photo
        |
        |
        .avatar-section
            .container-fluid
                .row
                    .col-12
                        .avatar-wrapper.flex
                            .left
                                .avatar
                                    ="\n"
                                    img(src=require("../../images/cabinet/avatar.jpg") class="avatar-preview")
                                    |
                                    |
                                    div
                                        input(type="file" name="avatar" class="upload-avatar" hidden)
                                        button(class="trigger-avatar-upload") Change photo
                            // Left
                            |
                            |
                            .right
                                .top.flex
                                    .name-plan
                                        h3.name JW Marriott Absheron
                                        p.plan Associate member/Exclusive
                                    |
                                    |
                                    button(class="trigger-cover-upload") Change cover photo
                                // Top
                                |
                                |
                                .bottom.flex
                                    ul.flex
                                        li
                                            ="\n"
                                            a(href="cabinet-upcoming-events.html") Upcoming events
                                        li
                                            ="\n"
                                            a(href="cabinet-members.html") Members
                                        li
                                            ="\n"
                                            a(href="cabinet-special-offers.html") Special offers
                                        li
                                            ="\n"
                                            a(href="cabinet-faq.html") FAQ
                                // Bottom
                            // Right
        // Avatar section
        |
        |
        .container-fluid
            .row
                .col-lg-3.col-md-4
                    .account-sidebar
                        ul
                            li
                                ="\n"
                                a(href="account.html") Account
                            li
                                ="\n"
                                a(href="account-subscription.html") Subscribtion
                            li
                                ="\n"
                                a(href="account-special-offers.html" class="active") My Special Offers
                            li
                                ="\n"
                                a(href="account-advisory.html") Advisory
                // Col (sidebar wrapper)
                |
                |
                .col-lg-9.col-md-8
                    .white-panel
                        form(action="#" method="POST")
                            .offer-image-wrapper.flex
                                .offer-image
                                    ="\n"
                                    img(src=require("../../images/cabinet/avatar.jpg") class="image-preview")
                                    |
                                    |
                                    div
                                        input(type="file" name="offer-image" class="upload-offer-image" hidden)
                                        button(class="trigger-image-upload") Change photo
                                |
                                |
                                .info
                                    p.label Campaign Image
                                    p.hint Prefered image size: max. 1 mb
                            |
                            |
                            .form-group
                                label Offer title
                                input(type="text" class="form-control" required)
                            |
                            |
                            .form-group
                                label Offer description
                                textarea(class="form-control" rows="8" required)
                            |
                            |
                            .offer-period.flex
                                label Offer period
                                .form-group
                                    input(type="text" class="form-control date-from" data-language="en" placeholder="Date from")
                                |
                                |
                                .form-group
                                    input(type="text" class="form-control date-to" data-language="en" placeholder="Date to")
                            |
                            |
                            .target-audence.flex
                                label Target audence
                                .form-group.select
                                    select(class="form-control")
                                        option(selected hidden) Stars from
                                        option(value="1") &#9733;
                                        option(value="2") &#9733; &#9733;
                                        option(value="3") &#9733; &#9733; &#9733;
                                        option(value="4") &#9733; &#9733; &#9733; &#9733;
                                        option(value="5") &#9733; &#9733; &#9733; &#9733; &#9733;
                                |
                                |
                                .form-group.select
                                    select(class="form-control")
                                        option(selected hidden) Stars to
                                        option(value="1") &#9733;
                                        option(value="2") &#9733; &#9733;
                                        option(value="3") &#9733; &#9733; &#9733;
                                        option(value="4") &#9733; &#9733; &#9733; &#9733;
                                        option(value="5") &#9733; &#9733; &#9733; &#9733; &#9733;
                            |
                            |
                            button(class="btn-custom") Publish
                    // Panel
                // Col
    // Account add offer page
    |
    |