extends ../layout/layout.pug

block content
    section.account.my-special-offers
        .cover-photo
            ="\n"
            img(src=require("../../images/cabinet/cover.jpg") class="cover-preview")
            |
            |
            input(type="file" name="cover" class="upload-cover" hidden)
        // Cover photo
        |
        |
        .avatar-section
            .container-fluid
                .row
                    .col-12
                        .avatar-wrapper.flex
                            .left
                                .avatar
                                    ="\n"
                                    img(src=require("../../images/cabinet/avatar.jpg") class="avatar-preview")
                                    |
                                    |
                                    div
                                        input(type="file" name="avatar" class="upload-avatar" hidden)
                                        button(class="trigger-avatar-upload") Change photo
                            // Left
                            |
                            |
                            .right
                                .top.flex
                                    .name-plan
                                        h3.name JW Marriott Absheron
                                        p.plan Associate member/Exclusive
                                    |
                                    |
                                    button(class="trigger-cover-upload") Change cover photo
                                // Top
                                |
                                |
                                .bottom.flex
                                    ul.flex
                                        li
                                            ="\n"
                                            a(href="cabinet-upcoming-events.html") Upcoming events
                                        li
                                            ="\n"
                                            a(href="cabinet-members.html") Members
                                        li
                                            ="\n"
                                            a(href="cabinet-special-offers.html") Special offers
                                        li
                                            ="\n"
                                            a(href="cabinet-faq.html") FAQ
                                // Bottom
                            // Right
        // Avatar section
        |
        |
        .container-fluid
            .row
                .col-lg-3.col-md-4
                    .account-sidebar
                        ul
                            li
                                ="\n"
                                a(href="account-index.html") Account
                            li
                                ="\n"
                                a(href="account-subscription.html") Subscribtion
                            li
                                ="\n"
                                a(href="account-special-offers.html" class="active") My Special Offers
                            li
                                ="\n"
                                a(href="account-advisory.html") Advisory
                // Col (sidebar wrapper)
                |
                |
                .col-lg-9.col-md-8
                    .special-offers
                        .row
                            .col-12
                                .create-offer.flex
                                    .left.flex-center
                                        ="\n"
                                        a(href="account-add-offer.html")
                                            i.icon-plus
                                    |
                                    |
                                    .right
                                        h3
                                            ="\n"
                                            a(href="account-add-offer.html") Add specia offer and...
                                        p.desc The Investpro Azerbaijan, organized by the Bosco Conference will take place from 4th to the 5th June 2018
                                // Create offer
                            // Col
                            |
                            |
                            .col-lg-6.col-md-12.col-sm-6
                                .event-block.flex
                                    .image
                                        ="\n"
                                        a(href="event-inner.html")
                                            .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image0.jpg") +")")
                                    .info.flex
                                        .hotel
                                            ="\n"
                                            i.icon-hotel
                                            | JW Marriot Absheron
                                        h3.title
                                            ="\n"
                                            a(href="event-inner.html") 45th International Association for Educational Assessment Conference
                                        .description
                                            p The Investpro Azerbaijan, organized by the Bosco Conference will take place from 4th to the 5th June 2018 at the JW Marriott Hotel Absheron Baku in Baku, Azerbaijan. The Investpro Azerbaijan, organized by the Bosco Conference will take place from 4th to the 5th June 2018 at the JW Marriott Hotel Absheron Baku in Baku, Azerbaijan. 
                                        .date-apply
                                            .date
                                                ="\n"
                                                i.icon-calendar
                                                | 16 January, 2019
                                            .stars
                                                ="\n"
                                                i.icon-star
                                                | 3-5 star hotels
                                            |
                                            |
                                            .actions.flex
                                                ="\n"
                                                a(href="#" class="btn-custom")
                                                    i.icon-pencil
                                                ="\n"
                                                a(href="#" class="btn-danger")
                                                    i.icon-trash
                            // Col
                            |
                            |
                            .col-lg-6.col-md-12.col-sm-6
                                .event-block.flex
                                    .image
                                        ="\n"
                                        a(href="event-inner.html")
                                            .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image0.jpg") +")")
                                    .info.flex
                                        .hotel
                                            ="\n"
                                            i.icon-hotel
                                            | JW Marriot Absheron
                                        h3.title
                                            ="\n"
                                            a(href="event-inner.html") 45th International Association for Educational Assessment Conference
                                        .description
                                            p The Investpro Azerbaijan, organized by the Bosco Conference will take place from 4th to the 5th June 2018 at the JW Marriott Hotel Absheron Baku in Baku, Azerbaijan. The Investpro Azerbaijan, organized by the Bosco Conference will take place from 4th to the 5th June 2018 at the JW Marriott Hotel Absheron Baku in Baku, Azerbaijan. 
                                        .date-apply
                                            .date
                                                ="\n"
                                                i.icon-calendar
                                                | 16 January, 2019
                                            .stars
                                                ="\n"
                                                i.icon-star
                                                | 3-5 star hotels
                                            |
                                            |
                                            a(href="#" class="btn-custom") Apply for Offer
                            // Col
    // Spacial offers page