extends ../layout/layout.pug

block content
    .breadcrumb-container
        .container-fluid
            .row
                .col-12
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                ="\n"
                                a(href="index.html") Home
                            li.breadcrumb-item Associate membership
    // Breadcrumbs
    |
    |
    section.associate-membership
        .page-intro.centered
            .intro-content.cover-center(style="background-image: url("+ require("../../images/associate-membership-bg.jpg") +")")
            |
            |
            .container-fluid
                .row
                    .col-12
                        h1.title(data-aos="zoom-in" data-aos-duration="1500") Associate membership
                        p(data-aos="fade-in" data-aos-duration="1500") Associate members are organizations with a vested interest in a strong hospitality industry and a valued part of AHA. 
        // Page intro 
        |
        |
        .page-categories
            ul.flex
                li
                    ="\n"
                    a(href="regular-membership.html") Regular membership
                li.active
                    ="\n"
                    a(href="associate-membership.html") Associate membership
        // Page categories
        |
        |
        .page-short-text.ptb-10(data-aos="fade-in" data-aos-duration="1200")
            .container-fluid
                .row
                    .col-xl-10.offset-xl-1
                        .editor-body.text-center
                            h2 Benefits of Membership
                            p Associate members are organizations (supplier, service provider, bank, consultant, educational institution etc.) with a vested interest in a strong hospitality industry and a valued part of AHA. Associate members leverage AHA as an efficient platform to demonstrate industry support, increase brand visibility and build their business. Primarily comprised of key decision makers in the hospitality industry’s various segments, our members value their supplier relationships and Allied support of AHA. There are two types of Associate Members.
        // Page short text
        |
        |
        .membership-types(data-aos="fade-in" data-aos-duration="1200")
            .container-fluid
                .row
                    .col-lg-6
                        .membership-type.flex
                            .info
                                .icon-wrapper.flex
                                    .icon
                                        ="\n"
                                        img(src=require("../../images/icons/hotel.svg"))
                                    // Icon
                                    h3.name Members Benefits
                                // Icon wrapper
                                .description
                                    ul
                                        li The AHA logo to use on your marketing material.
                                        li Access to the Online Directory of Members, emailed to you quarterly and posted on AHA website with Member authorization.
                                        li A free listing in AHA Member Directory annual printed Members’ guide and online directory.
                                        li Sponsorship and partnership opportunities, only available  to  Associate members.
                                        li Access to complimentary webinars and the member-only sections of hotelassociation.az
                                        li Free use of AHA research and access to AHA’s Information archive.
                                        li Monthly report on Tourism In-comings and trend report.
                            |
                            |
                            .pricing
                                p.fee Fee for Associate Membership
                                span Monthly report on Tourism In-comings and trend report
                                ="\n"
                                p.price
                                    ="\n"
                                    strong 2,500 AZN / year
                            // Pricing
                        // Membership type
                    // Col
                    |
                    |
                    .col-lg-6
                        .membership-type.flex
                            .info
                                .icon-wrapper.flex
                                    .icon
                                        ="\n"
                                        img(src=require("../../images/icons/hotel-star.svg"))
                                    // Icon
                                    h3.name Exclusive Members Benefits
                                // Icon wrapper
                                .description
                                    ul
                                        li In addition to above mentioned benefits, exclusive associate members: 
                                        li Undertakes the performance of organizing and hosting co-joint events such as seminars, training, product presentations etc. 
                                        li Offers with special discounts to be offered to Regular Members and placed on Website under special offerings according to communication with AHA Executive Office 
                                        li Participation in AHA events and being part of the hospitality leaders Platform
                            |
                            |
                            .pricing
                                p.fee Fee for Exclusive Associate Membership
                                span Monthly report on Tourism In-comings and trend report
                                ="\n"
                                p.price
                                    ="\n"
                                    strong min. 5,000 AZN / year
                            // Pricing
                        // Membership type
                    // Col
        // Membership types
        |
        |
        .partners.members.ptb-12-10(data-aos="fade-in" data-aos-duration="1200")
            .container-fluid
                .row
                    .col-12.text-center
                        h2.section-title Our Members
                        p.subtitle The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced an anxious wait to see if Whitley Bay’s Rosie Belsham could catch her but in the end her two-under par total of 286 proved to be enough to give her a one-shot victory over Belsham, Stoke by Nayland’s Lily May Humphreys, Scotland’s Shannon McWilliam and Sharna Dutrieux from Wrotham Heath.
                        |
                        |
                        .swiper-container.partners-slider
                            .swiper-wrapper
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image0.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") European Investment Bank
                                |
                                |
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image1.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") Embasy United States of America
                                |
                                |
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image2.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") Middlesex University
                                |
                                |
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image3.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") European Union
                                |
                                |
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image4.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") Ministry of Taxex of Azerbaijan Republic
                                |
                                |
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image5.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") Baku 2015 1st European Games
                                |
                                |
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image1.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") Embasy United States of America
                            |
                            |
                            .swiper-pagination.visible-1024
                        // Slider container
                    // Col
                    |
                    |
                    .col-12
                        .become-one.text-center
                            ="\n"
                            button(class="btn-custom") Become a member
                            |
                            |
                            p The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced
                        // Become a member
        // Partners
        |
        |