extends ../layout/layout.pug

block content
    section.cabinet.faq
        .cover-photo
            ="\n"
            img(src=require("../../images/cabinet/cover.jpg"))
        // Cover photo
        |
        |
        .avatar-section
            .container-fluid
                .row
                    .col-12
                        .avatar-wrapper.flex
                            .left
                                .avatar
                                    ="\n"
                                    img(src=require("../../images/cabinet/avatar.jpg"))
                            // Left
                            |
                            |
                            .right
                                .top.flex
                                    .name-plan
                                        h3.name JW Marriott Absheron
                                        p.plan Associate member/Exclusive
                                    |
                                    |
                                    |
                                    a(href="cabinet-account.html" class="btn-outline with-icon")
                                        ="\n"
                                        i.icon-pencil
                                        ="\n"
                                        span Edit Profile
                                        ="\n"
                                // Top
                                |
                                |
                                .bottom.flex
                                    ul.flex
                                        li
                                            ="\n"
                                            a(href="cabinet-upcoming-events.html") Upcoming events
                                        li
                                            ="\n"
                                            a(href="cabinet-members.html") Members
                                        li
                                            ="\n"
                                            a(href="cabinet-special-offers.html") Special offers
                                        li
                                            ="\n"
                                            a(href="cabinet-faq.html" class="active") FAQ
                                // Bottom
                            // Right
        // Avatar section
        |
        |
        .faq-questions
            .container-fluid
                .row
                    .col-12
                        .question-item
                            ="\n"
                            a(href="#question0" data-toggle="collapse" aria-expanded="false") Are there any standards/regulations for opening a hotel in Azerbaijan? What are the legislative documents needed prior opening a hotel?
                            |
                            |
                            .collapse(id="question0")
                                .collapse-content
                                    p For now, there is no specific standards/ regulations for opening a hotel in Azerbaijan. Opening hotel is subject to general rules on setting up and closing down operations. 
                        // Question item
                        |
                        |
                        .question-item
                            ="\n"
                            a(href="#question1" data-toggle="collapse" aria-expanded="false") Is there any mandatory insurance for hotel in Azerbaijan? 
                            |
                            |
                            .collapse(id="question1")
                                .collapse-content
                                    p Hotels in Azerbaijan are not subject to specific mandatory insurances. However, as all legal entities, hotels are subject to compulsory immovable property insurance, compulsory insurance from the loss of professional working capacity as a result of labour accidents and occupational diseases. 
                        // Question item
                        |
                        |
                        .question-item
                            ="\n"
                            a(href="#question2" data-toggle="collapse" aria-expanded="false") What are the mandatory taxes for hotels in Azerbaijan? 
                            |
                            |
                            .collapse(id="question2")
                                .collapse-content
                                    p Tax rates for all legal entities in the Republic of Azerbaijan are as follows:   Profit tax- 20%, Value added tax -18%, Asset tax- 1%, Land Tax -Various rates, according to size, location and use.,Income tax - subject to a 7-year tax benefit applicable to employees in the non-oil and gas industry and the non-state sector.
                        // Question item
                        |
                        |
                        .question-item
                            ="\n"
                            a(href="#question3" data-toggle="collapse" aria-expanded="false") Is there any specific procedure for foreign investors to open/operate a hotel/similar establishment in Azerbaijan? 
                            |
                            |
                            .collapse(id="question3")
                                .collapse-content
                                    p Opening hotel is subject to general rules on setting up and closing down operations.
                        // Question item
                        |
                        |
                        .question-item
                            ="\n"
                            a(href="#question4" data-toggle="collapse" aria-expanded="false") Is there any government support program for incentivizing the hotels in Azerbaijan? Is there any subsidy for new establishments/accommodations? 
                            |
                            |
                            .collapse(id="question4")
                                .collapse-content
                                    p Hotels obtained an investment promotion certificate ( a document issued to legal entities and private entrepreneurs, engaged in investment activities, in the manner prescribed by the relevant executive authority) get tax benefits and benefits on customs tariffs for the period of 7 years.
                        // Question item
                        |
                        |
                        .question-item
                            ="\n"
                            a(href="#question5" data-toggle="collapse" aria-expanded="false") What are the list of must-to-present documents during the check-in to hotel for registering the guest? Is marriage certificate mandatory for couples to present according to state law? Is there any claim if hotel does not register the guest (is there any fine, and which organization checks it, if any)? 
                            |
                            |
                            .collapse(id="question5")
                                .collapse-content
                                    p The legislation is not clear on documents to be submitted for registration during the check- in. However, considering that the hotels submit application which contains details on identification card, we are of the view that the identification card must be submitted by the citizens. Foreigners or stateless persons staying in the Republic of Azerbaijan for more than 15 days shall register at their place of stay and must submit their passports  (another border crossing document).
                                    p Marriage certificate is not mandatory for couples to present.
                        // Question item
                        |
                        |
                        .question-item
                            ="\n"
                            a(href="#question6" data-toggle="collapse" aria-expanded="false") Is there any law on hygiene/food safety?
                            |
                            |
                            .collapse(id="question6")
                                .collapse-content
                                    p General matters on hygiene/food safety are regulated by the Law on “Food Stuffs” No 759-IQ dated 18 November 1999. A new law draft on “Food safety” has entered to the Parliament of the Republic of Azerbaijan. Among others the draft covers issues as establishment on food safety system, protection of the rights of consumers etc.
                        // Question item
                        |
                        |
                        .question-item
                            ="\n"
                            a(href="#question7" data-toggle="collapse" aria-expanded="false") Which is the organization checking the guests’, as well as hotels’ complaints? 
                            |
                            |
                            .collapse(id="question7")
                                .collapse-content
                                    p The State Service for Antimonopoly and Consumers Rights Protection.
                        // Question item
                        |
                        |
                        .question-item
                            ="\n"
                            a(href="#question8" data-toggle="collapse" aria-expanded="false") Is there any customer protection law in general for hotels? Is there one indicating specifically about refund procedure (in exactly which cases money should be refunded to guests)? 
                            |
                            |
                            .collapse(id="question8")
                                .collapse-content
                                    p There is no specific rules regulating hotels' customers' rights. Customers’ rights protection is governed by the Law on Protection of Consumers' Rights No 1113, dated 19 September 1995. If executor doesn't start in time implementation of the contract for rendering services, consumer is entitled to refuse from the contract and demand for compensation of losses. In addition, consumer may demand for moral damage for violation of his/her rights.
                        // Question item
                        |
                        |
        // Faq questions
    // Faq page
    |
    |