extends ../layout/layout.pug

block content
    section.cabinet.upcoming-events
        .cover-photo
            ="\n"
            img(src=require("../../images/cabinet/cover.jpg"))
        // Cover photo
        |
        |
        .avatar-section
            .container-fluid
                .row
                    .col-12
                        .avatar-wrapper.flex
                            .left
                                .avatar
                                    ="\n"
                                    img(src=require("../../images/cabinet/avatar.jpg"))
                            // Left
                            |
                            |
                            .right
                                .top.flex
                                    .name-plan
                                        h3.name JW Marriott Absheron
                                        p.plan Associate member/Exclusive
                                    |
                                    |
                                    |
                                    a(href="cabinet-account.html" class="btn-outline with-icon")
                                        ="\n"
                                        i.icon-pencil
                                        ="\n"
                                        span Edit Profile
                                        ="\n"
                                // Top
                                |
                                |
                                .bottom.flex
                                    ul.flex
                                        li
                                            ="\n"
                                            a(href="cabinet-upcoming-events.html" class="active") Upcoming events
                                        li
                                            ="\n"
                                            a(href="cabinet-members.html") Members
                                        li
                                            ="\n"
                                            a(href="cabinet-special-offers.html") Special offers
                                        li
                                            ="\n"
                                            a(href="cabinet-faq.html") FAQ
                                // Bottom
                            // Right
        // Avatar section
        |
        |
        .events-list
            .container-fluid
                .row
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image0.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") 45th International Association for Educational Assessment Conference
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 16 January, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Baku, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image1.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") CIS & Eastern Europe Coatings Conference
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 3 March, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Qabala, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image2.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") International Conference on Application of Information and Communication Technologies
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 9 September, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Shaki, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image0.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") 45th International Association for Educational Assessment Conference
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 16 January, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Baku, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image1.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") CIS & Eastern Europe Coatings Conference
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 3 March, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Qabala, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image2.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") International Conference on Application of Information and Communication Technologies
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 9 September, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Shaki, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image0.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") 45th International Association for Educational Assessment Conference
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 16 January, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Baku, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image1.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") CIS & Eastern Europe Coatings Conference
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 3 March, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Qabala, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image2.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") International Conference on Application of Information and Communication Technologies
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 9 September, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Shaki, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image0.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") 45th International Association for Educational Assessment Conference
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 16 January, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Baku, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image1.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") CIS & Eastern Europe Coatings Conference
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 3 March, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Qabala, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image2.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") International Conference on Application of Information and Communication Technologies
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 9 September, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Shaki, Azerbaijan
                    // Col
                    |
                    |
        // Events list
        |
        |
        nav
            ul.pagination
                li.page-item.disabled
                    ="\n"
                    a.page-link(href="#") Prev
                li.page-item
                    ="\n"
                    a.page-link(href="#") Next
                li.page-item
                    ="\n"
                    a.page-link(href="#") 1
                li.page-item.active
                    ="\n"
                    a.page-link(href="#") 2
                li.page-item
                    ="\n"
                    a.page-link(href="#") 3
                li.page-item
                    ="\n"
                    a.page-link(href="#") ...
                li.page-item
                    ="\n"
                    a.page-link(href="#") 6
        // Pagination
        |
        |
    // Upcoming events page
    |
    |