extends ../layout/layout.pug

block content
    section.cabinet.offers
        .cover-photo
            ="\n"
            img(src=require("../../images/cabinet/cover.jpg"))
        // Cover photo
        |
        |
        .avatar-section
            .container-fluid
                .row
                    .col-12
                        .avatar-wrapper.flex
                            .left
                                .avatar
                                    ="\n"
                                    img(src=require("../../images/cabinet/avatar.jpg"))
                            // Left
                            |
                            |
                            .right
                                .top.flex
                                    .name-plan
                                        h3.name JW Marriott Absheron
                                        p.plan Associate member/Exclusive
                                    |
                                    |
                                    |
                                    a(href="cabinet-account.html" class="btn-outline with-icon")
                                        ="\n"
                                        i.icon-pencil
                                        ="\n"
                                        span Edit Profile
                                        ="\n"
                                // Top
                                |
                                |
                                .bottom.flex
                                    ul.flex
                                        li
                                            ="\n"
                                            a(href="cabinet-upcoming-events.html") Upcoming events
                                        li
                                            ="\n"
                                            a(href="cabinet-members.html") Members
                                        li
                                            ="\n"
                                            a(href="cabinet-special-offers.html" class="active") Special offers
                                        li
                                            ="\n"
                                            a(href="cabinet-faq.html") FAQ
                                // Bottom
                            // Right
        // Avatar section
        |
        |
        .special-offers
            .container-fluid
                .row
                    .col-md-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image0.jpg") +")")
                            .info.flex
                                .hotel
                                    ="\n"
                                    i.icon-hotel
                                    | JW Marriot Absheron
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") 45th International Association for Educational Assessment Conference
                                .description
                                    p The Investpro Azerbaijan, organized by the Bosco Conference will take place from 4th to the 5th June 2018 at the JW Marriott Hotel Absheron Baku in Baku, Azerbaijan. The Investpro Azerbaijan, organized by the Bosco Conference will take place from 4th to the 5th June 2018 at the JW Marriott Hotel Absheron Baku in Baku, Azerbaijan. 
                                .date-apply.flex
                                    .date
                                        ="\n"
                                        i.icon-calendar
                                        | 16 January, 2019
                                    |
                                    |
                                    a(href="#" class="btn-custom") Apply for Offer
                    // Col
                    |
                    |
                    .col-md-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image0.jpg") +")")
                            .info.flex
                                .hotel
                                    ="\n"
                                    i.icon-hotel
                                    | JW Marriot Absheron
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") 45th International Association for Educational Assessment Conference
                                .description
                                    p The Investpro Azerbaijan, organized by the Bosco Conference will take place from 4th to the 5th June 2018 at the JW Marriott Hotel Absheron Baku in Baku, Azerbaijan. The Investpro Azerbaijan, organized by the Bosco Conference will take place from 4th to the 5th June 2018 at the JW Marriott Hotel Absheron Baku in Baku, Azerbaijan. 
                                .date-apply.flex
                                    .date
                                        ="\n"
                                        i.icon-calendar
                                        | 16 January, 2019
                                    |
                                    |
                                    a(href="#" class="btn-custom") Apply for Offer
                    // Col
                    |
                    |
                    .col-md-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image0.jpg") +")")
                            .info.flex
                                .hotel
                                    ="\n"
                                    i.icon-hotel
                                    | JW Marriot Absheron
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") 45th International Association for Educational Assessment Conference
                                .description
                                    p The Investpro Azerbaijan, organized by the Bosco Conference will take place from 4th to the 5th June 2018 at the JW Marriott Hotel Absheron Baku in Baku, Azerbaijan. The Investpro Azerbaijan, organized by the Bosco Conference will take place from 4th to the 5th June 2018 at the JW Marriott Hotel Absheron Baku in Baku, Azerbaijan. 
                                .date-apply.flex
                                    .date
                                        ="\n"
                                        i.icon-calendar
                                        | 16 January, 2019
                                    |
                                    |
                                    a(href="#" class="btn-custom") Apply for Offer
                    // Col
                    |
                    |
                    .col-md-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image0.jpg") +")")
                            .info.flex
                                .hotel
                                    ="\n"
                                    i.icon-hotel
                                    | JW Marriot Absheron
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") 45th International Association for Educational Assessment Conference
                                .description
                                    p The Investpro Azerbaijan, organized by the Bosco Conference will take place from 4th to the 5th June 2018 at the JW Marriott Hotel Absheron Baku in Baku, Azerbaijan. The Investpro Azerbaijan, organized by the Bosco Conference will take place from 4th to the 5th June 2018 at the JW Marriott Hotel Absheron Baku in Baku, Azerbaijan. 
                                .date-apply.flex
                                    .date
                                        ="\n"
                                        i.icon-calendar
                                        | 16 January, 2019
                                    |
                                    |
                                    a(href="#" class="btn-custom") Apply for Offer
                    // Col
        // Special offers
        |
        |
        nav
            ul.pagination
                li.page-item.disabled
                    ="\n"
                    a.page-link(href="#") Prev
                li.page-item
                    ="\n"
                    a.page-link(href="#") Next
                li.page-item
                    ="\n"
                    a.page-link(href="#") 1
                li.page-item.active
                    ="\n"
                    a.page-link(href="#") 2
                li.page-item
                    ="\n"
                    a.page-link(href="#") 3
                li.page-item
                    ="\n"
                    a.page-link(href="#") ...
                li.page-item
                    ="\n"
                    a.page-link(href="#") 6
        // Pagination
        |
        |
    // Offers page 
    |
    |    