extends ../layout/layout.pug

block content
    section.cabinet.members
        .cover-photo
            ="\n"
            img(src=require("../../images/cabinet/cover.jpg"))
        // Cover photo
        |
        |
        .avatar-section
            .container-fluid
                .row
                    .col-12
                        .avatar-wrapper.flex
                            .left
                                .avatar
                                    ="\n"
                                    img(src=require("../../images/cabinet/avatar.jpg"))
                            // Left
                            |
                            |
                            .right
                                .top.flex
                                    .name-plan
                                        h3.name JW Marriott Absheron
                                        p.plan Associate member/Exclusive
                                    |
                                    |
                                    |
                                    a(href="cabinet-account.html" class="btn-outline with-icon")
                                        ="\n"
                                        i.icon-pencil
                                        ="\n"
                                        span Edit Profile
                                        ="\n"
                                // Top
                                |
                                |
                                .bottom.flex
                                    ul.flex
                                        li
                                            ="\n"
                                            a(href="cabinet-upcoming-events.html") Upcoming events
                                        li
                                            ="\n"
                                            a(href="cabinet-members.html" class="active") Members
                                        li
                                            ="\n"
                                            a(href="cabinet-special-offers.html") Special offers
                                        li
                                            ="\n"
                                            a(href="cabinet-faq.html") FAQ
                                // Bottom
                            // Right
        // Avatar section
        |
        |
        .members-list
            .container-fluid
                .row
                    .col-12
                        h3.block-title Regular Members
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image0.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") European Investment Bank
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image1.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Embasy United States of America
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image2.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Middlesex University
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image3.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") European Union
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image4.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Ministry of Taxex of Azerbaijan Republic
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image5.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Baku 2015 1st European Games
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image0.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") European Investment Bank
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image1.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Embasy United States of America
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image2.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Middlesex University
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image3.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") European Union
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image4.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Ministry of Taxex of Azerbaijan Republic
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image5.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Baku 2015 1st European Games
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image0.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") European Investment Bank
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image1.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Embasy United States of America
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image2.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Middlesex University
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image3.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") European Union
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image4.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Ministry of Taxex of Azerbaijan Republic
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image5.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Baku 2015 1st European Games
                    // Col
        // Members list (regular)
        |
        |
        .members-list
            .container-fluid
                .row
                    .col-12
                        h3.block-title Associate Members
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image0.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") European Investment Bank
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image1.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Embasy United States of America
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image2.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Middlesex University
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image3.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") European Union
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image4.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Ministry of Taxex of Azerbaijan Republic
                    // Col
                    |
                    |
                    .col-xl-2.col-lg-3.col-sm-4.col-6
                        .partner-block
                            .image.flex-center
                                ="\n"
                                a(href="#" target="_blank")
                                    ="\n"
                                    img(src=require("../../images/partners/image5.png") class="swiper-lazy")
                                    ="\n"
                            .name.text-center
                                ="\n"
                                a(href="#" target="_blank") Baku 2015 1st European Games
                    // Col
        // Members list (associate)
        |
        |
    // Members page
    |
    |
