extends ../layout/layout.pug

block content
    .breadcrumb-container
        .container-fluid
            .row
                .col-12
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                ="\n"
                                a(href="index.html") Home
                            li.breadcrumb-item Classification
    // Breadcrumbs
    |
    |
    section.classification-page
        .page-intro.centered
            .intro-content.cover-center(style="background-image: url("+ require("../../images/about-bg.jpg") +")")
            |
            |
            .container-fluid
                .row
                    .col-12
                        h1.title(data-aos="zoom-in" data-aos-duration="1500") Classification
                        p(data-aos="fade-in" data-aos-duration="1500") Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.
        // Page intro
        |
        |
        .page-short-text.ptb-9(data-aos="fade-in" data-aos-duration="1200")
            .container-fluid
                .row
                    .col-xl-10.offset-xl-1
                        .editor-body.text-center
                            h1 Some title about Classification
                            p The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced an anxious wait to see if Whitley Bay’s Rosie Belsham could catch her but in the end her two-under par total of 286 proved to be enough to give her a one-shot victory over Belsham, Stoke by Nayland’s Lily May Humphreys, Scotland’s Shannon McWilliam and Sharna Dutrieux from Wrotham Heath.
        // Page short text
        |
        |
        .classification-criterias.ptb-8(data-aos="fade-in" data-aos-duration="1200")
            .container-fluid
                .row
                    .col-12.text-center
                        h3.section-title Criterias
                        p.subtitle Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.
                    // Col
                    |
                    |
                    .col-md-6
                        .criteria-block
                            .icon
                                ="\n"
                                img(src="../../images/icons/pdf.svg")
                            h3.title
                                ="\n"
                                a(href="#" target="_blank") Transparency and security for the guest
                            .description
                                p Mountainous regions worldwide are affected by the impacts of an unrestrained  exploitation of...
                            .download-criteria
                                ="\n"
                                a(href="#" download)
                                    ="\n"
                                    i.icon-download
                                    | Download file
                                    ="\n"
                    // Col
                    |
                    |
                    .col-md-6
                        .apply-one.flex
                            h3.title Some message for applying... and get notifications about
                            p.desc Mountainous regions worldwide are affected by the impacts of ...
                            |
                            |
                            button.btn-custom(data-toggle="modal" data-target="#modal-apply-classification") Apply for Classification
                    // Col
        // Classification criterias
        |
        |
        .page-short-text.backgrounded.ptb-12-10(style="background-image: url("+ require("../../images/intro-slider/image0.jpg") +")")
            .container-fluid
                .row
                    .col-xl-10.offset-xl-1
                        .editor-body.text-center
                            h1 Some title about Regulation
                            p The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced an anxious wait to see if Whitley Bay’s Rosie Belsham could catch her but in the end her two-under par total of 286 proved to be enough to give her a one-shot victory over Belsham, Stoke by Nayland’s Lily May Humphreys, Scotland’s Shannon McWilliam and Sharna Dutrieux from Wrotham Heath.
                        |
                        |
                        .text-center
                            ="\n"
                            a(href="#" class="btn-outline with-icon" download) 
                                ="\n"
                                i.icon-download
                                | Download Regulation file
        // Page short text
        |
        |
        div(class="modal form-modal" id="modal-apply-classification" tabindex="-1")
            div(class="modal-dialog")
                div(class="modal-content")
                    .custom-card
                        .card-header
                            h3.card-title Apply for classification
                            |
                            |
                            .close-modal(data-dismiss="modal")
                                ="\n"
                                i.icon-times
                        // Card header
                        |
                        |
                        .card-body
                            form(action="#" method="POST")
                                .form-group.select
                                    select(class="form-control")
                                        option(value="exclusive") Exclusive membership
                                        option(value="associate") Associate membership
                                        option(value="option3") Option 3
                                |
                                |
                                .form-group
                                    input(type="text" class="form-control" placeholder="Company Name" required)
                                |
                                |
                                .form-group
                                    input(type="text" class="form-control" placeholder="Position" required)
                                |
                                |
                                .form-group
                                    input(type="email" class="form-control" placeholder="E-mail address" required)
                                |
                                |
                                .form-group.text-center
                                    input(type="checkbox" id="terms")
                                    label(for="terms") Please choose the exhibition #[a(href="#" target="_blank") terms & conditions]
                                |
                                |
                                button(type="submit" class="btn-custom") Apply
                        // Card body
                    // Custom card
        // Modal apply classification
        |
        |
    // Classification page
    |
    |