extends ../layout/layout.pug

block content
    .breadcrumb-container
        .container-fluid
            .row
                .col-12
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                ="\n"
                                a(href="index.html") Home
                            li.breadcrumb-item
                                ="\n"
                                a(href="about.html") About Us
                            li.breadcrumb-item Contact Us
    // Breadcrumbs
    |
    |
    .alert.alert-danger.alert-dismissible
        p Something went wrong
        |
        |
        button(class="close" data-dismiss="alert" type="button")
            ="\n"
            span(aria-hidden="true") &times;
    // Alert
    |
    |
    section.contact-page
        .page-intro.centered
            .intro-content.cover-center(style="background-image: url("+ require("../../images/about-bg.jpg") +")")
            |
            |
            .container-fluid
                .row
                    .col-12
                        h1.title(data-aos="zoom-in" data-aos-duration="1500") Contact Us
                        p(data-aos="fade-in" data-aos-duration="1500") Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.
        // Page intro
        |
        |
        .page-categories
            ul.flex
                li
                    ="\n"
                    a(href="about.html") About Association
                li
                    ="\n"
                    a(href="team.html") Team members
                li.active
                    ="\n"
                    a(href="contact.html") Contact us
        // Page categories
        |
        |
        .contact-body.ptb-8
            .container-fluid
                .row
                    .col-lg-6(data-aos="fade-in" data-aos-duration="900")
                        .contact-info
                            h2.block-title Contact us for...
                            p.subtitle Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.
                            |
                            |
                            .row
                                .col-sm-6
                                    .info-item
                                        h3.label.flex
                                            ="\n"
                                            i.icon-marker
                                            | Address
                                        |
                                        |
                                        p 96E Nizami Street
                                        p Landmark I, 3rd Floor Baku, AZ1010, Azerbaijan
                                // Col
                                |
                                |
                                .col-sm-6
                                    .info-item
                                        h3.label.flex
                                            ="\n"
                                            i.icon-notepad
                                            | Contacts
                                        |
                                        |
                                        ul
                                            li
                                                ="\n"
                                                a(href="#") +994 50 250 74 21
                                            li
                                                ="\n"
                                                a(href="#") +994 12 250 74 21
                                            li
                                                ="\n"
                                                a(href="#") info@hotelassociation.az
                                // Col
                            // Row
                            |
                            |
                            .divider
                            |
                            |
                            .row
                                .col-sm-6
                                    .department
                                        h3.department-head Name Surname
                                        p.department-name Marketing department
                                        |
                                        |
                                        ul
                                            li
                                                ="\n"
                                                a(href="#")
                                                    ="\n"
                                                    i.icon-mobile
                                                    | +994 50 250 74 21
                                                    ="\n"
                                            li
                                                ="\n"
                                                a(href="#")
                                                    ="\n"
                                                    i.icon-phone
                                                    | +994 12 250 74 21
                                                    ="\n"
                                            li
                                                ="\n"
                                                a(href="#")
                                                    ="\n"
                                                    i.icon-mail-alt
                                                    | example@mail.com
                                                    ="\n"
                                // Col
                                |
                                |
                                .col-sm-6
                                    .department
                                        h3.department-head Name Surname
                                        p.department-name Marketing department
                                        |
                                        |
                                        ul
                                            li
                                                ="\n"
                                                a(href="#")
                                                    ="\n"
                                                    i.icon-mobile
                                                    | +994 50 250 74 21
                                                    ="\n"
                                            li
                                                ="\n"
                                                a(href="#")
                                                    ="\n"
                                                    i.icon-phone
                                                    | +994 12 250 74 21
                                                    ="\n"
                                            li
                                                ="\n"
                                                a(href="#")
                                                    ="\n"
                                                    i.icon-mail-alt
                                                    | nuray.huseynzada@hotelassociation.az
                                                    ="\n"
                                // Col
                            // Row
                        // Contact info
                    // Col
                    |
                    |
                    .col-lg-6(data-aos="fade-in" data-aos-duration="900")
                        .contact-form
                            h2.block-title Send us your message
                            p.subtitle Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.
                            |
                            |
                            form(action="#" method="post")
                                .form-group
                                    input(type="text" class="form-control" placeholder="Name" required)
                                |
                                |
                                .form-group
                                    input(type="email" class="form-control" placeholder="E-mail address" required)
                                |
                                |
                                .form-group
                                    textarea(class="form-control" rows="7" placeholder="Message" required)
                                |
                                |
                                button(class="btn-custom submit-contact") Apply
                        // Contact form
                    // Col
        // Contact info
    // Contact page
    |
    |