extends ../layout/layout.pug

block content
    .breadcrumb-container
        .container-fluid
            .row
                .col-12
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                ="\n"
                                a(href="index.html") Home
                            li.breadcrumb-item Events
    // Breadcrumbs
    |
    |
    section.events-page
        .page-intro
            .intro-content.cover-center(style="background-image: url("+ require("../../images/events/cover.jpg") +")")
            |
            |
            .container-fluid
                .row
                    .col-12
                        h1.title(data-aos="fade-in" data-aos-duration="1500") Events & Trainings
                        p(data-aos="fade-in" data-aos-duration="1500") Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.
        // Page intro
        |
        |
        .event-types
            .container-fluid
                .row
                    .col-12.flex
                        ul.text-center
                            li
                                ="\n"
                                a(href="#" class="active") All
                            li
                                ="\n"
                                a(href="#") Events
                            li
                                ="\n"
                                a(href="#") Trainings
        // Other page categories
        |
        |
        .page-filters(data-aos="fade-in" data-aos-duration="1200")
            .container-fluid
                .row
                    .col-12.flex
                        ul.by-type
                            li
                                ="\n"
                                a(href="#" class="active") All Events
                            li
                                ="\n"
                                a(href="#") Current
                            li
                                ="\n"
                                a(href="#") Upcoming
                            li
                                ="\n"
                                a(href="#") Completed
                            li
                                ="\n"
                                a(href="#") Archieve
                        // By type
                        |
                        |
                        .by-date
                            form(action="#" method="get")
                                .form-group
                                    input(type="text" class="form-control date-from" data-language="en" placeholder="Date from")
                                |
                                |
                                .form-group
                                    input(type="text" class="form-control date-to" data-language="en" placeholder="Date to")
                        // By date
        // Page / category filters
        |
        |
        .events-list(data-aos="fade-in" data-aos-duration="1200")
            .container-fluid
                .row
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image0.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") 45th International Association for Educational Assessment Conference
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 16 January, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Baku, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image1.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") CIS & Eastern Europe Coatings Conference
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 3 March, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Qabala, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image2.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") International Conference on Application of Information and Communication Technologies
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 9 September, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Shaki, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image0.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") 45th International Association for Educational Assessment Conference
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 16 January, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Baku, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image1.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") CIS & Eastern Europe Coatings Conference
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 3 March, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Qabala, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image2.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") International Conference on Application of Information and Communication Technologies
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 9 September, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Shaki, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image0.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") 45th International Association for Educational Assessment Conference
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 16 January, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Baku, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image1.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") CIS & Eastern Europe Coatings Conference
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 3 March, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Qabala, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image2.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") International Conference on Application of Information and Communication Technologies
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 9 September, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Shaki, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image0.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") 45th International Association for Educational Assessment Conference
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 16 January, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Baku, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image1.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") CIS & Eastern Europe Coatings Conference
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 3 March, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Qabala, Azerbaijan
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image2.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") International Conference on Application of Information and Communication Technologies
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 9 September, 2019
                                .location
                                    ="\n"
                                    i.icon-marker
                                    | Shaki, Azerbaijan
                    // Col
                    |
                    |
        // Events list
        |
        |
        nav
            ul.pagination
                li.page-item.disabled
                    ="\n"
                    a.page-link(href="#") Prev
                li.page-item
                    ="\n"
                    a.page-link(href="#") Next
                li.page-item
                    ="\n"
                    a.page-link(href="#") 1
                li.page-item.active
                    ="\n"
                    a.page-link(href="#") 2
                li.page-item
                    ="\n"
                    a.page-link(href="#") 3
                li.page-item
                    ="\n"
                    a.page-link(href="#") ...
                li.page-item
                    ="\n"
                    a.page-link(href="#") 6
        // Pagination
        |
        |
    // Events Page
    |
    |
    include ../includes/subscribe.pug
    |
    |