extends ../layout/layout.pug

block content
    .breadcrumb-container
        .container-fluid
            .row
                .col-12
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                ="\n"
                                a(href="index.html") Home
                            li.breadcrumb-item
                                ="\n"
                                a(href="events.html") Events
                            li.breadcrumb-item CIS & Eastern Europe Coatings Conference
    // Breadcrumbs
    |
    |
    section.event-inner-page
        .page-intro.secondary
            .intro-content.cover-center(style="background-image: url("+ require("../../images/events/selected.jpg") +")")
            |
            |
            .container-fluid(data-aos="fade-in" data-aos-duration="1500")
                .row
                    .col-12
                        .flex
                            .date
                                ="\n"
                                i.icon-calendar
                                | 16 January, 2019
                            .location
                                ="\n"
                                i.icon-marker
                                | Baku, Azerbaijan
                        h1.title CIS & Eastern Europe Coatings Conference
                        p Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.
        // Page intro
        |
        |
        .page-content.ptb-6
            .container-fluid
                .row
                    .col-12
                        .page-body.flex
                            .left
                                .editor-body(data-aos="fade-in" data-aos-duration="1200")
                                    h1 The Investpro Azerbaijan, organized by the Bosco Conference will take place from 4th to the 5th June 2018 at the JW Marriott Hotel Absheron Baku in Baku, Azerbaijan. 
                                    p The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced an anxious wait to see if Whitley Bay’s Rosie Belsham could catch her but in the end her two-under par total of 286 proved to be enough to give her a one-shot victory over Belsham, Stoke by Nayland’s Lily May Humphreys, Scotland’s Shannon McWilliam and Sharna Dutrieux from Wrotham Heath.
                                    p Humphreys made a late charge in a bid to add to the Welsh and Irish Women’s Stroke Play titles she won earlier in the season but in the end a birdie at the last for a 68 was not quite enough.
                                    p Scottish international McWilliam also moved up the field with four birdies in the opening 15 holes of her final round but a bogey at the last meant she had to settle for a 69 which left her one shot short.
                                    p Dutrieux made her move in the morning with a 69 and she looked as if she would maintain her run when she fired five birdies in seven holes from the fifth but four dropped shots over the closing stretch saw her also come up one shot short in the group in second place.
                                    p Belsham knew she needed to birdie the last to take Earl into a play-off but it was not to be and her 74 also saw her finish in the group on one under par 287.
                                    p The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced an anxious wait to see if Whitley Bay’s Rosie Belsham could catch her but in the end her two-under par total of 286 proved to be enough to give her a one-shot victory over Belsham, Stoke by Nayland’s Lily May Humphreys, Scotland’s Shannon McWilliam and Sharna Dutrieux from Wrotham Heath.
                                    p Humphreys made a late charge in a bid to add to the Welsh and Irish Women’s Stroke Play titles she won earlier in the season but in the end a birdie at the last for a 68 was not quite enough.
                                    p Scottish international McWilliam also moved up the field with four birdies in the opening 15 holes of her final round but a bogey at the last meant she had to settle for a 69 which left her one shot short.
                                // Editor body
                            // Left
                            |
                            |
                            .right
                                .other-articles(data-aos="fade-in" data-aos-duration="1200")
                                    .swiper-container
                                        .swiper-wrapper
                                            .swiper-slide
                                                .block-backgrounded
                                                    .swiper-lazy.image(data-background=require("../../images/events/other.jpg"))
                                                    |
                                                    |
                                                    .info.flex
                                                        h3.title
                                                            ="\n"
                                                            a(href="event-inner.html") Azerbaijan-India Roadshow on Travel Trade in Delhi, Bengaluru and Mumbai
                                                        .date
                                                            ="\n"
                                                            i.icon-calendar
                                                            | 18 January, 2019
                                                        .location
                                                            ="\n"
                                                            i.icon-marker
                                                            | Qabala, Azerbaijan
                                            |
                                            |
                                            .swiper-slide
                                                .block-backgrounded
                                                    .swiper-lazy.image(data-background=require("../../images/events/other.jpg"))
                                                    |
                                                    |
                                                    .info.flex
                                                        h3.title
                                                            ="\n"
                                                            a(href="event-inner.html") Azerbaijan-India Roadshow on Travel Trade in Delhi, Bengaluru and Mumbai
                                                        .date
                                                            ="\n"
                                                            i.icon-calendar
                                                            | 18 January, 2019
                                                        .location
                                                            ="\n"
                                                            i.icon-marker
                                                            | Qabala, Azerbaijan
                                        |
                                        |
                                        .swiper-pagination
                                    // Slider container
                                    |
                                    |
                                    .see-all.flex-center
                                        ="\n"
                                        a(href="events.html" class="flex")
                                            | See all events
                                            i.icon-arrow-longer
                                    // See all
                                // Other events
                                |
                                |
                                .apply-event-container
                                    h3.event-title Azerbaijan-India Roadshow on Travel Trade in Delhi, Bengaluru and Mumbai
                                    ="\n"
                                    button.btn-custom(data-toggle="modal" data-target="#modal-apply-event") Apply event
                                // Apply event
                            // Right
                            |
                            |
                            .gallery-container(data-aos="fade-in" data-aos-duration="1200")
                                .section-header.flex
                                    h2.section-title Gallery
                                    |
                                    |
                                    .slider-controls.flex
                                        .prev-slide
                                            ="\n"
                                            i.icon-arrow-longest
                                        .next-slide
                                            ="\n"
                                            i.icon-arrow-longest
                                // Section header
                                |
                                |
                                .swiper-container.gallery
                                    .swiper-wrapper
                                        .swiper-slide
                                            .swiper-lazy.cover-center(data-background=require("../../images/gallery/image0.jpg"))
                                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                                        .swiper-slide
                                            .swiper-lazy.cover-center(data-background=require("../../images/gallery/image1.jpg"))
                                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                                        .swiper-slide
                                            .swiper-lazy.cover-center(data-background=require("../../images/gallery/image2.jpg"))
                                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                                        .swiper-slide
                                            .swiper-lazy.cover-center(data-background=require("../../images/gallery/image3.jpg"))
                                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                                        .swiper-slide
                                            .swiper-lazy.cover-center(data-background=require("../../images/gallery/image0.jpg"))
                                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                                        .swiper-slide
                                            .swiper-lazy.cover-center(data-background=require("../../images/gallery/image1.jpg"))
                                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            // Gallery container
                        // Page body
        // Page content
        |
        |
        .related-events.events.ptb-9(data-aos="fade-in" data-aos-duration="1200")
            .container-fluid
                .row
                    .col-12
                        .section-header.flex
                            h2.section-title Related events & Trainings
                            |
                            |
                            .slider-controls.flex.hidden-768
                                .prev-slide
                                    ="\n"
                                    i.icon-arrow-longest
                                .next-slide
                                    ="\n"
                                    i.icon-arrow-longest
                        // Section header
                        |
                        |
                        .swiper-container.events-slider.x-3
                            .swiper-wrapper
                                .swiper-slide.no-swipe
                                    .event-block.flex
                                        .image
                                            ="\n"
                                            a(href="event-inner.html")
                                                .swiper-lazy.cover-center(data-background=require("../../images/events/image0.jpg"))
                                        .info.flex
                                            h3.title
                                                ="\n"
                                                a(href="event-inner.html") 45th International Association for Educational Assessment Conference
                                            .date
                                                ="\n"
                                                i.icon-calendar
                                                | 16 January, 2019
                                            .location
                                                ="\n"
                                                i.icon-marker
                                                | Baku, Azerbaijan
                                |
                                |
                                .swiper-slide.no-swipe
                                    .event-block.flex
                                        .image
                                            ="\n"
                                            a(href="event-inner.html")
                                                .swiper-lazy.cover-center(data-background=require("../../images/events/image1.jpg"))
                                        .info.flex
                                            h3.title
                                                ="\n"
                                                a(href="event-inner.html") CIS & Eastern Europe Coatings Conference
                                            .date
                                                ="\n"
                                                i.icon-calendar
                                                | 3 March, 2019
                                            .location
                                                ="\n"
                                                i.icon-marker
                                                | Qabala, Azerbaijan
                                |
                                |
                                .swiper-slide.no-swipe
                                    .event-block.flex
                                        .image
                                            ="\n"
                                            a(href="event-inner.html")
                                                .swiper-lazy.cover-center(data-background=require("../../images/events/image2.jpg"))
                                        .info.flex
                                            h3.title
                                                ="\n"
                                                a(href="event-inner.html") International Conference on Application of Information and Communication Technologies
                                            .date
                                                ="\n"
                                                i.icon-calendar
                                                | 9 September, 2019
                                            .location
                                                ="\n"
                                                i.icon-marker
                                                | Shaki, Azerbaijan
                                |
                                |
                                .swiper-slide.no-swipe
                                    .event-block.flex
                                        .image
                                            ="\n"
                                            a(href="event-inner.html")
                                                .swiper-lazy.cover-center(data-background=require("../../images/events/image0.jpg"))
                                        .info.flex
                                            h3.title
                                                ="\n"
                                                a(href="event-inner.html") 45th International Association for Educational Assessment Conference
                                            .date
                                                ="\n"
                                                i.icon-calendar
                                                | 16 January, 2019
                                            .location
                                                ="\n"
                                                i.icon-marker
                                                | Baku, Azerbaijan
                            |
                            |
                            .swiper-pagination
                        // Slider container
        // Related events
        |
        |
    // Event inner page
    |
    |
    include ../includes/subscribe.pug
    |
    |
    div(class="modal form-modal" id="modal-apply-event" tabindex="-1")
        div(class="modal-dialog")
            div(class="modal-content")
                .custom-card
                    .card-header
                        h3.card-title Apply for event
                        |
                        |
                        .close-modal(data-dismiss="modal")
                            ="\n"
                            i.icon-times
                    // Card header
                    |
                    |
                    .card-body
                        p.card-body-title CIS & Eastern Europe Coatings Conference
                        |
                        |
                        form(action="#" method="POST")
                            .form-group
                                input(type="text" class="form-control" placeholder="Hotel Name" required)
                            |
                            |
                            .form-group
                                input(type="text" class="form-control" placeholder="Hotelier Name" required)
                            |
                            |
                            .form-group
                                input(type="text" class="form-control" placeholder="Position" required)
                            |
                            |
                            .form-group
                                input(type="text" class="form-control" placeholder="E-mail address" required)
                            |
                            |
                            .form-group.text-center
                                input(type="checkbox" id="terms")
                                label(for="terms") Please choose the exhibition #[a(href="#" target="_blank") terms & conditions]
                            |
                            |
                            button(type="submit" class="btn-custom") Apply
                    // Card body
                // Custom card
    // Modal apply event
    |
    |