extends ../layout/empty-layout.pug

block content
    .form-page.flex-center
        .form-page-content
            h1.form-title.text-center Forgot Password?
            p.form-subtitle.text-center Some description about reseting password... Please choose the exhibition and fill the registration form for collective
            |
            |
            .form-wrapper
                form(action="#" method="POST")
                    .form-group
                        input(type="email" class="form-control" placeholder="Enter your e-mail" required)
                    |
                    |
                    button(class="btn-custom btn-block") Send request
                    |
                    |
                    .sign-in.text-center
                        ="\n"
                        a(href="login.html") Sign in
            // Form wrapper
        // Form page content
    // Form page
    |
    |