extends ../layout/layout.pug

block content
    section.intro-slider
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    .swiper-lazy.cover-center(data-background=require("../../images/intro-slider/image0.jpg"))
                        .swiper-lazy-preloader.swiper-lazy-preloader-white
                    |
                    |
                    .container-fluid
                        .row
                            .col-12
                                h1.title
                                    ="\n"
                                    a(href="#") Everything for your comfortable rest and family!
                                p Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.
                |
                |
                .swiper-slide
                    .swiper-lazy.cover-center(data-background=require("../../images/intro-slider/image1.png"))
                        .swiper-lazy-preloader.swiper-lazy-preloader-white
                    |
                    |
                    .container-fluid
                        .row
                            .col-12
                                h1.title Lorem ipsum dolor sit amet consectetur adipisicing.
                                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. At ullam soluta quo ducimus beatae nam inventore. Similique, quae! Nisi laudantium et qui!
                |
                |
                .swiper-slide
                    .swiper-lazy.cover-center(data-background=require("../../images/intro-slider/image0.jpg"))
                        .swiper-lazy-preloader.swiper-lazy-preloader-white
                    |
                    |
                    .container-fluid
                        .row
                            .col-12
                                h1.title Everything for your comfortable rest and family!
                                p Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.
                |
                |
                .swiper-slide
                    .swiper-lazy.cover-center(data-background=require("../../images/intro-slider/image1.png"))
                        .swiper-lazy-preloader.swiper-lazy-preloader-white
                    |
                    |
                    .container-fluid
                        .row
                            .col-12
                                h1.title Lorem ipsum dolor sit amet consectetur adipisicing.
                                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. At ullam soluta quo ducimus beatae nam inventore. Similique, quae! Nisi laudantium et qui!
            |
            |
            .swiper-pagination
    // Intro slider
    |
    |
    section.services.ptb-9(data-aos="fade-in" data-aos-duration="1200")
        .container-fluid
            .row
                .col-12.text-center
                    h2.section-title What we do
                    p.subtitle Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.
                // Col
                |
                |
                .col-lg-3.col-sm-6
                    .service-item.flex
                        ="\n"
                        a(href="#").icon.flex-center
                            ="\n"
                            img(src=require("../../images/icons/lobbying.png"))
                            ="\n"
                        |
                        |
                        p.name
                            a(href="#") Lobbying
                // Col
                |
                |
                .col-lg-3.col-sm-6
                    .service-item.flex
                        ="\n"
                        a(href="#").icon.flex-center
                            ="\n"
                            img(src=require("../../images/icons/classification.png"))
                            ="\n"
                        |
                        |
                        p.name
                            a(href="#") National Hotel Star Classification
                // Col
                |
                |
                .col-lg-3.col-sm-6
                    .service-item.flex
                        ="\n"
                        a(href="#").icon.flex-center
                            ="\n"
                            img(src=require("../../images/icons/promotion.png"))
                            ="\n"
                        |
                        |
                        p.name
                            a(href="#") Promotion
                // Col
                |
                |
                .col-lg-3.col-sm-6
                    .service-item.flex
                        ="\n"
                        a(href="#").icon.flex-center
                            ="\n"
                            img(src=require("../../images/icons/education.png"))
                            ="\n"
                        |
                        |
                        p.name
                            a(href="#") Education
                // Col
                |
                |
                .hidden-services
                    .row
                        .col-lg-3.col-sm-6
                            .service-item.flex
                                ="\n"
                                a(href="#").icon.flex-center
                                    ="\n"
                                    img(src=require("../../images/icons/lobbying.png"))
                                    ="\n"
                                |
                                |
                                p.name Lobbying
                        // Col
                        |
                        |
                        .col-lg-3.col-sm-6
                            .service-item.flex
                                ="\n"
                                a(href="#").icon.flex-center
                                    ="\n"
                                    img(src=require("../../images/icons/classification.png"))
                                    ="\n"
                                |
                                |
                                p.name
                                    a(href="#") National Hotel Star Classification
                        // Col
                        |
                        |
                        .col-lg-3.col-sm-6
                            .service-item.flex
                                ="\n"
                                a(href="#").icon.flex-center
                                    ="\n"
                                    img(src=require("../../images/icons/promotion.png"))
                                    ="\n"
                                |
                                |
                                p.name
                                    a(href="#") Promotion
                        // Col
                        |
                        |
                        .col-lg-3.col-sm-6
                            .service-item.flex
                                ="\n"
                                a(href="#").icon.flex-center
                                    ="\n"
                                    img(src=require("../../images/icons/education.png"))
                                    ="\n"
                                |
                                |
                                p.name
                                    a(href="#") Education
                        // Col
                // Hidden services
                |
                |
                .toggle-services.text-center
                    button.btn-outline
                        | See More
                        i.icon-dropdown-arrow
                    |
                    |
                    button.btn-outline
                        | See Less
                        i.icon-dropdown-arrow
    // Services
    |
    |
    section.statistics.ptb-9(data-aos="fade-in" data-aos-duration="1200")
        .container-fluid
            .row
                .col-12
                    .section-header.flex
                        h2.section-title Statistics
                        |
                        |
                        .actions
                            ="\n"
                            a(href="news.html")
                                | See More Statistics
                                i.icon-arrow-longer
                    // Section header
                    |
                    |
                    .swiper-container.statistics-slider.x-4
                        .swiper-wrapper
                            .swiper-slide.no-swipe
                                .default-block.flex
                                    .image
                                        ="\n"
                                        a(href="statistics-inner.html")
                                            .swiper-lazy.cover-center(data-background=require("../../images/statistics/image0.jpg"))
                                    .info.flex
                                        h3.title
                                            ="\n"
                                            a(href="statistics-inner.html") Tourism marketplace report
                                        .description
                                            p Mountanious regions worldwide are offered by the impacts of an unrestained exploitation of...
                                        |
                                        |
                                        a.see-more.flex(href="statistics-inner.html")
                                            ="\n"
                                            img(src=require("../../images/icons/pdf.svg"))
                                            | See statistics
                                            ="\n"
                            |
                            |
                            .swiper-slide.no-swipe
                                .default-block.flex
                                    .image
                                        ="\n"
                                        a(href="statistics-inner.html")
                                            .swiper-lazy.cover-center(data-background=require("../../images/statistics/image1.jpg"))
                                    .info.flex
                                        h3.title
                                            ="\n"
                                            a(href="statistics-inner.html") Intertanional Events report
                                        .description
                                            p Mountanious regions worldwide are offered by the impacts of an unrestained exploitation of...
                                        |
                                        |
                                        a.see-more.flex(href="statistics-inner.html")
                                            ="\n"
                                            img(src=require("../../images/icons/pdf.svg"))
                                            | See statistics
                                            ="\n"
                            |
                            |
                            .swiper-slide.no-swipe
                                .default-block.flex
                                    .image
                                        ="\n"
                                        a(href="statistics-inner.html")
                                            .swiper-lazy.cover-center(data-background=require("../../images/statistics/image2.jpg"))
                                    .info.flex
                                        h3.title
                                            ="\n"
                                            a(href="statistics-inner.html") Tourists visit statistics report
                                        .description
                                            p Mountanious regions worldwide are offered by the impacts of an unrestained exploitation of...
                                        |
                                        |
                                        a.see-more.flex(href="statistics-inner.html")
                                            ="\n"
                                            img(src=require("../../images/icons/pdf.svg"))
                                            | See statistics
                                            ="\n"
                            |
                            |
                            .swiper-slide.no-swipe
                                .default-block.flex
                                    .image
                                        ="\n"
                                        a(href="statistics-inner.html")
                                            .swiper-lazy.cover-center(data-background=require("../../images/statistics/image3.jpg"))
                                    .info.flex
                                        h3.title
                                            ="\n"
                                            a(href="statistics-inner.html") Tourism marketplace report
                                        .description
                                            p Mountanious regions worldwide are offered by the impacts of an unrestained exploitation of...
                                        |
                                        |
                                        a.see-more.flex(href="statistics-inner.html")
                                            ="\n"
                                            img(src=require("../../images/icons/pdf.svg"))
                                            | See statistics
                                            ="\n"
                        |
                        |
                        .swiper-pagination.visible-1024
                    // Slider container
    // Statistics
    |
    |
    section.news.ptb-9(data-aos="fade-in" data-aos-duration="1200")
        .container-fluid
            .row
                .col-12
                    .section-header.flex
                        h2.section-title Latest News
                        |
                        |
                        .actions
                            ="\n"
                            a(href="news.html")
                                | See More News
                                i.icon-arrow-longer
                    // Section header
                    |
                    |
                    .swiper-container.news-slider.x-3
                        .swiper-wrapper
                            .swiper-slide.no-swipe
                                .news-block.flex
                                    .image
                                        ="\n"
                                        a(href="news-inner.html")
                                            .swiper-lazy.cover-center(data-background=require("../../images/news/image0.jpg"))
                                    .info.flex
                                        .date
                                            ="\n"
                                            i.icon-calendar
                                            | 16 January, 2019
                                        h3.title
                                            ="\n"
                                            a(href="news-inner.html") Eurasian Geographic Information Systems Congress
                                        .description
                                            p The Eurasian Geographic Information Systems Congress aims to help exchange scientific information, share practical experiences, develop visionary approaches…
                            |
                            |
                            .swiper-slide.no-swipe
                                .news-block.flex
                                    .image
                                        ="\n"
                                        a(href="news-inner.html")
                                            .swiper-lazy.cover-center(data-background=require("../../images/news/image1.jpg"))
                                    .info.flex
                                        .date
                                            ="\n"
                                            i.icon-calendar
                                            | 3 March, 2019
                                        h3.title
                                            ="\n"
                                            a(href="news-inner.html") International Conference Mountains: Cultures, Landscapes and Biodiversity
                                        .description
                                            p Mountainous regions worldwide are affected by the impacts of an unrestrained exploitation of resources (due to heavy mining and intensive farming) and an…
                            |
                            |
                            .swiper-slide.no-swipe
                                .news-block.flex
                                    .image
                                        ="\n"
                                        a(href="news-inner.html")
                                            .swiper-lazy.cover-center(data-background=require("../../images/news/image2.jpg"))
                                    .info.flex
                                        .date
                                            ="\n"
                                            i.icon-calendar
                                            | 9 September, 2019
                                        h3.title
                                            ="\n"
                                            a(href="news-inner.html") The Investpro Azerbaijan, by the Bosco Conference
                                        .description
                                            p The Investpro Azerbaijan, organized by the Bosco Conference will take place from 4th to the 5th June 2018 at the JW Marriott Hotel Absheron Baku in Baku, Azerbaijan.
                        |
                        |
                        .swiper-pagination.visible-1024
                    // Slider container
    // Latest news
    |
    |
    section.events.ptb-9(data-aos="fade-in" data-aos-duration="1200")
        .container-fluid
            .row
                .col-12
                    .section-header.flex
                        h2.section-title Events & Trainings
                        |
                        |
                        .actions
                            ="\n"
                            a(href="events.html")
                                | See All Events
                                i.icon-arrow-longer
                    // Section header
                    |
                    |
                    .swiper-container.events-slider.x-3
                        .swiper-wrapper
                            .swiper-slide.no-swipe
                                .event-block.flex
                                    .image
                                        ="\n"
                                        a(href="event-inner.html")
                                            .swiper-lazy.cover-center(data-background=require("../../images/events/image0.jpg"))
                                    .info.flex
                                        h3.title
                                            ="\n"
                                            a(href="event-inner.html") 45th International Association for Educational Assessment Conference
                                        .date
                                            ="\n"
                                            i.icon-calendar
                                            | 16 January, 2019
                                        .location
                                            ="\n"
                                            i.icon-marker
                                            | Baku, Azerbaijan
                            |
                            |
                            .swiper-slide.no-swipe
                                .event-block.flex
                                    .image
                                        ="\n"
                                        a(href="event-inner.html")
                                            .swiper-lazy.cover-center(data-background=require("../../images/events/image1.jpg"))
                                    .info.flex
                                        h3.title
                                            ="\n"
                                            a(href="event-inner.html") CIS & Eastern Europe Coatings Conference
                                        .date
                                            ="\n"
                                            i.icon-calendar
                                            | 3 March, 2019
                                        .location
                                            ="\n"
                                            i.icon-marker
                                            | Qabala, Azerbaijan
                            |
                            |
                            .swiper-slide.no-swipe
                                .event-block.flex
                                    .image
                                        ="\n"
                                        a(href="event-inner.html")
                                            .swiper-lazy.cover-center(data-background=require("../../images/events/image2.jpg"))
                                    .info.flex
                                        h3.title
                                            ="\n"
                                            a(href="event-inner.html") International Conference on Application of Information and Communication Technologies
                                        .date
                                            ="\n"
                                            i.icon-calendar
                                            | 9 September, 2019
                                        .location
                                            ="\n"
                                            i.icon-marker
                                            | Shaki, Azerbaijan
                        |
                        |
                        .swiper-pagination.visible-1024
                    // Slider container
    // Events
    |
    |
    include ../includes/subscribe.pug
    |
    |
    section.partners.ptb-9(data-aos="fade-in" data-aos-duration="1200")
        .container-fluid
            .row
                .col-12
                    .section-header.flex
                        h2.section-title Our Partners
                    // Section header
                    |
                    |
                    .swiper-container.partners-slider
                        .swiper-wrapper
                            .swiper-slide.no-swipe
                                .partner-block
                                    .image.flex-center
                                        ="\n"
                                        a(href="#" target="_blank")
                                            ="\n"
                                            img(data-src=require("../../images/partners/image0.png") class="swiper-lazy")
                                            ="\n"
                                    .name.text-center
                                        ="\n"
                                        a(href="#" target="_blank") European Investment Bank
                            |
                            |
                            .swiper-slide.no-swipe
                                .partner-block
                                    .image.flex-center
                                        ="\n"
                                        a(href="#" target="_blank")
                                            ="\n"
                                            img(data-src=require("../../images/partners/image1.png") class="swiper-lazy")
                                            ="\n"
                                    .name.text-center
                                        ="\n"
                                        a(href="#" target="_blank") Embasy United States of America
                            |
                            |
                            .swiper-slide.no-swipe
                                .partner-block
                                    .image.flex-center
                                        ="\n"
                                        a(href="#" target="_blank")
                                            ="\n"
                                            img(data-src=require("../../images/partners/image2.png") class="swiper-lazy")
                                            ="\n"
                                    .name.text-center
                                        ="\n"
                                        a(href="#" target="_blank") Middlesex University
                            |
                            |
                            .swiper-slide.no-swipe
                                .partner-block
                                    .image.flex-center
                                        ="\n"
                                        a(href="#" target="_blank")
                                            ="\n"
                                            img(data-src=require("../../images/partners/image3.png") class="swiper-lazy")
                                            ="\n"
                                    .name.text-center
                                        ="\n"
                                        a(href="#" target="_blank") European Union
                            |
                            |
                            .swiper-slide.no-swipe
                                .partner-block
                                    .image.flex-center
                                        ="\n"
                                        a(href="#" target="_blank")
                                            ="\n"
                                            img(data-src=require("../../images/partners/image4.png") class="swiper-lazy")
                                            ="\n"
                                    .name.text-center
                                        ="\n"
                                        a(href="#" target="_blank") Ministry of Taxex of Azerbaijan Republic
                            |
                            |
                            .swiper-slide.no-swipe
                                .partner-block
                                    .image.flex-center
                                        ="\n"
                                        a(href="#" target="_blank")
                                            ="\n"
                                            img(data-src=require("../../images/partners/image5.png") class="swiper-lazy")
                                            ="\n"
                                    .name.text-center
                                        ="\n"
                                        a(href="#" target="_blank") Baku 2015 1st European Games
                        |
                        |
                        .swiper-pagination.visible-1024
                    // Slider container
    // Partners
    |
    |