extends ../layout/empty-layout.pug

block content
    .form-page.flex-center
        .form-page-content
            h1.form-title.text-center Sign In to Cabinet
            |
            |
            .form-wrapper
                form(action="#" method="POST")
                    .form-group
                        input(type="email" class="form-control" placeholder="E-mail" required)
                    |
                    |
                    .form-group
                        input(type="password" class="form-control" placeholder="Password" required)
                        .toggle-password
                            i.icon-eye
                    |
                    |
                    button(class="btn-custom btn-block") Sign in
                    |
                    |
                    .actions.flex
                        ="\n"
                        a(href="forgot-password.html") Forgot password?
                        ="\n"
                        a(href="register.html") Apply for Membership
            // Form wrapper
        // Form page content
    // Form page
    |
    |