extends ../layout/layout.pug

block content
    .breadcrumb-container
        .container-fluid
            .row
                .col-12
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                ="\n"
                                a(href="index.html") Home
                            li.breadcrumb-item News & Media
    // Breadcrumbs
    |
    |
    section.news-page
        .page-intro
            .intro-content.cover-center(style="background-image: url("+ require("../../images/news/cover.jpg") +")")
            |
            |
            .container-fluid
                .row
                    .col-12
                        h1.title(data-aos="fade-in" data-aos-duration="1500") News & Media
                        p(data-aos="fade-in" data-aos-duration="1500") Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.
        // Page intro
        |
        |
        .page-filters
            .container-fluid
                .row
                    .col-12.flex
                        ul.by-type
                            li
                                ="\n"
                                a(href="#" class="active") Latest news
                            li
                                ="\n"
                                a(href="#") Archive
                        // By type
                        |
                        |
                        .by-date
                            form(action="#" method="get")
                                .form-group
                                    input(type="text" class="form-control date-from" data-language="en" placeholder="Date from")
                                |
                                |
                                .form-group
                                    input(type="text" class="form-control date-to" data-language="en" placeholder="Date to")
                        // By date
        // Page / category filters
        |
        |
        .news-list(data-aos="fade-in" data-aos-duration="1200")
            .container-fluid
                .row
                    .col-lg-4.col-sm-6
                        .news-block.flex
                            .image
                                ="\n"
                                a(href="news-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/news/image0.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 16 January, 2019
                                h3.title
                                    ="\n"
                                    a(href="news-inner.html") Eurasian Geographic Information Systems Congress
                                .description
                                    p The Eurasian Geographic Information Systems Congress aims to help exchange scientific information, share practical experiences, develop visionary approaches…
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .news-block.flex
                            .image
                                ="\n"
                                a(href="news-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/news/image1.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 3 March, 2019
                                h3.title
                                    ="\n"
                                    a(href="news-inner.html") International Conference Mountains: Cultures, Landscapes and Biodiversity
                                .description
                                    p Mountainous regions worldwide are affected by the impacts of an unrestrained exploitation of resources (due to heavy mining and intensive farming) and an…
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .news-block.flex
                            .image
                                ="\n"
                                a(href="news-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/news/image2.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 9 September, 2019
                                h3.title
                                    ="\n"
                                    a(href="news-inner.html") The Investpro Azerbaijan, by the Bosco Conference
                                .description
                                    p The Investpro Azerbaijan, organized by the Bosco Conference will take place from 4th to the 5th June 2018 at the JW Marriott Hotel Absheron Baku in Baku, Azerbaijan.
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .news-block.flex
                            .image
                                ="\n"
                                a(href="news-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/news/image0.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 16 January, 2019
                                h3.title
                                    ="\n"
                                    a(href="news-inner.html") Eurasian Geographic Information Systems Congress
                                .description
                                    p The Eurasian Geographic Information Systems Congress aims to help exchange scientific information, share practical experiences, develop visionary approaches…
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .news-block.flex
                            .image
                                ="\n"
                                a(href="news-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/news/image1.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 3 March, 2019
                                h3.title
                                    ="\n"
                                    a(href="news-inner.html") International Conference Mountains: Cultures, Landscapes and Biodiversity
                                .description
                                    p Mountainous regions worldwide are affected by the impacts of an unrestrained exploitation of resources (due to heavy mining and intensive farming) and an…
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .news-block.flex
                            .image
                                ="\n"
                                a(href="news-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/news/image2.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 9 September, 2019
                                h3.title
                                    ="\n"
                                    a(href="news-inner.html") The Investpro Azerbaijan, by the Bosco Conference
                                .description
                                    p The Investpro Azerbaijan, organized by the Bosco Conference will take place from 4th to the 5th June 2018 at the JW Marriott Hotel Absheron Baku in Baku, Azerbaijan.
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .news-block.flex
                            .image
                                ="\n"
                                a(href="news-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/news/image0.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 16 January, 2019
                                h3.title
                                    ="\n"
                                    a(href="news-inner.html") Eurasian Geographic Information Systems Congress
                                .description
                                    p The Eurasian Geographic Information Systems Congress aims to help exchange scientific information, share practical experiences, develop visionary approaches…
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .news-block.flex
                            .image
                                ="\n"
                                a(href="news-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/news/image1.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 3 March, 2019
                                h3.title
                                    ="\n"
                                    a(href="news-inner.html") International Conference Mountains: Cultures, Landscapes and Biodiversity
                                .description
                                    p Mountainous regions worldwide are affected by the impacts of an unrestrained exploitation of resources (due to heavy mining and intensive farming) and an…
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .news-block.flex
                            .image
                                ="\n"
                                a(href="news-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/news/image2.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 9 September, 2019
                                h3.title
                                    ="\n"
                                    a(href="news-inner.html") The Investpro Azerbaijan, by the Bosco Conference
                                .description
                                    p The Investpro Azerbaijan, organized by the Bosco Conference will take place from 4th to the 5th June 2018 at the JW Marriott Hotel Absheron Baku in Baku, Azerbaijan.
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .news-block.flex
                            .image
                                ="\n"
                                a(href="news-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/news/image0.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 16 January, 2019
                                h3.title
                                    ="\n"
                                    a(href="news-inner.html") Eurasian Geographic Information Systems Congress
                                .description
                                    p The Eurasian Geographic Information Systems Congress aims to help exchange scientific information, share practical experiences, develop visionary approaches…
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .news-block.flex
                            .image
                                ="\n"
                                a(href="news-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/news/image1.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 3 March, 2019
                                h3.title
                                    ="\n"
                                    a(href="news-inner.html") International Conference Mountains: Cultures, Landscapes and Biodiversity
                                .description
                                    p Mountainous regions worldwide are affected by the impacts of an unrestrained exploitation of resources (due to heavy mining and intensive farming) and an…
                    // Col
                    |
                    |
                    .col-lg-4.col-sm-6
                        .news-block.flex
                            .image
                                ="\n"
                                a(href="news-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/news/image2.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    i.icon-calendar
                                    | 9 September, 2019
                                h3.title
                                    ="\n"
                                    a(href="news-inner.html") The Investpro Azerbaijan, by the Bosco Conference
                                .description
                                    p The Investpro Azerbaijan, organized by the Bosco Conference will take place from 4th to the 5th June 2018 at the JW Marriott Hotel Absheron Baku in Baku, Azerbaijan.
                    // Col
        // News list
        |
        |
        nav
            ul.pagination
                li.page-item.disabled
                    ="\n"
                    a.page-link(href="#") Prev
                li.page-item
                    ="\n"
                    a.page-link(href="#") Next
                li.page-item
                    ="\n"
                    a.page-link(href="#") 1
                li.page-item.active
                    ="\n"
                    a.page-link(href="#") 2
                li.page-item
                    ="\n"
                    a.page-link(href="#") 3
                li.page-item
                    ="\n"
                    a.page-link(href="#") ...
                li.page-item
                    ="\n"
                    a.page-link(href="#") 6
        // Pagination
        |
        |
    // News page
    |
    |
    include ../includes/subscribe.pug
    |
    |