extends ../layout/layout.pug

block content
    .breadcrumb-container
        .container-fluid
            .row
                .col-12
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                ="\n"
                                a(href="index.html") Home
                            li.breadcrumb-item
                                ="\n"
                                a(href="news.html") News
                            li.breadcrumb-item Eurasian Geographic Information Systems Congress
    // Breadcrumbs
    |
    |
    section.event-inner-page
        .page-intro.secondary
            .intro-content.cover-center(style="background-image: url("+ require("../../images/news/selected.jpg") +")")
            |
            |
            .container-fluid(data-aos="fade-in" data-aos-duration="1500")
                .row
                    .col-12
                        .flex
                            .date
                                ="\n"
                                i.icon-calendar
                                | 16 January, 2019
                        h1.title Eurasian Geographic Information Systems Congress
                        p Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.
        // Page intro
        |
        |
        .page-content.ptb-6
            .container-fluid
                .row
                    .col-12
                        .page-body.flex
                            .left
                                .editor-body(data-aos="fade-in" data-aos-duration="1200")
                                    h1 The Investpro Azerbaijan, organized by the Bosco Conference will take place from 4th to the 5th June 2018 at the JW Marriott Hotel Absheron Baku in Baku, Azerbaijan. 
                                    p The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced an anxious wait to see if Whitley Bay’s Rosie Belsham could catch her but in the end her two-under par total of 286 proved to be enough to give her a one-shot victory over Belsham, Stoke by Nayland’s Lily May Humphreys, Scotland’s Shannon McWilliam and Sharna Dutrieux from Wrotham Heath.
                                    p Humphreys made a late charge in a bid to add to the Welsh and Irish Women’s Stroke Play titles she won earlier in the season but in the end a birdie at the last for a 68 was not quite enough.
                                    p Scottish international McWilliam also moved up the field with four birdies in the opening 15 holes of her final round but a bogey at the last meant she had to settle for a 69 which left her one shot short.
                                    blockquote
                                        p Scottish international McWilliam also moved up the field with four birdies in the opening 15 holes of her final round but a bogey at the last meant.
                                    p Dutrieux made her move in the morning with a 69 and she looked as if she would maintain her run when she fired five birdies in seven holes from the fifth but four dropped shots over the closing stretch saw her also come up one shot short in the group in second place.
                                    p Belsham knew she needed to birdie the last to take Earl into a play-off but it was not to be and her 74 also saw her finish in the group on one under par 287.
                                    p The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced an anxious wait to see if Whitley Bay’s Rosie Belsham could catch her but in the end her two-under par total of 286 proved to be enough to give her a one-shot victory over Belsham, Stoke by Nayland’s Lily May Humphreys, Scotland’s Shannon McWilliam and Sharna Dutrieux from Wrotham Heath.
                                    ul
                                        li Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat culpa saepe voluptate animi!
                                        li Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum amet eum fugit.
                                        li Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla dignissimos et reiciendis, illum adipisci excepturi!
                                        li Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, tempora.
                                    p Humphreys made a late charge in a bid to add to the Welsh and Irish Women’s Stroke Play titles she won earlier in the season but in the end a birdie at the last for a 68 was not quite enough.
                                    p Scottish international McWilliam also moved up the field with four birdies in the opening 15 holes of her final round but a bogey at the last meant she had to settle for a 69 which left her one shot short.
                                // Editor body
                            // Left
                            |
                            |
                            .right
                                .other-articles(data-aos="fade-in" data-aos-duration="1200")
                                    .swiper-container
                                        .swiper-wrapper
                                            .swiper-slide
                                                .block-backgrounded
                                                    .swiper-lazy.image(data-background=require("../../images/events/other.jpg"))
                                                    |
                                                    |
                                                    .info.flex
                                                        h3.title
                                                            ="\n"
                                                            a(href="news-inner.html") Azerbaijan-India Roadshow on Travel Trade in Delhi, Bengaluru and Mumbai
                                                        .date
                                                            ="\n"
                                                            i.icon-calendar
                                                            | 18 January, 2019
                                            |
                                            |
                                            .swiper-slide
                                                .block-backgrounded
                                                    .swiper-lazy.image(data-background=require("../../images/events/other.jpg"))
                                                    |
                                                    |
                                                    .info.flex
                                                        h3.title
                                                            ="\n"
                                                            a(href="news-inner.html") Azerbaijan-India Roadshow on Travel Trade in Delhi, Bengaluru and Mumbai
                                                        .date
                                                            ="\n"
                                                            i.icon-calendar
                                                            | 18 January, 2019
                                        |
                                        |
                                        .swiper-pagination
                                    // Slider container
                                    |
                                    |
                                    .see-all.flex-center
                                        ="\n"
                                        a(href="news.html" class="flex")
                                            | See all news
                                            i.icon-arrow-longer
                                    // See all
                                // Other articles
                            // Right
                            |
                            |
                            .gallery-container(data-aos="fade-in" data-aos-duration="1200")
                                .section-header.flex
                                    h2.section-title Gallery
                                    |
                                    |
                                    .slider-controls.flex
                                        .prev-slide
                                            ="\n"
                                            i.icon-arrow-longest
                                        .next-slide
                                            ="\n"
                                            i.icon-arrow-longest
                                // Section header
                                |
                                |
                                .swiper-container.gallery
                                    .swiper-wrapper
                                        .swiper-slide
                                            .swiper-lazy.cover-center(data-background=require("../../images/gallery/image0.jpg"))
                                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                                        .swiper-slide
                                            .swiper-lazy.cover-center(data-background=require("../../images/gallery/image1.jpg"))
                                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                                        .swiper-slide
                                            .swiper-lazy.cover-center(data-background=require("../../images/gallery/image2.jpg"))
                                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                                        .swiper-slide
                                            .swiper-lazy.cover-center(data-background=require("../../images/gallery/image3.jpg"))
                                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                                        .swiper-slide
                                            .swiper-lazy.cover-center(data-background=require("../../images/gallery/image0.jpg"))
                                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                                        .swiper-slide
                                            .swiper-lazy.cover-center(data-background=require("../../images/gallery/image1.jpg"))
                                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            // Gallery container
                        // Page body
        // Page content
        |
        |
        .related-news.news.ptb-9(data-aos="fade-in" data-aos-duration="1200")
            .container-fluid
                .row
                    .col-12
                        .section-header.flex
                            h2.section-title Related News
                            |
                            |
                            .slider-controls.flex.hidden-768
                                .prev-slide
                                    ="\n"
                                    i.icon-arrow-longest
                                .next-slide
                                    ="\n"
                                    i.icon-arrow-longest
                        // Section header
                        |
                        |
                        .swiper-container.news-slider.x-3
                            .swiper-wrapper
                                .swiper-slide.no-swipe
                                    .news-block.flex
                                        .image
                                            ="\n"
                                            a(href="news-inner.html")
                                                .swiper-lazy.cover-center(data-background=require("../../images/news/image0.jpg"))
                                        .info.flex
                                            .date
                                                ="\n"
                                                i.icon-calendar
                                                | 16 January, 2019
                                            h3.title
                                                ="\n"
                                                a(href="news-inner.html") Eurasian Geographic Information Systems Congress
                                            .description
                                                p The Eurasian Geographic Information Systems Congress aims to help exchange scientific information, share practical experiences, develop visionary approaches…
                                |
                                |
                                .swiper-slide.no-swipe
                                    .news-block.flex
                                        .image
                                            ="\n"
                                            a(href="news-inner.html")
                                                .swiper-lazy.cover-center(data-background=require("../../images/news/image1.jpg"))
                                        .info.flex
                                            .date
                                                ="\n"
                                                i.icon-calendar
                                                | 3 March, 2019
                                            h3.title
                                                ="\n"
                                                a(href="news-inner.html") International Conference Mountains: Cultures, Landscapes and Biodiversity
                                            .description
                                                p Mountainous regions worldwide are affected by the impacts of an unrestrained exploitation of resources (due to heavy mining and intensive farming) and an…
                                |
                                |
                                .swiper-slide.no-swipe
                                    .news-block.flex
                                        .image
                                            ="\n"
                                            a(href="news-inner.html")
                                                .swiper-lazy.cover-center(data-background=require("../../images/news/image2.jpg"))
                                        .info.flex
                                            .date
                                                ="\n"
                                                i.icon-calendar
                                                | 9 September, 2019
                                            h3.title
                                                ="\n"
                                                a(href="news-inner.html") The Investpro Azerbaijan, by the Bosco Conference
                                            .description
                                                p The Investpro Azerbaijan, organized by the Bosco Conference will take place from 4th to the 5th June 2018 at the JW Marriott Hotel Absheron Baku in Baku, Azerbaijan.
                                |
                                |
                                .swiper-slide.no-swipe
                                    .news-block.flex
                                        .image
                                            ="\n"
                                            a(href="news-inner.html")
                                                .swiper-lazy.cover-center(data-background=require("../../images/news/image0.jpg"))
                                        .info.flex
                                            .date
                                                ="\n"
                                                i.icon-calendar
                                                | 16 January, 2019
                                            h3.title
                                                ="\n"
                                                a(href="news-inner.html") Eurasian Geographic Information Systems Congress
                                            .description
                                                p The Eurasian Geographic Information Systems Congress aims to help exchange scientific information, share practical experiences, develop visionary approaches…
                            |
                            |
                            .swiper-pagination
                        // Slider container
        // Related news
        |
        |
    // News inner page
    |
    |
    include ../includes/subscribe.pug