extends ../layout/simple-layout.pug

block content
    section.static-page.ptb-10
        .container-fluid
            .row
                .col-xl-10.offset-xl-1
                    h1.page-title.text-center Privacy  Policy
                    h3.subtitle.text-center Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.
                    |
                    |
                    .editor-body
                        p
                            strong The standard Lorem Ipsum passage, used since the 1500s
                        p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        hr
                        p
                            strong The standard Lorem Ipsum passage, used since the 1500s
                        p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        hr
                        p
                            strong The standard Lorem Ipsum passage, used since the 1500s
                        p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        hr
                        p
                            strong The standard Lorem Ipsum passage, used since the 1500s
                        p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    // Static page
    |
    |
    .cookies-usage
        .close.accept-cookies
            ="\n"
            i.icon-times
        |
        |
        .container-fluid
            .row
                .col-12
                    .info
                        h3.title We use Cookies!
                        p This website uses cookies in order to offer you the most relevant information. Please accept cookies for optimal performance.
                    |
                    |
                    .actions
                        ="\n"
                        a.btn-custom.accept-cookies(href="#") Yes, I accept
                        ="\n"
                        a.more-info(href="#") More information
    // Cookies usage (can be rendered in layout)
    |
    |