extends ../layout/empty-layout.pug

block content
    .form-page.auth-success.flex-center
        .form-page-content
            .stars.text-center
                ="\n"
                i.icon-star
                ="\n"
                i.icon-star
                ="\n"
                i.icon-star
            h1.form-title.text-center Congratulations!
            p.form-subtitle.text-center Some description about reseting password... Please choose the exhibition and fill the registration form for collective
            |
            |
            .go-home.text-center
                ="\n"
                a(href="index.html")
                    ="\n"
                    i.icon-arrow-longer
                    | Back to home
                    ="\n"
    // Form page
    |
    |