extends ../layout/empty-layout.pug

block content
    .form-page.flex-center
        .form-page-content
            h1.form-title.text-center Apply for  Membership
            p.form-subtitle.text-center Some description about reseting password... Please choose the exhibition and fill the registration form for collective
            |
            |
            .register-steps.step-1
                .step-counts.flex
                    .step
                        .num.flex-center
                            span 1
                        .name Company Informations
                    |
                    |
                    .step
                        .num.flex-center
                            span 2
                        .name Representative Details
                    |
                    |
                    .step
                        .num.flex-center
                            span 3
                        .name Finish
                // Step counts
                |
                |
                .form-wrapper
                    form(action="#" method="POST")
                        .fields-group
                            .form-group.select
                                select(class="form-control")
                                    option(value="associate") Associate Membership
                                    option(value="regular") Regular Membership
                            |
                            |
                            .form-group
                                input(type="text" class="form-control" placeholder="Company Full Name" required)
                            |
                            |
                            .form-group
                                input(type="text" class="form-control" placeholder="Full Address" required)
                            |
                            |
                            .form-group
                                input(type="text" class="form-control" placeholder="Telephone" required)
                            |
                            |
                            .form-group
                                input(type="email" class="form-control" placeholder="E-mail" required)
                            |
                            |
                            .form-group
                                input(type="text" class="form-control" placeholder="Web-site" required)
                            |
                            |
                            .form-group
                                input(type="text" class="form-control" placeholder="Tax Number" required)
                            |
                            |
                            .form-group
                                input(type="text" class="form-control" placeholder="Registration Number" required)
                            |
                            |
                            button(class="btn-custom btn-block") Next
                        // Fields group
                        |
                        |
                        .fields-group
                            .form-group
                                input(type="text" class="form-control" placeholder="Full Name" required)
                            |
                            |
                            .form-group
                                input(type="text" class="form-control" placeholder="Position" required)
                            |
                            |
                            .form-group
                                input(type="text" class="form-control" placeholder="Mobile phone" required)
                            |
                            |
                            .form-group
                                input(type="E-mail" class="form-control" placeholder="E-mail" required)
                            |
                            |
                            .form-group.text-center
                                input(type="checkbox" id="terms")
                                label(for="terms") Please choose the exhibition #[a(href="#" target="_blank") terms & conditions]
                            |
                            |
                            button(class="btn-custom btn-block") Apply
                        // Fields group
                // Form wrapper
            // Register steps
        // Form page content
    // Form page
    |
    |