extends ../layout/layout.pug

block content
    .breadcrumb-container
        .container-fluid
            .row
                .col-12
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                ="\n"
                                a(href="index.html") Home
                            li.breadcrumb-item Regular membership
    // Breadcrumbs
    |
    |
    section.regular-membership
        .page-intro.centered
            .intro-content.cover-center(style="background-image: url("+ require("../../images/regular-membership-bg.jpg") +")")
            |
            |
            .container-fluid
                .row
                    .col-12
                        h1.title(data-aos="zoom-in" data-aos-duration="1500") Regular membership
                        p(data-aos="fade-in" data-aos-duration="1500") Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.
        // Page intro 
        |
        |
        .page-categories
            ul.flex
                li.active
                    ="\n"
                    a(href="regular-membership.html") Regular membership
                li
                    ="\n"
                    a(href="associate-membership.html") Associate membership
        // Page categories
        |
        |
        .page-short-text.ptb-10(data-aos="fade-in" data-aos-duration="1200")
            .container-fluid
                .row
                    .col-xl-10.offset-xl-1
                        .editor-body.text-center
                            h2 Benefits of Membership
                            p The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced an anxious wait to see if Whitley Bay’s Rosie Belsham could catch her but in the end her two-under par total of 286 proved to be enough to give her a one-shot victory over Belsham, Stoke by Nayland’s Lily May Humphreys, Scotland’s Shannon McWilliam and Sharna Dutrieux from Wrotham Heath.
        // Page short text
        |
        |
        .membership-benefits-list
            .container-fluid
                .row
                    .col-12
                        .benefit-item.flex(data-aos="fade-in" data-aos-duration="1200")
                            p.name Comprehensive advice and consultancy to member hotels on National Hotel Star classification
                            |
                            |
                            .description
                                p Being member of AHA, each hotel will benefit from partnership and special offers from partners and not limited to:
                        // Benefit list item
                        |
                        |
                        .benefit-item.flex(data-aos="fade-in" data-aos-duration="1200")
                            p.name Advocacy on issues critical to the growth of the hospitality industry
                            |
                            |
                            .description
                                p AHA acts as hospitality industry representative in strategy and policy making for development of destination tourism potential. Lobbying interest of hotels with government authorities and decision makers in conjunction with advocacy on subjects associated with progress and growth of hospitality industry is main purpose of AHA.
                        // Benefit list item
                        |
                        |
                        .benefit-item.flex(data-aos="fade-in" data-aos-duration="1200")
                            p.name A place at the table for important policy discussions with stakeholders
                            |
                            |
                            .description
                                p AHA members will have place at a table for idea generating and implementation within the scope of Working Groups: “Regulatory and Governmental Relations”, “Tourism & Hospitality Product Development”, “HR and Education”, “Sustainability in Hospitality”, “Best Practices”.
                        // Benefit list item
                        |
                        |
                        .benefit-item.flex(data-aos="fade-in" data-aos-duration="1200")
                            p.name Expert answers and guidance on business related issues
                            |
                            |
                            .description
                                p AHA is pleased to offer consultancy-in partnership with - expert guidance and counseling on related industrial concerns, operational issues upon request.
                        // Benefit list item
                        |
                        |
                        .benefit-item.flex(data-aos="fade-in" data-aos-duration="1200")
                            p.name Networking opportunities with colleagues, allies and industry leaders
                            |
                            |
                            .description
                                p Being member of AHA, each hotel will benefit from partnership and special offers from partners and not limited to:
                                ul
                                    li Governmental: STA, ATB
                                    li Corporate: OTA Insight, STR Global, Trust You
                                    li Educational: ADA University, ATMU;
                                    li Industrial: HOTREC, HSU, ATAA, ATGA
                                p In close co-operation with Azerbaijan Convention Bureau, AHA will provide member hotels with all information related to country wide events as well as familiarization and media tours hosting.
                        // Benefit list item
                        |
                        |
                        .benefit-item.flex(data-aos="fade-in" data-aos-duration="1200")
                            p.name Special discounts and privileges from Exclusive Associate Members and Partners AHA Members are entitled to special offers from Exclusive Associate Partners, which placed on Association website.
                            |
                            |
                            .description
                                p Being member of AHA, each hotel will benefit from partnership and special offers from partners and not limited to:
                        // Benefit list item
                        |
                        |
                        .benefit-item.flex(data-aos="fade-in" data-aos-duration="1200")
                            p.name Timely and updated industry related news, briefs
                            |
                            |
                            .description
                                p AHA will share industry and tourism related news and updates, member achievements through all channels: social media platforms, website, monthly newsletter, e-mailing. AHA members will have access to industry research and statistics, trend reports through unique account created for each Member.
                        // Benefit list item
                        |
                        |
                        .benefit-item.flex(data-aos="fade-in" data-aos-duration="1200")
                            p.name Access to industry events, professional development and learning tools
                            |
                            |
                            .description
                                p Being a member of Association, hotels will be entitled to participate at annual general Assemblies and industry events organized by AHA. In co-operation with global and local partners AHA will organize training and seminars.
                        // Benefit list item
                        |
                        |
                        .benefit-item.flex(data-aos="fade-in" data-aos-duration="1200")
                            p.name Representation and Promotion on international exhibitions/workshops/seminar/roadshows
                            |
                            |
                            .description
                                p AHA will be glad to represent and promote member hotels on international exhibitions (EMITT, MITT, ATM Dubai, IMEX Frankfurt, WTM), B2B workshops, roadshows organized locally and internationally with specially tailored member brochure, promotion materials to increase awareness of destination potential.
                        // Benefit list item
                        |
                        |
                        .benefit-item.flex(data-aos="fade-in" data-aos-duration="1200")
                            p.name Exclusively tailored brochures for AHA Members
                            |
                            |
                            .description
                                p AHA Members have the opportunity to be listed on a digital and printed brochure of Azerbaijan Hotel Association, where the full information about Member Hotel will be presented.
                        // Benefit list item
                        |
                        |
                        .benefit-item.flex(data-aos="fade-in" data-aos-duration="1200")
                            p.name Recognition as “Hotel of The Year”, Award Ceremony for Members
                            |
                            |
                            .description
                                p AHA will organize annual “Hotel of the Year” Award ceremony for Baku and Regional Member Hotels covering all 3,4 and 5-star hotels. Nominee hotels will receive wide recognition on national and international level.
                        // Benefit list item
                        |
                        |
                    // Col
        // Membership benefits
        |
        |
        .membership-prices.ptb-8(data-aos="fade-in" data-aos-duration="1200")
            .container-fluid
                .row
                    .col-12.text-center
                        h2.section-title Price list
                        p.subtitle Yearly Regular Membership Fees and Categories from January 1, 2020
                    // Col
                    |
                    |
                    .col-12
                        ul(class="nav" id="prices-tabs" role="tablist")
                            li.nav-item
                                ="\n" 
                                a(class="active" data-toggle="tab" href="#baku" role="tab") Baku
                            li.nav-item
                                ="\n"
                                a(data-toggle="tab" href="#region" role="tab") Region
                        |
                        |
                        div(class="tab-content")
                            div(class="tab-pane show active" id="baku" role="tabpanel")
                                h3.pricing-type.text-center Regular Members - AZN/ Yearly fee
                                |
                                |
                                .pricing-table
                                    table
                                        thead
                                            tr
                                                th Number of sotel rooms
                                                th No star / 1 star
                                                th 2 star
                                                th 3 star
                                                th 4 star
                                                th 5 star
                                        tbody
                                            tr
                                                td 0-30
                                                td 750.00
                                                td 900.00
                                                td 1.000.00
                                                td 1.500.00
                                                td 1.800.00
                                            tr
                                                td 30-100
                                                td 900.00
                                                td 1.10.00
                                                td 1.250.00
                                                td 1,750.00
                                                td 2,250.00
                                            tr
                                                td 100-200
                                                td 1,050.00
                                                td 1,250.00
                                                td 1,500.00
                                                td 2,000.00
                                                td 2,750.00
                                            tr
                                                td 200-400
                                                td 1,250.00
                                                td 1,500.00
                                                td 1,750.00
                                                td 2,400.00
                                                td 3,250.00
                                            tr
                                                td 400+
                                                td 1,500.00
                                                td 1,750.00
                                                td 2,000.00
                                                td 3,000.00
                                                td 4,000.00
                                // Pricing table
                            // Tab pane
                            |
                            |
                            div(class="tab-pane" id="region" role="tabpanel")
                                h3.pricing-type.text-center Regular Members - AZN/ Yearly fee
                                |
                                |
                                .pricing-table
                                    table
                                        thead
                                            tr
                                                th Number of sotel rooms
                                                th No star / 1 star
                                                th 2 star
                                                th 3 star
                                                th 4 star
                                                th 5 star
                                        tbody
                                            tr
                                                td 0-30
                                                td 750.00
                                                td 900.00
                                                td 1.000.00
                                                td 1.500.00
                                                td 1.800.00
                                            tr
                                                td 30-100
                                                td 900.00
                                                td 1.10.00
                                                td 1.250.00
                                                td 1,750.00
                                                td 2,250.00
                                            tr
                                                td 100-200
                                                td 1,050.00
                                                td 1,250.00
                                                td 1,500.00
                                                td 2,000.00
                                                td 2,750.00
                                            tr
                                                td 200-400
                                                td 1,250.00
                                                td 1,500.00
                                                td 1,750.00
                                                td 2,400.00
                                                td 3,250.00
                                // Pricing table
                            // Tab pane
                        // Tab content
        // Membership prices
        |
        |
        .partners.members.ptb-12-10(data-aos="fade-in" data-aos-duration="1200")
            .container-fluid
                .row
                    .col-12.text-center
                        h2.section-title Our Members
                        p.subtitle The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced an anxious wait to see if Whitley Bay’s Rosie Belsham could catch her but in the end her two-under par total of 286 proved to be enough to give her a one-shot victory over Belsham, Stoke by Nayland’s Lily May Humphreys, Scotland’s Shannon McWilliam and Sharna Dutrieux from Wrotham Heath.
                        |
                        |
                        .swiper-container.partners-slider
                            .swiper-wrapper
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image0.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") European Investment Bank
                                |
                                |
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image1.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") Embasy United States of America
                                |
                                |
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image2.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") Middlesex University
                                |
                                |
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image3.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") European Union
                                |
                                |
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image4.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") Ministry of Taxex of Azerbaijan Republic
                                |
                                |
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image5.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") Baku 2015 1st European Games
                                |
                                |
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image1.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") Embasy United States of America
                            |
                            |
                            .swiper-pagination.visible-1024
                        // Slider container
                    // Col
                    |
                    |
                    .col-12
                        .become-one.text-center
                            ="\n"
                            button(class="btn-custom") Become a member
                            |
                            |
                            p The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced
                        // Become a member
        // Partners
        |
        |