extends ../layout/layout.pug

block content
    .breadcrumb-container
        .container-fluid
            .row
                .col-12
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                ="\n"
                                a(href="index.html") Home
                            li.breadcrumb-item Reports
    // Breadcrumbs
    |
    |
    section.reports-page
        .page-intro.centered
            .intro-content.cover-center(style="background-image: url("+ require("../../images/about-bg.jpg") +")")
            |
            |
            .container-fluid
                .row
                    .col-12
                        h1.title(data-aos="zoom-in" data-aos-duration="1500") Reports
                        p(data-aos="fade-in" data-aos-duration="1500") Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.
        // Page intro
        |
        |
        .page-categories
            ul.flex
                li.active
                    ="\n"
                    a(href="reports.html") Reports
                li
                    ="\n"
                    a(href="statistics.html") Statistics
        // Page categories
        |
        |
        .page-filters(data-aos="fade-in" data-aos-duration="1200")
            .container-fluid
                .row
                    .col-12.flex
                        ul.by-type
                            li
                                ="\n"
                                a(href="#" class="active") Latest
                            li
                                ="\n"
                                a(href="#") Archive
                        // By type
                        |
                        |
                        .by-date
                            form(action="#" method="get")
                                .form-group
                                    input(type="text" class="form-control date-from" data-language="en" placeholder="Date from")
                                |
                                |
                                .form-group
                                    input(type="text" class="form-control date-to" data-language="en" placeholder="Date to")
                        // By date
        // Page / category filters
        |
        |
        .reports-list(data-aos="fade-in" data-aos-duration="1200")
            .container-fluid
                .row
                    .col-xl-3.col-md-4.col-sm-6
                        .default-block.flex
                            .image
                                ="\n"
                                a(href="statistics-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/statistics/image0.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    span 2018-2019
                                h3.title
                                    ="\n"
                                    a(href="statistics-inner.html") Tourism marketplace report
                                .description
                                    p Mountanious regions worldwide are offered by the impacts of an unrestained exploitation of...
                                |
                                |
                                a.see-more.flex(href="statistics-inner.html")
                                    ="\n"
                                    img(src=require("../../images/icons/pdf.svg"))
                                    | See statistics
                                    ="\n"
                    // Col
                    |
                    |
                    .col-xl-3.col-md-4.col-sm-6
                        .default-block.flex
                            .image
                                ="\n"
                                a(href="statistics-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/statistics/image1.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    span 2018-2019
                                h3.title
                                    ="\n"
                                    a(href="statistics-inner.html") Intertanional Events report
                                .description
                                    p Mountanious regions worldwide are offered by the impacts of an unrestained exploitation of...
                                |
                                |
                                a.see-more.flex(href="statistics-inner.html")
                                    ="\n"
                                    img(src=require("../../images/icons/pdf.svg"))
                                    | See statistics
                                    ="\n"
                    // Col
                    |
                    |
                    .col-xl-3.col-md-4.col-sm-6
                        .default-block.flex
                            .image
                                ="\n"
                                a(href="statistics-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/statistics/image2.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    span 2018-2019
                                h3.title
                                    ="\n"
                                    a(href="statistics-inner.html") Tourists visit statistics report
                                .description
                                    p Mountanious regions worldwide are offered by the impacts of an unrestained exploitation of...
                                |
                                |
                                a.see-more.flex(href="statistics-inner.html")
                                    ="\n"
                                    img(src=require("../../images/icons/pdf.svg"))
                                    | See statistics
                                    ="\n"
                    // Col
                    |
                    |
                    .col-xl-3.col-md-4.col-sm-6
                        .default-block.flex
                            .image
                                ="\n"
                                a(href="statistics-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/statistics/image3.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    span 2018-2019
                                h3.title
                                    ="\n"
                                    a(href="statistics-inner.html") Tourism marketplace report
                                .description
                                    p Mountanious regions worldwide are offered by the impacts of an unrestained exploitation of...
                                |
                                |
                                a.see-more.flex(href="statistics-inner.html")
                                    ="\n"
                                    img(src=require("../../images/icons/pdf.svg"))
                                    | See statistics
                                    ="\n"
                    // Col
                    |
                    |
                    .col-xl-3.col-md-4.col-sm-6
                        .default-block.flex
                            .image
                                ="\n"
                                a(href="statistics-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/statistics/image0.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    span 2018-2019
                                h3.title
                                    ="\n"
                                    a(href="statistics-inner.html") Tourism marketplace report
                                .description
                                    p Mountanious regions worldwide are offered by the impacts of an unrestained exploitation of...
                                |
                                |
                                a.see-more.flex(href="statistics-inner.html")
                                    ="\n"
                                    img(src=require("../../images/icons/pdf.svg"))
                                    | See statistics
                                    ="\n"
                    // Col
                    |
                    |
                    .col-xl-3.col-md-4.col-sm-6
                        .default-block.flex
                            .image
                                ="\n"
                                a(href="statistics-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/statistics/image1.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    span 2018-2019
                                h3.title
                                    ="\n"
                                    a(href="statistics-inner.html") Intertanional Events report
                                .description
                                    p Mountanious regions worldwide are offered by the impacts of an unrestained exploitation of...
                                |
                                |
                                a.see-more.flex(href="statistics-inner.html")
                                    ="\n"
                                    img(src=require("../../images/icons/pdf.svg"))
                                    | See statistics
                                    ="\n"
                    // Col
                    |
                    |
                    .col-xl-3.col-md-4.col-sm-6
                        .default-block.flex
                            .image
                                ="\n"
                                a(href="statistics-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/statistics/image2.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    span 2018-2019
                                h3.title
                                    ="\n"
                                    a(href="statistics-inner.html") Tourists visit statistics report
                                .description
                                    p Mountanious regions worldwide are offered by the impacts of an unrestained exploitation of...
                                |
                                |
                                a.see-more.flex(href="statistics-inner.html")
                                    ="\n"
                                    img(src=require("../../images/icons/pdf.svg"))
                                    | See statistics
                                    ="\n"
                    // Col
                    |
                    |
                    .col-xl-3.col-md-4.col-sm-6
                        .default-block.flex
                            .image
                                ="\n"
                                a(href="statistics-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/statistics/image3.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    span 2018-2019
                                h3.title
                                    ="\n"
                                    a(href="statistics-inner.html") Tourism marketplace report
                                .description
                                    p Mountanious regions worldwide are offered by the impacts of an unrestained exploitation of...
                                |
                                |
                                a.see-more.flex(href="statistics-inner.html")
                                    ="\n"
                                    img(src=require("../../images/icons/pdf.svg"))
                                    | See statistics
                                    ="\n"
                    // Col
                    |
                    |
                    .col-xl-3.col-md-4.col-sm-6
                        .default-block.flex
                            .image
                                ="\n"
                                a(href="statistics-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/statistics/image0.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    span 2018-2019
                                h3.title
                                    ="\n"
                                    a(href="statistics-inner.html") Tourism marketplace report
                                .description
                                    p Mountanious regions worldwide are offered by the impacts of an unrestained exploitation of...
                                |
                                |
                                a.see-more.flex(href="statistics-inner.html")
                                    ="\n"
                                    img(src=require("../../images/icons/pdf.svg"))
                                    | See statistics
                                    ="\n"
                    // Col
                    |
                    |
                    .col-xl-3.col-md-4.col-sm-6
                        .default-block.flex
                            .image
                                ="\n"
                                a(href="statistics-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/statistics/image1.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    span 2018-2019
                                h3.title
                                    ="\n"
                                    a(href="statistics-inner.html") Intertanional Events report
                                .description
                                    p Mountanious regions worldwide are offered by the impacts of an unrestained exploitation of...
                                |
                                |
                                a.see-more.flex(href="statistics-inner.html")
                                    ="\n"
                                    img(src=require("../../images/icons/pdf.svg"))
                                    | See statistics
                                    ="\n"
                    // Col
                    |
                    |
                    .col-xl-3.col-md-4.col-sm-6
                        .default-block.flex
                            .image
                                ="\n"
                                a(href="statistics-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/statistics/image2.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    span 2018-2019
                                h3.title
                                    ="\n"
                                    a(href="statistics-inner.html") Tourists visit statistics report
                                .description
                                    p Mountanious regions worldwide are offered by the impacts of an unrestained exploitation of...
                                |
                                |
                                a.see-more.flex(href="statistics-inner.html")
                                    ="\n"
                                    img(src=require("../../images/icons/pdf.svg"))
                                    | See statistics
                                    ="\n"
                    // Col
                    |
                    |
                    .col-xl-3.col-md-4.col-sm-6
                        .default-block.flex
                            .image
                                ="\n"
                                a(href="statistics-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/statistics/image3.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    span 2018-2019
                                h3.title
                                    ="\n"
                                    a(href="statistics-inner.html") Tourism marketplace report
                                .description
                                    p Mountanious regions worldwide are offered by the impacts of an unrestained exploitation of...
                                |
                                |
                                a.see-more.flex(href="statistics-inner.html")
                                    ="\n"
                                    img(src=require("../../images/icons/pdf.svg"))
                                    | See statistics
                                    ="\n"
                    // Col
                    |
                    |
                    .col-xl-3.col-md-4.col-sm-6
                        .default-block.flex
                            .image
                                ="\n"
                                a(href="statistics-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/statistics/image0.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    span 2018-2019
                                h3.title
                                    ="\n"
                                    a(href="statistics-inner.html") Tourism marketplace report
                                .description
                                    p Mountanious regions worldwide are offered by the impacts of an unrestained exploitation of...
                                |
                                |
                                a.see-more.flex(href="statistics-inner.html")
                                    ="\n"
                                    img(src=require("../../images/icons/pdf.svg"))
                                    | See statistics
                                    ="\n"
                    // Col
                    |
                    |
                    .col-xl-3.col-md-4.col-sm-6
                        .default-block.flex
                            .image
                                ="\n"
                                a(href="statistics-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/statistics/image1.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    span 2018-2019
                                h3.title
                                    ="\n"
                                    a(href="statistics-inner.html") Intertanional Events report
                                .description
                                    p Mountanious regions worldwide are offered by the impacts of an unrestained exploitation of...
                                |
                                |
                                a.see-more.flex(href="statistics-inner.html")
                                    ="\n"
                                    img(src=require("../../images/icons/pdf.svg"))
                                    | See statistics
                                    ="\n"
                    // Col
                    |
                    |
                    .col-xl-3.col-md-4.col-sm-6
                        .default-block.flex
                            .image
                                ="\n"
                                a(href="statistics-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/statistics/image2.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    span 2018-2019
                                h3.title
                                    ="\n"
                                    a(href="statistics-inner.html") Tourists visit statistics report
                                .description
                                    p Mountanious regions worldwide are offered by the impacts of an unrestained exploitation of...
                                |
                                |
                                a.see-more.flex(href="statistics-inner.html")
                                    ="\n"
                                    img(src=require("../../images/icons/pdf.svg"))
                                    | See statistics
                                    ="\n"
                    // Col
                    |
                    |
                    .col-xl-3.col-md-4.col-sm-6
                        .default-block.flex
                            .image
                                ="\n"
                                a(href="statistics-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/statistics/image3.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    span 2018-2019
                                h3.title
                                    ="\n"
                                    a(href="statistics-inner.html") Tourism marketplace report
                                .description
                                    p Mountanious regions worldwide are offered by the impacts of an unrestained exploitation of...
                                |
                                |
                                a.see-more.flex(href="statistics-inner.html")
                                    ="\n"
                                    img(src=require("../../images/icons/pdf.svg"))
                                    | See statistics
                                    ="\n"
                    // Col
                    |
                    |
                    .col-xl-3.col-md-4.col-sm-6
                        .default-block.flex
                            .image
                                ="\n"
                                a(href="statistics-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/statistics/image0.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    span 2018-2019
                                h3.title
                                    ="\n"
                                    a(href="statistics-inner.html") Tourism marketplace report
                                .description
                                    p Mountanious regions worldwide are offered by the impacts of an unrestained exploitation of...
                                |
                                |
                                a.see-more.flex(href="statistics-inner.html")
                                    ="\n"
                                    img(src=require("../../images/icons/pdf.svg"))
                                    | See statistics
                                    ="\n"
                    // Col
                    |
                    |
                    .col-xl-3.col-md-4.col-sm-6
                        .default-block.flex
                            .image
                                ="\n"
                                a(href="statistics-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/statistics/image1.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    span 2018-2019
                                h3.title
                                    ="\n"
                                    a(href="statistics-inner.html") Intertanional Events report
                                .description
                                    p Mountanious regions worldwide are offered by the impacts of an unrestained exploitation of...
                                |
                                |
                                a.see-more.flex(href="statistics-inner.html")
                                    ="\n"
                                    img(src=require("../../images/icons/pdf.svg"))
                                    | See statistics
                                    ="\n"
                    // Col
                    |
                    |
                    .col-xl-3.col-md-4.col-sm-6
                        .default-block.flex
                            .image
                                ="\n"
                                a(href="statistics-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/statistics/image2.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    span 2018-2019
                                h3.title
                                    ="\n"
                                    a(href="statistics-inner.html") Tourists visit statistics report
                                .description
                                    p Mountanious regions worldwide are offered by the impacts of an unrestained exploitation of...
                                |
                                |
                                a.see-more.flex(href="statistics-inner.html")
                                    ="\n"
                                    img(src=require("../../images/icons/pdf.svg"))
                                    | See statistics
                                    ="\n"
                    // Col
                    |
                    |
                    .col-xl-3.col-md-4.col-sm-6
                        .default-block.flex
                            .image
                                ="\n"
                                a(href="statistics-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/statistics/image3.jpg") +")")
                            .info.flex
                                .date
                                    ="\n"
                                    span 2018-2019
                                h3.title
                                    ="\n"
                                    a(href="statistics-inner.html") Tourism marketplace report
                                .description
                                    p Mountanious regions worldwide are offered by the impacts of an unrestained exploitation of...
                                |
                                |
                                a.see-more.flex(href="statistics-inner.html")
                                    ="\n"
                                    img(src=require("../../images/icons/pdf.svg"))
                                    | See statistics
                                    ="\n"
                    // Col
        // Reports list
        |
        |
        nav
            ul.pagination
                li.page-item.disabled
                    ="\n"
                    a.page-link(href="#") Prev
                li.page-item
                    ="\n"
                    a.page-link(href="#") Next
                li.page-item
                    ="\n"
                    a.page-link(href="#") 1
                li.page-item.active
                    ="\n"
                    a.page-link(href="#") 2
                li.page-item
                    ="\n"
                    a.page-link(href="#") 3
                li.page-item
                    ="\n"
                    a.page-link(href="#") ...
                li.page-item
                    ="\n"
                    a.page-link(href="#") 6
        // Pagination
        |
        |
    // Reports page
    |
    |