extends ../layout/empty-layout.pug

block content
    .form-page.flex-center
        .form-page-content
            h1.form-title.text-center Reset Password
            p.form-subtitle.text-center Some description about reseting password... Please choose the exhibition and fill the registration form for collective
            |
            |
            .form-wrapper
                form(action="#" method="POST")
                    .form-group
                        input(type="password" class="form-control" placeholder="Type new password" required)
                    |
                    |
                    .form-group
                        input(type="password" class="form-control" placeholder="Retype new password" required)
                    |
                    |
                    button(class="btn-custom btn-block") Save password
            // Form wrapper
        // Form page content
    // Form page
    |
    |