extends ../layout/simple-layout.pug

block content
    section.static-page.ptb-10
        .container-fluid
            .row
                .col-xl-10.offset-xl-1
                    h1.page-title.text-center Sitemap
                    |
                    |
                    .sitemap-wrapper.flex
                        .home
                            ="\n"
                            a(href="index.html")
                                ="\n"
                                i.icon-home
                                | Home
                        |
                        |
                        .sitemap-links
                            ul
                                li
                                    ="\n"
                                    a(href="javascript:void(0)") About Us
                                li
                                    ="\n"
                                    a(href="about.html") About Association
                                li
                                    ="\n"
                                    a(href="team.html") Team members
                                li
                                    ="\n"
                                    a(href="contact.html") Contact us
                            |
                            |
                            ul
                                li
                                    ="\n"
                                    a(href="events.html") Events & trainings
                            |
                            |
                            ul
                                li
                                    ="\n"
                                    a(href="news.html") News & media
                            |
                            |
                            ul
                                li
                                    ="\n"
                                    a(href="javascript:void(0)") Membership
                                li
                                    ="\n"
                                    a(href="associate-membership.html") Associate membership
                                li
                                    ="\n"
                                    a(href="regular-membership.html") Regular membership
                                li
                                    ="\n"
                                    a(href="sponsorship.html") Sponsorship
                            |
                            |
                            ul
                                li
                                    ="\n"
                                    a(href="news.html") Classification
                            |
                            |
                            ul
                                li
                                    ="\n"
                                    a(href="javascript:void(0)") Reports
                                li
                                    ="\n"
                                    a(href="reports.html") Statistics reports
                                li
                                    ="\n"
                                    a(href="statistics.html") Trend reports
                    // Sitemap
    // Sitemap page
    |
    |