extends ../layout/layout.pug

block content
    .breadcrumb-container
        .container-fluid
            .row
                .col-12
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                ="\n"
                                a(href="index.html") Home
                            li.breadcrumb-item Sponsorship
    // Breadcrumbs
    |
    |
    section.sponsorship-page
        .page-intro.centered
            .intro-content.cover-center(style="background-image: url("+ require("../../images/sponsorship-bg.jpg") +")")
            |
            |
            .container-fluid
                .row
                    .col-12
                        h1.title(data-aos="zoom-in" data-aos-duration="1500") Sponsorship
                        p(data-aos="fade-in" data-aos-duration="1500") Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.
        // Page intro
        |
        |
        .page-short-text.ptb-9(data-aos="fade-in" data-aos-duration="1200")
            .container-fluid
                .row
                    .col-xl-10.offset-xl-1
                        .editor-body.text-center
                            p The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced an anxious wait to see if Whitley Bay’s Rosie Belsham could catch her but in the end her two-under par total of 286 proved to be enough to give her a one-shot victory over Belsham, Stoke by Nayland’s Lily May Humphreys, Scotland’s Shannon McWilliam and Sharna Dutrieux from Wrotham Heath.
        // Page short text
        |
        |
        .statistics.ptb-8(data-aos="fade-in" data-aos-duration="1200")
            .container-fluid
                .row
                    .col-12.text-center
                        h3.section-title Some info about Sponsorship
                    // Col
                    |
                    |
                    .col-lg-3.col-6
                        .stat-item.text-center 
                            p.number +1200
                            p.name Local & Global members
                    // Col
                    |
                    |
                    .col-lg-3.col-6
                        .stat-item.text-center 
                            p.number 156 
                            p.name Global Partners
                    // Col
                    |
                    |
                    .col-lg-3.col-6
                        .stat-item.text-center 
                            p.number 240
                            p.name Hotel & Hostels
                    // Col
                    |
                    |
                    .col-lg-3.col-6
                        .stat-item.text-center 
                            p.number 450
                            p.name Other
                    // Col
                    |
                    |
                    .col-12
                        .become-one.text-center
                            ="\n"
                            button(class="btn-custom") Become a sponsor
                            |
                            |
                            p The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced
                        // Become a member
                    // Col
        // Sponsorship statistics
        |
        |
        .page-short-text.ptb-9(data-aos="fade-in" data-aos-duration="1200")
            .container-fluid
                .row
                    .col-xl-10.offset-xl-1
                        .editor-body.text-center
                            h2 Advantages of Sponsorship
                            p The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced an anxious wait to see if Whitley Bay’s Rosie Belsham could catch her but in the end her two-under par total of 286 proved to be enough to give her a one-shot victory over Belsham, Stoke by Nayland’s Lily May Humphreys, Scotland’s Shannon McWilliam and Sharna Dutrieux from Wrotham Heath.
        // Page short text
        |
        |
        .sponsorship-prices.ptb-9(data-aos="fade-in" data-aos-duration="1200")
            .container-fluid
                .row
                    .col-12.text-center
                        h3.section-title Prices
                        p.subtitle Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.
                    // Col
                    .col-lg-4.col-md-6
                        .pricing-card
                            .card-header.text-center
                                p.name Standard Sponsorship
                                p.price 1,000 AZN
                            .card-body
                                .description
                                    ul
                                        li Special recognition at welcome;
                                        li A display space;
                                        li Name projected in main event space during registration;
                                        li Two complimentary delegates for the conference;
                                        li Signage on table.
                    // Col
                    |
                    |
                    .col-lg-4.col-md-6
                        .pricing-card
                            .card-header.text-center
                                p.name Special Event Sponsorship
                                p.price 5,000 AZN
                            .card-body
                                .description
                                    ul
                                        li Special recognition at welcome and lunch;
                                        li Name projected in main event space during registration;
                                        li Three complimentary delegates for the conference;
                                        li Signage on table;
                                        li Keynote speaker/Up to 5 min product/service promotion.
                    // Col
                    |
                    |
                    .col-lg-4.col-md-6
                        .pricing-card
                            .card-header.text-center
                                p.name Premium  Sponsorship
                                p.price 10,000 AZN
                            .card-body
                                .description
                                    ul
                                        li Special recognition in opening welcome, lunch and closing;
                                        li Prominent placement of display table; 
                                        li Name projected in main event space during registration and lunch;
                                        li Five complimentary delegates for the conference;
                                        li Speaker/ and or up to 10 minutes’ product/ service promotion.
                    // Col
                    |
                    |
                    .col-12
                        .become-one.text-center
                            ="\n"
                            button.btn-custom(data-toggle="modal" data-target="#modal-apply-sponsorship") Become a sponsor
                            |
                            |
                            p The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced
                        // Become a member
                    // Col
        // Membership prices
        |
        |
        .sponsors.ptb-10(data-aos="fade-in" data-aos-duration="1200")
            .container-fluid
                .row
                    .col-12.text-center
                        h2.section-title Our Sponsors
                        |
                        |
                        .swiper-container.partners-slider
                            .swiper-wrapper
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image0.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") European Investment Bank
                                |
                                |
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image1.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") Embasy United States of America
                                |
                                |
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image2.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") Middlesex University
                                |
                                |
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image3.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") European Union
                                |
                                |
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image4.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") Ministry of Taxex of Azerbaijan Republic
                                |
                                |
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image5.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") Baku 2015 1st European Games
                                |
                                |
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image0.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") European Investment Bank
                                |
                                |
                                .swiper-slide.no-swipe
                                    .partner-block
                                        .image.flex-center
                                            ="\n"
                                            a(href="#" target="_blank")
                                                ="\n"
                                                img(data-src=require("../../images/partners/image1.png") class="swiper-lazy")
                                                ="\n"
                                        .name.text-center
                                            ="\n"
                                            a(href="#" target="_blank") Embasy United States of America
                            |
                            |
                            .swiper-pagination.visible-1024
        // Sponsors
        |
        |
        div(class="modal form-modal" id="modal-apply-sponsorship" tabindex="-1")
            div(class="modal-dialog")
                div(class="modal-content")
                    .custom-card
                        .card-header
                            h3.card-title Apply for sponsorship
                            |
                            |
                            .close-modal(data-dismiss="modal")
                                ="\n"
                                i.icon-times
                        // Card header
                        |
                        |
                        .card-body
                            form(action="#" method="POST")
                                .form-group.select
                                    select(class="form-control")
                                        option(value="exclusive") Exclusive membership
                                        option(value="associate") Associate membership
                                        option(value="option3") Option 3
                                |
                                |
                                .form-group
                                    input(type="text" class="form-control" placeholder="Company Name" required)
                                |
                                |
                                .form-group
                                    input(type="text" class="form-control" placeholder="Position" required)
                                |
                                |
                                .form-group
                                    input(type="email" class="form-control" placeholder="E-mail address" required)
                                |
                                |
                                .form-group.text-center
                                    input(type="checkbox" id="terms")
                                    label(for="terms") Please choose the exhibition #[a(href="#" target="_blank") terms & conditions]
                                |
                                |
                                button(type="submit" class="btn-custom") Apply
                        // Card body
                    // Custom card
        // Modal apply sponsorship
        |
        |
    // Sponsorship page
    |
    |