extends ../layout/simple-layout.pug

block content
    section.team-inner
        .page-categories
            ul.flex
                li
                    ="\n"
                    a(href="about.html") About Association
                li
                    ="\n"
                    a(href="team.html") Team members
                li
                    ="\n"
                    a(href="contact.html") Contact us
        // Page categories
        |
        |
        .container-fluid.ptb-10
            .row
                .col-lg-8.offset-lg-2
                    .user-card
                        .card-body.flex
                            .avatar
                                ="\n"
                                .thumb.cover-center(style="background-image: url("+ require("../../images/team/image0.jpg") +")")
                            .info.flex
                                h3.name Martin Kleinmann
                                p.he-is President
                                p.position CEO at Absheron Hotel Group
                                .linkedin-profile
                                    ="\n"
                                    a(href="https://linkedin.com" target="_blank" class="flex")
                                        ="\n"
                                        img(src=require("../../images/icons/linkedin.svg"))
                                        | Linkedin profile
                                        ="\n"
                    // User card
                    |
                    |
                    .editor-body
                        h2 Martin Kleinmann is the CEO of Absheron Hotel Group, the leading hotel management company in Azerbaijan. 
                        p Martin has a proven executive management track record, bringing more than twenty years of international experience leading luxury hotels in Europe, the Middle East, Africa and Asia. 
                        p Martin joined AHG from his previous assignment as the General Manager of JW Marriott Absheron here in Baku, Azerbaijan for the past 5 years.
                        p Prior to his arrival in Azerbaijan he was General Manager for The Ritz Carlton Hotel Company leading hotels in Bahrain, Cairo / Egypt, Istanbul / Turkey and Shenzhen / China.
                        p A hotel career of over 23 years spreading across many countries Martin had international and luxury experience with hotel brands such as InterContinental, Raffles, The Ritz Carlton and JW Marriott.
                        p Martin earned a BS degree in Hospitality Management at the Hotel Business School Bad Überkingen in Baden-Württemberg, Germany as well as numerous certifications from Cornell University. 
                        p His new role as the CEO of the Absheron Hotel Group represents a perfect culmination of his experience and interest.
    // Team inner page
    |
    |