extends ../layout/layout.pug

block content
    .breadcrumb-container
        .container-fluid
            .row
                .col-12
                    nav
                        ol.breadcrumb
                            li.breadcrumb-item
                                ="\n"
                                a(href="index.html") Home
                            li.breadcrumb-item
                                ="\n"
                                a(href="about.html") About Us
                            li.breadcrumb-item Team Members
    // Breadcrumbs
    |
    |
    section.team-page
        .page-intro.centered
            .intro-content.cover-center(style="background-image: url("+ require("../../images/team-bg.jpg") +")")
            |
            |
            .container-fluid
                .row
                    .col-12
                        h1.title(data-aos="zoom-in" data-aos-duration="1500") Team Members
                        p(data-aos="fade-in" data-aos-duration="1500") Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details.
        // Page intro
        |
        |
        .page-categories
            ul.flex
                li
                    ="\n"
                    a(href="about.html") About Association
                li.active
                    ="\n"
                    a(href="team.html") Team members
                li
                    ="\n"
                    a(href="contact.html") Contact us
        // Page categories
        |
        |
        .page-short-text.ptb-9
            .container-fluid
                .row
                    .col-xl-10.offset-xl-1
                        .editor-body.text-center
                            p The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced an anxious wait to see if Whitley Bay’s Rosie Belsham could catch her but in the end her two-under par total of 286 proved to be enough to give her a one-shot victory over Belsham, Stoke by Nayland’s Lily May Humphreys, Scotland’s Shannon McWilliam and Sharna Dutrieux from Wrotham Heath.
        // Page short text
        |
        |
        .team-members
            .container-fluid
                .row
                    .col-12
                        .team-department.flex(data-aos="fade-in" data-aos-duration="900")
                            h2.section-title.text-center Executive board
                            |
                            |
                            .user-card
                                .card-body.flex
                                    .avatar
                                        ="\n"
                                        a(href="team-inner.html" class="thumb cover-center" style="background-image: url("+ require("../../images/team/image0.jpg") +")")
                                    .info.flex
                                        p.he-is President
                                        h3.name
                                            ="\n"
                                            a(href="team-inner.html") Martin Kleinmann
                                        p.position CEO at Absheron Hotel Group
                            // User card
                        // Team department
                        |
                        |
                        .team-department.flex(data-aos="fade-in" data-aos-duration="900")
                            h2.section-title.text-center Executive office
                            |
                            |
                            .user-card
                                .card-body.flex
                                    .avatar
                                        ="\n"
                                        a(href="team-inner.html" class="thumb cover-center" style="background-image: url("+ require("../../images/team/image1.jpg") +")")
                                    .info.flex
                                        h3.name
                                            ="\n"
                                            a(href="team-inner.html") Name Surname
                                        p.position CEO, Founder
                            // User card
                            |
                            |
                            .user-card
                                .card-body.flex
                                    .avatar
                                        ="\n"
                                        a(href="team-inner.html" class="thumb cover-center" style="background-image: url("+ require("../../images/team/image2.jpg") +")")
                                    .info.flex
                                        h3.name
                                            ="\n"
                                            a(href="team-inner.html") Name Surname
                                        p.position CEO, Founder
                            // User card
                            |
                            |
                            .user-card
                                .card-body.flex
                                    .avatar
                                        ="\n"
                                        a(href="team-inner.html" class="thumb cover-center" style="background-image: url("+ require("../../images/team/image3.jpg") +")")
                                    .info.flex
                                        h3.name
                                            ="\n"
                                            a(href="team-inner.html") Name Surname
                                        p.position CEO, Founder
                            // User card
                        // Team department
                        |
                        |
                        .team-department.flex(data-aos="fade-in" data-aos-duration="900")
                            h2.section-title.text-center Staff
                            |
                            |
                            .user-card
                                .card-body.flex
                                    .avatar
                                        ="\n"
                                        a(href="team-inner.html" class="thumb cover-center" style="background-image: url("+ require("../../images/team/image4.jpg") +")")
                                    .info.flex
                                        h3.name
                                            ="\n"
                                            a(href="team-inner.html") Name Surname
                                        p.position CEO, Founder
                            // User card
                            |
                            |
                            .user-card
                                .card-body.flex
                                    .avatar
                                        ="\n"
                                        a(href="team-inner.html" class="thumb cover-center" style="background-image: url("+ require("../../images/team/image0.jpg") +")")
                                    .info.flex
                                        h3.name
                                            ="\n"
                                            a(href="team-inner.html") Name Surname
                                        p.position CEO, Founder
                            // User card
                            |
                            |
                            .user-card
                                .card-body.flex
                                    .avatar
                                        ="\n"
                                        a(href="team-inner.html" class="thumb cover-center" style="background-image: url("+ require("../../images/team/image1.jpg") +")")
                                    .info.flex
                                        h3.name
                                            ="\n"
                                            a(href="team-inner.html") Name Surname
                                        p.position CEO, Founder
                            // User card
                            |
                            |
                            .user-card
                                .card-body.flex
                                    .avatar
                                        ="\n"
                                        a(href="team-inner.html" class="thumb cover-center" style="background-image: url("+ require("../../images/team/image2.jpg") +")")
                                    .info.flex
                                        h3.name
                                            ="\n"
                                            a(href="team-inner.html") Name Surname
                                        p.position CEO, Founder
                            // User card
                        // Team department
                    // Col
        // Team members
        |
        |
        .team-bottom-text
            .container-fluid
                .row
                    .col-xl-10.offset-xl-1
                        p.info-text.text-center The 19-year-old from Bishops Stortford bogeyed the last for a one over par 73 and then faced an anxious wait to see if Whitley Bay’s Rosie Belsham could catch her but in the end her two-under par total.
        |
        |
        // Team bottom text
    // Team page
    |
    |