extends ../layout/empty-layout.pug

block content
    .form-page.flex-center
        .form-page-content
            h1.form-title.text-center Update Your Membership Plan
            p.form-subtitle.text-center Some description about reseting password... Please choose the exhibition and fill the registration form for collective
            |
            |
            .form-wrapper
                form(action="#" method="POST")
                    .form-group.select
                        select(class="form-control")
                            option(value="associate") Associate Membership
                            option(value="regular") Regular Membership
                    |
                    |
                    .form-group.select
                        select(class="form-control")
                            option(selected) Type of membership
                            option(value="associate") Associate Membership
                            option(value="regular") Regular Membership
                    |
                    |
                    button(class="btn-custom btn-block") Apply
                    |
                    |
                    .text-center.membership-plans
                        ="\n"
                        a(href="regular-membership.html") Membership plans
    // Update subscription
    |
    |