html[data-theme="dark"] {
    .not-found {
        background: #000 url("../images/bg-texture.svg") no-repeat center center;
    }
}

.not-found {
    font-family: "Aino Bold", sans-serif;
    min-height: 100vh;
    color: #fff;
    padding: 30px 12px;
    background: $mainColor url("../images/bg-texture.svg") no-repeat center center;
    background-size: cover;

    > .text-center {
        max-width: 59rem;
    }

    h1 {
        font-size: 13rem;
        line-height: 15.6rem;
    }

    p {
        font-family: "Aino", sans-serif;
        font-size: 2.4rem;
        line-height: 3.2rem;
        max-width: 95%;
        margin: 20px auto 0 auto;
    }

    .actions {
        flex-direction: column;
        align-items: center;
    }

    a {
        display: flex;
        align-items: center;
        color: #fff;

        i {
            margin: 0 1rem 0 0;
        }

        &:first-child {
            color: $accentColor;
            margin: 9rem 0;
        }

        &:last-child {
            i {
                font-size: 1.2rem;
                transform: rotate(180deg);
            }
        }
    }
}

@media (max-width: 1366px) {
    .not-found {
        a {
            &:first-child {
                margin: 6rem 0;
            }
        }
    }
}

@media (max-width: 550px) {
    .not-found {
        h1 {
            font-size: 10rem;
            line-height: 12.6rem;
        }
    
        p {
            font-size: 2rem;
            line-height: 2.8rem;
            max-width: 95%;
            margin: 15px auto 0 auto;
        }

        a {
            &:first-child {
                margin: 4rem 0;
            }
        }
    }

}