.swiper-slide {
    .default-block {
        width: 100%;
    }
}

/* ***** -- default block ***** */
.default-block {
    flex-direction: column;
    height: 100%;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: background .2s ease;

    .image {
        padding-bottom: 63%;
    }

    .info {
        flex: 1;
        flex-direction: column;
        padding: 25px;

        a {
            &:hover {
                opacity: .7;
            }
        }
    }

    .date {
        font-size: 1.3rem;
        line-height: 1.6rem;
        margin: 0 0 1.5rem;
        transition: color .2s ease;
    }

    .title {
        font-size: 1.8rem;
        line-height: 2.2rem;
        font-family: "Aino Bold", sans-serif;
        margin: 0 0 25px 0;

        a {
            color: inherit;
            transition: color .2s ease;
        }
    }

    .description {
        font-size: 1.5rem;
        line-height: 2.2rem;
        margin-top: auto;
        opacity: .8;
        transition: color .2s ease;
    }

    .see-more {
        align-items: center;
        font-size: 1.4rem;
        line-height: 1.7rem;
        margin: 2rem 0 0 0;
        transition: color .2s ease;

        img {
            width: 2.1rem;
            margin-right: 10px;
        }
    }

    &:hover {
        background: $accentColor;

        .date,
        .title,
        .description,
        .see-more {
            color: #fff;
        }

        .description {
            opacity: 1;
        }
    }
}

/* ***** -- news block ***** */
.news-block {
    flex-direction: column;
    height: 100%;
    background: #fff;
    border: 1px solid #D0D2D3;
    border-radius: 4px;
    overflow: hidden;
    transition: border, background .2s ease;

    .image {
        padding-bottom: 70%;
    }

    .info {
        flex: 1;
        flex-direction: column;
        padding: 30px;
    }

    .date {
        display: flex;
        align-items: center;
        font-family: "Aino Bold", sans-serif;
        font-size: 1.4rem;
        line-height: 1.7rem;
        margin: 0 0 20px 0;

        i {
            font-size: 1.5rem;
            margin: -4px 6px 0 0;
        }
    }

    .title {
        font-size: 1.8rem;
        line-height: 2.5rem;
        color: #000;
        margin: 0 0 25px 0;

        a {
            font-family: "Aino Bold", sans-serif;
            color: inherit;
        }
    }

    .description {
        font-size: 1.5rem;
        line-height: 2.2rem;
        margin-top: auto;
        opacity: .7;
        transition: opacity .2s ease;
    }

    &:hover {
        background: $accentColor;
        border: 1px solid $accentColor;

        .date,
        .title,
        .description,
        .see-more {
            color: #fff;
        }

        .description {
            opacity: 1;
        }
    }
}

/* ***** -- event block ***** */
.event-block {
    flex-direction: column;
    height: 100%;
    background: rgba(#fff, .06);
    transition: background .2s ease;
    border-radius: 4px;
    overflow: hidden;

    .image {
        padding-bottom: 70%;
    }

    .info {
        flex: 1;
        flex-direction: column;
        color: #fff;
        padding: 30px;
    }

    .title {
        font-size: 1.8rem;
        line-height: 2.5rem;
        margin: 0 0 40px 0;

        a {
            color: #fff;
            font-family: "Aino Bold", sans-serif;
        }
    }

    .date,
    .location,
    .stars {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        line-height: 1.7rem;
        margin: 10px 0 0 0;
        opacity: .5;

        i {
            margin: -2px 6px 0 0;
        }
    }

    .date {
        margin-top: auto;
    }

    &:hover {
        background: rgba(#fff, .18);
    }
}

/* ***** -- backgrounded block ***** */
.block-backgrounded {
    position: relative;
    width: 100%;
    padding-bottom: 83%;
    border-radius: 4px;
    overflow: hidden;

    .image {
        background: no-repeat center center;
        background-size: cover;
    }

    .info {
        flex-flow: column;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% + 1px);
        height: calc(100% + 1px);;
        color: #fff;
        padding: 40px 30px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0001) 0%, rgba(#000, 1) 100%);
    }

    .title {
        font-family: "Aino Bold", sans-serif;
        font-size: 2.4rem;
        line-height: 3rem;
        margin: 0 0 2.5rem 0;
        transition: opacity .2s ease;

        a {
            color: #fff;
        }

        &:hover {
            opacity: .7;
        }
    }

    .desc {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .date,
    .location {
        display: flex;
        align-items: center;
        font-family: "Aino Bold", sans-serif;
        font-size: 1.4rem;
        line-height: 1.7rem;
        margin: 10px 0 0 0;

        i {
            margin: -3px 8px 0 0;
        }
    }

    .learn-more {
        margin: 4rem 0 0 0;

        a {
            display: inline-flex;
            align-items: center;
            font-family: "Aino Bold", sans-serif;
            font-size: 1.5rem;
            line-height: 2rem;
            color: #fff;
            transition: .2s ease;
        }

        i {
            font-size: 1.1rem;
            margin-left: 1rem;
            transition: margin .2s ease;
        }

        a:hover {
            color: #D6C39A;

            i {
                margin-left: 2rem;
            }
        }
    }
}

@media (max-width: 1024px) {
    /* ***** -- default block ***** */
    .default-block {
        .info {
            padding: 20px;
        }
    }

    /* ***** -- news block ***** */
    .news-block {
        .info {
            padding: 25px;
        }

        .date {
            margin: 0 0 15px 0;
        }

        .title {
            margin: 0 0 20px 0;
        }
    }

    /* ***** -- event block ***** */
    .event-block {
        .info {
            padding: 25px;
        }

        .title {
            margin: 0 0 30px 0;
        }
    }

    /* ***** -- backgrounded block ***** */
    .block-backgrounded {
        padding-bottom: 85%;

        .info {
            padding: 30px 20px;
        }

        .title {
            font-size: 2rem;
            line-height: 2.6rem;
            margin: 5px 0 15px 0;
        }
    }

}

@media (max-width: 992px) {
    /* ***** -- banner block ***** */
    .bnr-block {
        .title {
            font-size: 2.2rem;
            line-height: 3rem;
        }
    }

}

@media (max-width: 575px) {
    /* ***** -- default block ***** */
    .default-block {
        .info {
            padding: 15px;
        }
    }

    /* ***** -- news block ***** */
    .news-block {
        .info {
            padding: 20px;
        }
    }

    /* ***** -- event block ***** */
    .event-block {
        .info {
            padding: 20px;
        }
    }

    /* ***** -- backgrounded block ***** */
    .block-backgrounded {
        padding-bottom: 95%;

        .title {
            font-size: 2rem;
            line-height: 2.6rem;
        }

        .desc {
            font-size: 1.4rem;
        }

        .learn-more {
            margin: 2rem 0 0 0;
        }
    }

    /* ***** -- banner block ***** */
    .bnr-block {
        .title {
            bottom: 30px;
            left: 20px;
            right: 20px;
        }
    }


}