html[data-theme="dark"] {
    .custom-card {    
        .card-header {
            background: #221F20;
            border-bottom: 1px solid rgba(#fff, .4);
        }
     
        .card-body {
            background: #221F20;
        }
    
        .card-body-title {
            color: #fff;
        }
    }
}

.custom-card {
    border-radius: 4px;
    box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.2);
    overflow: hidden;

    .card-header {
        position: relative;
        padding: 25px 20px;
        background: $mainColor;
    }

    .card-title,
    .card-body-title {
        font-family: "Aino Bold", sans-serif;
        font-size: 2.4rem;
        line-height: 3rem;
        text-align: center;
        color: #fff;
    }
 
    .card-body {
        padding: 50px 40px;
        background: #fff;
    }

    .card-body-title {
        text-align: left;
        color: #000;
        margin: 0 0 40px 0;
    }
}

@media (max-width: 575px) {
    .custom-card {
        box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
    
        .card-header {
            padding: 20px 15px;
        }
    
        .card-title,
        .card-body-title {
            font-size: 2rem;
            line-height: 2.6rem;
        }
     
        .card-body {
            padding: 30px 20px;
            background: #fff;
        }

        .card-body-title {
            margin: 0 0 30px 0;
        }
    }
}