footer {
    background: #F5F5F5;

    .copyrights {
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: rgba(#fff, .5);
        padding: 1.5rem 0;
        background: $mainColor;

        a {
            color: rgba(#fff, .5);

            &:hover {
                text-decoration: underline;
            }
        }

        ul {
            margin-left: auto;
        }

        li {
            display: inline-block;
            margin: 0 0 0 2rem;
        }
    }
}

/* ***** -- footer top ***** */
.footer-top {
    padding: 5rem 0 3rem 0;

    ul:not(.socials) {
        margin: 0 0 2.4rem 0;

        li {
            margin: 0 0 .8rem 0;
    
            a {
                font-size: 1.3rem;
                line-height: 1.6rem;
                opacity: .6;
                color: #000;
    
                &:hover {
                    text-decoration: underline;
                }
            }
    
            &:first-child {
                margin: 0 0 2rem 0;
    
                a {
                    font-family: "Aino Bold", sans-serif;
                    font-size: 1.6rem;
                    opacity: 1;
                }
            }
    
            &:last-child {
                margin: 0;
            }
        }
    }

    .contact-info {
        a {
            display: block;
        }

        p {
            font-family: "Aino Bold", sans-serif;
            margin: 0 0 1rem 0;
            white-space: nowrap;
            opacity: .4;
        }

        .number {
            font-size: 1.7rem;
        }

        .email {
            display: inline-flex;
            align-items: center;
            color: #000;
            margin: 2rem 0 3rem -.3rem;

            i {
                margin-right: .5rem;
            }
        }
    }
}

.socials {
    display: flex;

    li {
        display: inline-block;
        margin: 0 2rem 0 0;
    
        a {
            font-size: 1.8rem;
            color: #192549;
            opacity: 1;
        }

        &:last-child {
            margin: 0;
        }
    }
}

/* ***** -- footer bottom ***** */
.footer-bottom {
    font-size: 1.4rem;
    padding: 1.5rem 0;
    border-top: 1px solid #D0D2D3;

    .flex {
        align-items: center;
    }

    .theme-toggler {    
        i {
            color: #000;
        }
    }
    
    .sitemap {
        a.flex {
            color: #000;
        }
    }
    
    .toggle-search {
        color: #000;
    }

    .langs {
        .dropdown-toggle {
            color: #000;
        }
    }
}

@media (max-width: 991px) {
    /* ***** -- footer top ***** */
    .footer-top {
        padding: 40px 0 20px 0;

        ul:not(.socials) {
            li {
                margin: 0 0 5px 0;
        
                &:first-child {
                    margin: 0 0 15px 0;
                }
            }
        }

        .socials {
            margin: 0 0 24px 0;
        }
    }

}

@media (max-width: 767px) {
    footer {
        .copyrights {
            .flex {
                justify-content: center;
            }

            ul {
                width: 100%;
                text-align: center;
                margin: 15px 0 0 0;
            }
    
            li {
                display: inline-block;
                margin: 0 10px;
            }
        }
    }
}