header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    transition: background .3s ease;

    &.active {
        background: $mainColor;

        .side-menu {
            background: $mainColor;
            max-height: calc(100vh - 114px);
        }
    }

    &.backgrounded,
    &.is-scrolling {
        background: $mainColor !important;
        transition: background, transform .3s ease;
    }

    &.is-scrolling {
        position: fixed;
        top: -12.7rem;
        transform: translateY(7.1rem);
    }

    a:hover {
        opacity: .7;
    }
}

/* ***** -- header top ***** */
.header-top {
    font-size: 1.4rem;
    padding: 1.5rem 0;
    border-bottom: 1px solid rgba(#fff, .2);

    .flex {
        align-items: center;
    }
}

.theme-toggler {
    margin: -.3rem 2rem 0 -.5rem;
    cursor: pointer;

    i {
        color: #fff;
        font-size: 1.9rem;
    }
}

.sitemap {
    a.flex {
        align-items: center;
        color: #fff;
        font-family: "Aino Bold", sans-serif;
    }

    i {
        font-size: 1.3rem;
        margin: 0 1rem 0 0;
    }
}

.toggle-search {
    font-size: 1.6rem;
    margin: 0 0 0 auto;
    color: #fff;
    cursor: pointer;
}

.langs {
    margin: 0 0 0 2rem;
}

/* ***** -- header bottom ***** */
.header-bottom {
    padding: 2rem 0;

    .flex {
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        img {
            width: 19.4rem;
        }
    }
}

/* ***** -- main menu ***** */
.main-menu {
    a {
        font-family: "Aino Bold", sans-serif;
        color: #fff;
    }

    > ul {
        > li {
            position: relative;
            display: inline-block;
            padding: 1.5rem 0;
            margin-right: 3rem;
    
            &:last-child {
                margin: 0;

                ul.submenu {
                    left: auto;
                    right: 0;
                }
            }

            &:hover {
                a {
                    opacity: .7;
                }

                ul.submenu {
                    animation: showSubmenu .3s forwards;
                }
            }
        }
    }

    ul.submenu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 30rem;
        max-height: 0;
        background: #fff;
        border-radius: 2px;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.05);
        overflow: hidden;
        z-index: 5;

        li {
            position: relative;
            display: block;
            margin: 0;

            &:after {
                content: "";
                position: absolute;
                top: 100%;
                left: 25px;
                right: 25px;
                border-bottom: 1px solid #D0D2D3;
            }

            &:first-child {
                margin-top: 5px;
            }

            &:last-child {
                margin-bottom: 5px;
                
                &:after {
                    display: none;
                }
            }

            a {
                display: flex;
                align-items: center;
                font-size: 1.5rem;
                line-height: 1.8rem;
                color: #000;
                padding: 1.7rem 2.5rem;
                transition: .2s ease;

                &:hover {
                    background: $accentColor;
                    opacity: 1;
                    color: #fff;
                }
            }

            i {
                margin-right: 1rem;
            }
        }
    }

}

/* ***** -- menu toggler ***** */
.menu-toggler {
    position: relative;
    width: 36px;
    height: 18px;

    span {
        position: absolute;
        top: 50%;
        width: 100%;
        height: 2px;
        margin-top: -1px;
        background: #fff;
        transition: .2s ease;

        &:first-child {
            top: 0;
        }

        &:last-child {
            top: 100%;
        }
    }

    &.active {
        width: 32px;

        span {
            top: 50%;
            margin-top: -1px;
        
            &:first-child {
                transform: rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }
    
            &:last-child {
                transform: rotate(-45deg);
            }
        }
    }
}

/* ***** -- side menu ***** */
.side-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow-y: auto;
    transition: .3s ease;

    a {
        color: #fff;
    }

    a[data-toggle="collapse"] {
        &:after {
            top: 2.6rem;
            right: 15px;
        }
    }

    a[aria-expanded="true"] {
        background: #293668;
        opacity: 1;
    }

    > ul {
        > li {
            border-top: 1px solid rgba(#fff, .2);

            > a {
                display: block;
                font-family: "Aino Bold", sans-serif;
                font-size: 1.7rem;
                line-height: 2rem;
                padding: 25px 12px;
            }
        }
    }

    .collapse-content {
        padding: 0 0 25px 30px;
        background: #293668;

        li {
            margin: 0 0 20px 0;

            &:last-child {
                margin: 0;
            }
        }

        a {
            font-size: 1.5rem;
            line-height: 1.8rem;
        }
    }
}

@keyframes showSubmenu {
    from {
        opacity: 0;
        max-height: 0;
    }
    to {
        opacity: 1;
        max-height: 400px;
    }
}

@media (min-width: 1024px) {
    header {
        &.active {
            background: transparent;
        }
    }
}

@media (max-width: 1280px) {
    /* ***** -- header top ***** */
    .header-top {
        padding: 1.3rem 0;
    }

    /* ***** -- header bottom ***** */
    .header-bottom {
        padding: 2rem 0;

        .logo {
            img {
                width: 174px;
            }
        }
    }

    .main-menu {
        > ul {
            > li {
                padding: .5rem 0;
                margin-right: 20px;
            }
        }

        a {
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 575px) {
    header {
        &.is-scrolling {
            transform: translateY(7.4rem);
        }
    }

    /* ***** -- header bottom ***** */
    .header-bottom {
        padding: 1.5rem 0;
    }
}