/* ***** -- page intro ***** */
.page-intro {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    height: calc(100vh - 95px);
    color: #fff;
    padding: 0 0 6.5% 0;
    overflow: hidden;

    &.loaded {
        .intro-content {
            transform: scale(1);
        }
    }

    .intro-content {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 5;
        transform: scale(1.05);
        transition: 3s ease;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.9) 100%);
        }
    }

    .container-fluid {
        z-index: 6;
    }

    .date,
    .location {
        display: flex;
        align-items: center;
        font-family: "Aino Bold", sans-serif;
        font-size: 1.4rem;
        line-height: 1.7rem;
        margin: 10px 15px 0 0;

        i {
            margin: -3px 8px 0 0;
        }
    }

    .title {
        font-family: "Aino Bold", sans-serif;
        font-size: 5.6rem;
        line-height: 7rem;
        max-width: 100rem;
        margin: 30px 0 40px 0;
    }

    p {
        font-size: 2rem;
        line-height: 3rem;
        max-width: 69rem;
    }
}

/* ***** -- secondary page intro ***** */
.page-intro.secondary {
    .title {
        font-size: 3.6rem;
        line-height: 4.5rem;
    }
}

/* ***** -- centered page intro ***** */
.page-intro.centered {
    height: 80vh;

    .title {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    p {
        max-width: 79rem;
        text-align: center;
        margin: 0 auto;
    }
}

@media (min-width: 2400px) {
    /* ***** -- page intro ***** */
    .page-intro {
        padding: 0 0 4.5% 0;
    }
}

@media (max-width: 1366px) and (min-height: 1020px) {
    /* ***** -- page intro ***** */
    .page-intro {
        height: calc(65vw - 95px);
    }

    /* ***** -- centered page intro ***** */
    .page-intro.centered {
        height: calc(55vw - 95px);
    }

}

@media (max-width: 1366px) {
    /* ***** -- page intro ***** */
    .page-intro {
        padding: 0 0 5% 0;

        .title {
            font-size: 4.6rem;
            line-height: 6rem;
            margin: 20px 0 25px 0; 
        }

        p {
            font-size: 1.8rem;
            line-height: 2.8rem;
        }
    }

    /* ***** -- secondary page intro ***** */
    .page-intro.secondary {
        .title {
            font-size: 3.2rem;
            line-height: 4.1rem;
        }
    }

    /* ***** -- centered page intro ***** */
    .page-intro.centered {
        padding: 0 0 7.5% 0;
    }

}

@media (max-width: 991px) {
    /* ***** -- page intro ***** */
    .page-intro {
        height: calc(84vw - 95px);
        padding: 0 0 10% 0;

        .title {
            font-size: 4rem;
            line-height: 5.4rem;
        }
    }

    /* ***** -- centered page intro ***** */
    .page-intro.centered {
        height: calc(74vw - 95px);
    }

}

@media (max-width: 767px) {
    /* ***** -- page intro ***** */
    .page-intro {
        height: 90vw;

        .title {
            font-size: 2.8rem;
            line-height: 4.2rem;
            margin: 20px 0;
        }

        p {
            font-size: 1.5rem;
            line-height: 2.5rem;
        }
    }

    /* ***** -- secondary page intro ***** */
    .page-intro.secondary {
        .title {
            font-size: 2.6rem;
            line-height: 3.5rem;
        }
    }

    /* ***** -- centered page intro ***** */
    .page-intro.centered {
        height: 70vw;
    }

}

@media (max-width: 550px) {
    /* ***** -- page intro ***** */
    .page-intro {
        height: 85vh;
        max-height: 500px;
    }

    /* ***** -- centered page intro ***** */
    .page-intro.centered {
        height: 75vh;
        padding: 0 0 20% 0;
    }

}