.close-modal {
    position: absolute;
    top: 3.5rem;
    right: 4rem;
    font-size: 2.4rem;
    color: #fff;
    opacity: .4;
    cursor: pointer;
    transition: opacity .2s ease;

    &:hover {
        opacity: 1;
    }
}

#modal-search {
    padding-top: 20rem;
    padding-bottom: 4rem;

    .modal-dialog {
        max-width: 90rem;
        margin: 0 auto;
    }

    .modal-content {
        padding: 0 12px;
        background: none;
        border: none;
    }

    .block-title {
        color: #fff;
    }

    .latest-trainings {
        .event-block {
            .info {
                padding: 2rem;
            }

            .title {
                font-size: 1.7rem;
                line-height: 2.5rem;
                margin: 0;
            }
        }
    }
}

.search-form {
    position: relative;
    margin: 0 0 6rem 0;

    .form-control {
        font-size: 2.5rem;
        line-height: 3rem;
        color: #fff;
        padding: 0 3.4rem 1.5rem 0;
        background: none;
        border: none;
        border-bottom: 1px solid #fff;
        border-radius: 0;
        opacity: .5;
        transition: opacity .2s ease;

        &:focus {
            opacity: 1;
        }
    }

    ::-webkit-input-placeholder {
        color: #fff;
    }
    ::-moz-placeholder {
        color: #fff;
    }
    :-ms-input-placeholder {
        color: #fff;
    }
    :-moz-placeholder {
        color: #fff;
    }

    .submit-search,
    .clear-search {
        position: absolute;
        top: 0px;
        right: 0;
        font-size: 2rem;
        color: #fff;
        background: none;
        opacity: .5;
        transition: opacity .2s ease;

        &:hover {
            opacity: 1;
        }
    }

    .clear-search {
        display: none;
    }

    &.active {
        .submit-search {
            display: none;
        }

        .clear-search {
            display: block;
        }
    }
}

.search-item {
    align-items: flex-start;
    padding: 0 0 3.5rem 0;
    margin: 0 0 3.5rem 0;
    border-bottom: 1px solid rgba(#fff, .2);

    .image {
        width: 15rem;
        border-radius: 4px;
        overflow: hidden;
    }

    .info {
        width: calc(100% - 15rem);
        padding-left: 2rem;

        a {
            color: #fff;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .title {
        display: block;
        font-size: 2rem;
        line-height: 2.8rem;
        margin: 0 0 2rem 0;
    }

    .description {
        color: rgba(#fff, .5);
    }
}

@media (max-width: 1366px) {
    #modal-search {
        padding-top: 14rem;
    }

    .search-form {
        margin: 0 0 4rem 0;
    }
}

@media (max-width: 992px) {
    .close-modal {
        top: 15px;
        right: 18px;
        font-size: 2.2rem;
    }
}

@media (max-width: 575px) {
    #modal-search {
        padding-top: 75px;
    }

    .search-form {
        .form-control {
            font-size: 2.2rem;
            line-height: 2.7rem;
            padding: 0 30px 12px 0;
        }
    
        .submit-search,
        .clear-search {
            font-size: 1.8rem;
        }
    }
    
    .search-item {
        padding: 0 0 30px 0;
        margin: 0 0 30px 0;
    }

}

@media (max-width: 480px) {
    .search-item {
        .image {
            width: 100%;
            margin: 0 0 20px 0;
        }
    
        .info {
            width: 100%;
            padding-left: 0;
        }
    }

}