html[data-theme="dark"] {
    /* ***** -- default ***** */
    body {
        color: #fff;
        background: #000;
    }

    .modal-backdrop {
        background: #000;
    }

    /* ***** -- header ***** */
    header {
        &.active {
            background: #221F20;

            .side-menu {
                background: #221F20;
            }
        }

        &.backgrounded,
        &.is-scrolling {
            background: #221F20 !important;
        }
    }

    /* ***** -- main menu ***** */
    .main-menu {
        .submenu {
            background: #000;

            li {
                &:after {
                    border-bottom: 1px solid rgba(#fff, .2);
                }

                a {
                    color: #fff;

                    &:hover {
                        background: #221F20;
                    }
                }
            }
        }
    }

    /* ***** -- side menu ***** */
    .side-menu {
        a[aria-expanded="true"] {
            background: #000;
        }

        .collapse-content {
            background: #000;
        }
    }

    /* ***** -- helpers ***** */
    /* ***** -- forms ***** */
    .form-group {
        label {
            color: #fff;
        }

        .form-control {
            opacity: 1;
        }
    }

    input[type="checkbox"] {
        + label {
            color: #fff;
        }
    }

    /* ***** -- buttons ***** */
    .btn-custom {
        color: #000;
        background: #fff;
    }

    .btn-outline {
        color: #000;
        background: #fff;
        border: none;
    }

    /* ***** -- section header ***** */
    .section-header {
        .actions {
            a {
                color: #fff;
            }
        }
    }

    /* ***** -- page categories ***** */
    .page-categories {
        a {
            color: #fff;
        }
    }

    /* ***** -- editor body ***** */
    .editor-body {
        hr {
            border-top: 1px solid rgba(255, 255, 255, 0.1)
        }

        blockquote {
            background: #221F20;
    
            p {
                opacity: .8;
            }
        }
    }

    /* ***** -- swiper ***** */
    .swiper-pagination {
        .swiper-pagination-bullet {
            background: #fff;
            opacity: .5;
        }
    
        .swiper-pagination-bullet-active {
            background: #fff;
            opacity: 1;
        }
    }

    /* ***** -- pagination ***** */
    .pagination {
        .page-item {
            &.active {
                .page-link {
                    background: lighten(#221F20, 5%);
                }
            }
        }

        .page-link {
            &:hover {
                background: lighten(#221F20, 5%);
            }
        }
    }

    /* ***** -- blocks ***** */
    .default-block {
        color: #000;

        a {
            color: #000;
        }

        &:hover {
            background: #000;

            .title {
                a {
                    color: #fff;
                }
            }
        }
    }

    .news-block {
        color: #000;
        border: none;

        &:hover {
            color: #fff;
            background: #221F20;

            .title {
                a {
                    color: #fff;
                }
            }
        }
    }

    /* ***** -- index ***** */
    .service-item {
        .icon {
            background: #221F20;
        }

        a {
            color: #fff;
        }
    }

    .statistics {
        background: #221F20;
    }

    .events,
    .partners {
        background: #221F20;
    }

    .partner-block {
        a {
            color: #fff;
        }
    }

    /* ***** -- subscribe ***** */
    .subscribe,
    .confirm-subscribe {
        background: #000;
    }

    /* ***** -- about ***** */
    .about-association {
        .services {
            background: #221F20;
        }

        .service-item {    
            .icon {
                background: #000;
            }
        }
    }

    /* ***** -- team ***** */
    .user-card {
        a {
            color: #fff;
        }
    }

    /* ***** -- contact ***** */
    .contact-info {
        a {
            color: #fff;
        }
    }

    .contact-form {
        background: #221F20;
    }

    /* ***** -- events ***** */
    .event-types {
        background: #221F20;
    }

    .page-filters {
        .by-type {
            a {
                color: #fff;

                &:hover,
                &.active {
                    background: #221F20; 
                }
            }
        }
    }

    .events-list {
        .event-block {
            background: rgba(255, 255, 255, 0.10);
    
            &:hover {
                background: rgba(255, 255, 255, 0.18);
            }
        }
    
        .info {
            color: #fff;
        }
    
        .title {
            a {
                color: #fff;
            }
        }
    }

    /* ***** -- event inner ***** */
    .other-articles {    
        .see-all {
            a {
                color: #fff;
            }
        }
    }

    .apply-event-container {
        background: #221F20;
    }

    /* ***** -- static ***** */
    .static-page {
        .subtitle {
            color: #fff;
        }
    }

    /* ***** -- cookies ***** */
    .cookies-usage {
        background: #221F20 ;
    }

    /* ***** -- footer ***** */
    footer {
        background: #000;

        a {
            color: #fff !important;
        }

        .copyrights {
            background: #221F20;
        }
    }

    .footer-top {
        .contact-info {
            p {
                opacity: 1;
            }
        }
    }

    .footer-bottom {
        .theme-toggler {    
            i {
                color: #fff;
            }
        }
        
        .sitemap {
            a.flex {
                color: #fff;
            }
        }
        
        .toggle-search {
            color: #fff;
        }

        .langs {
            .dropdown-toggle {
                color: #fff;
            }

            .dropdown-item {
                color: #000 !important;
            }
        }
    }

}