doctype html
html(lang="en")
    head
        title Azerbaijan Hotel Association
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
    body
        div(class="lds-css ng-scope")
            div(class="lds-spinner")
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
        |
        |
        main.content
            block content
        |
        |
        script(src="js/jquery.js")