footer
    .footer-top
        .container-fluid
            .row
                .col-xl-2.col-lg-3.col-md-4.col-6
                    ul
                        li
                            a(href="#") About Us
                        li
                            a(href="#") Introduction
                        li
                            a(href="#") Our Goals
                        li
                            a(href="#") Organization of the Association
                        li
                            a(href="#") Statue
                        li
                            a(href="#") Code of Ethics
                // Col
                |
                |
                .col-xl-2.col-lg-3.col-md-4.col-6
                    ul
                        li
                            a(href="#") Membership
                        li
                            a(href="#") Membership benefits and conditions
                        li
                            a(href="#") Become a Member
                // Col
                |
                |
                .col-xl-2.col-lg-3.col-md-4.col-6
                    ul
                        li
                            a(href="#") Events & Trainings
                        li
                            a(href="#") Calendar
                        li
                            a(href="#") Search event
                        li
                            a(href="#") Registration for Event or Training
                        li
                            a(href="#") Event archive
                // Col
                |
                |
                .col-xl-2.col-lg-3.col-md-4.col-6
                    ul
                        li
                            a(href="#") News & Media
                        li
                            a(href="#") Calendar
                        li
                            a(href="#") Search news
                        li
                            a(href="#") Subscribe for News
                        li
                            a(href="#") Event archive
                // Col
                |
                |
                .col-xl-2.col-lg-3.col-md-4.col-6
                    ul
                        li
                            a(href="#") Classification
                // Col
                |
                |
                .col-xl-2.col-lg-3.col-md-4.col-sm-6
                    .contact-info
                        p Marketing Department
                        a(href="tel:8-(800)-700-43-43" class="phone") 8 (800) 700-43-43
                        ="\n"
                        a(href="mailto:office@tourismboard.az" class="email")
                            i.icon-mail
                            | office@tourismboard.az
                        |
                        |
                        ul.socials
                            li
                                ="\n"
                                a(href="https://facebook.com" target="_blank")
                                    i.icon-facebook
                            li
                                ="\n"
                                a(href="https://twitter.com" target="_blank")
                                    i.icon-twitter
                            li
                                ="\n"
                                a(href="https://instagram.com" target="_blank")
                                    i.icon-instagram
                // Col
    // Footer top
    |
    |
    .footer-bottom.hidden-576
        .container-fluid
            .row
                .col-12.flex
                    .theme-toggler
                        i.icon-glasses
                    // Toggle theme
                    |
                    |
                    .sitemap
                        ="\n"
                        a(href="sitemap.html" class="flex")
                            i.icon-list
                            | Sitemap
                            ="\n"
                    // Sitemap
                    |
                    |
                    .toggle-search(data-toggle="modal" data-target="#modal-search")
                        i.icon-search
                    // Toggle search
                    |
                    |
                    .langs
                        .dropdown
                            button(class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false")
                                ="\n"
                                |EN
                                i.icon-dropdown-arrow
                            ="\n"
                            .dropdown-menu
                                ="\n"
                                a(class="dropdown-item" href="#") RU
                                ="\n"
                                a(class="dropdown-item" href="#") AZ
                    // Langs
    // Footer bottom
    |
    |
    .copyrights
        .container-fluid
            .row
                .col-12.flex
                    p © 2019. Azerbaijan Hotel Association
                    |
                    |
                    ul
                        li
                            a(href="terms.html") Terms and conditions
                        li
                            a(href="policy.html") Privacy policy
    // Copyrights