header.backgrounded
    .header-top
        .container-fluid
            .row
                .col-12.flex
                    .theme-toggler
                        i.icon-glasses
                    // Toggle theme
                    |
                    |
                    .sitemap
                        ="\n"
                        a(href="sitemap.html" class="flex")
                            i.icon-list
                            | Sitemap
                            ="\n"
                    // Sitemap
                    |
                    |
                    .toggle-search(data-toggle="modal" data-target="#modal-search")
                        i.icon-search
                    // Toggle search
                    |
                    |
                    .langs
                        .dropdown
                            button(class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false")
                                ="\n"
                                |EN
                                i.icon-dropdown-arrow
                            ="\n"
                            .dropdown-menu
                                ="\n"
                                a(class="dropdown-item" href="#") RU
                                ="\n"
                                a(class="dropdown-item" href="#") AZ
                    // Langs
    // Header top
    |
    |
    .header-bottom
        .container-fluid
            .row
                .col-12.flex
                    .logo
                        ="\n"
                        a(href="index.html")
                            ="\n"
                            img(src=require("../../images/logo.svg"))
                            ="\n"
                    // Logo
                    |
                    |
                    nav.main-menu.hidden-1024
                        ul
                            li
                                ="\n"
                                a(href="javascript:void(0)") About Us
                                |
                                |
                                ul.submenu
                                    li
                                        ="\n"
                                        a(href="about.html") About Association
                                    li
                                        ="\n"
                                        a(href="team.html") Team members
                                    li
                                        ="\n"
                                        a(href="contact.html") Contact us
                            li
                                ="\n"
                                a(href="events.html") Events & Trainings
                            li
                                ="\n"
                                a(href="news.html") News & Media
                            li
                                ="\n"
                                a(href="javascript:void(0)") Membership
                                |
                                |
                                ul.submenu
                                    li
                                        ="\n"
                                        a(href="regular-membership.html") Regular membership
                                    li
                                        ="\n"
                                        a(href="associate-membership.html") Associate membership
                                    li
                                        ="\n"
                                        a(href="sponsorship.html") Sponsorship
                            li
                                ="\n"
                                a(href="classification.html") Classification
                            li
                                ="\n"
                                a(href="javascript:void(0)") Reports
                                |
                                |
                                ul.submenu
                                    li
                                        ="\n"
                                        a(href="statistics.html") Statistics reports
                                    li
                                        ="\n"
                                        a(href="reports.html") Trends reports
                            li
                                ="\n"
                                a(href="javascript:void(0)") Member's area
                                |
                                |
                                ul.submenu
                                    li
                                        ="\n"
                                        a(href="cabinet-upcoming-events.html")
                                            ="\n"
                                            i.icon-hotel
                                            | Bilgah Beach Hotel
                                            ="\n"
                                    li
                                        ="\n"
                                        a(href="account-index.html")
                                            ="\n"
                                            i.icon-settings
                                            | Account Setings
                                            ="\n"
                                    li
                                        ="\n"
                                        a(href="#")
                                            ="\n"
                                            i.icon-logout
                                            | Logout
                                            ="\n"
                    // Main menu
                    |
                    |
                    .menu-toggler.visible-1024
                        ="\n"
                        span
                        ="\n"
                        span
                        ="\n"
                        span
                    // Menu toggler
    // Header bottom
    |
    |
    .side-menu.visible-1024
        ul
            li
                ="\n"
                a(href="#menu-item0" data-toggle="collapse" aria-expanded="false") About Us
                |
                |
                .collapse(id="menu-item0")
                    .collapse-content
                        ul
                            li
                                ="\n"
                                a(href="about.html") About Association
                            li
                                ="\n"
                                a(href="team.html") Team members
                            li
                                ="\n"
                                a(href="contact.html") Contact us
            li
                ="\n"
                a(href="events.html") Events & Trainings
            li
                ="\n"
                a(href="news.html") News & Media
            li
                ="\n"
                a(href="#menu-item1" data-toggle="collapse" aria-expanded="false") Membership
                |
                |
                .collapse(id="menu-item1")
                    .collapse-content
                        ul
                            li
                                ="\n"
                                a(href="regular-membership.html") Regular membership
                            li
                                ="\n"
                                a(href="associate-membership.html") Associate membership
                            li
                                ="\n"
                                a(href="sponsorship.html") Sponsorship
            li
                ="\n"
                a(href="classification.html") Classification
            li
                ="\n"
                a(href="#menu-item2" data-toggle="collapse" aria-expanded="false") Reports
                |
                |
                .collapse(id="menu-item2")
                    .collapse-content
                        ul
                            li
                                ="\n"
                                a(href="statistics.html") Statistics reports
                            li
                                ="\n"
                                a(href="trends.html") Trends reports
            li
                ="\n"
                a(href="#menu-item3" data-toggle="collapse" aria-expanded="false") Members area
                |
                |
                .collapse(id="menu-item3")
                    .collapse-content
                        ul
                            li
                                ="\n"
                                a(href="cabinet-upcoming-events.html") Bilgah Beach Hotel
                            li
                                ="\n"
                                a(href="account-index.html") Account Settings
                            li
                                ="\n"
                                a(href="#") Logout
    // Side menu
// Header
|
|