div(class="modal" id="modal-search" tabindex="-1")
    .close-modal(data-dismiss="modal")
        ="\n"
        i.icon-times
    |
    |
    div(class="modal-dialog")
        div(class="modal-content")
            form(action="#" method="GET" class="search-form")
                .form-group
                    input(type="text" class="form-control" minlength="3" placeholder="Search" required)
                |
                |
                button(class="submit-search" type="submit")
                    ="\n"
                    i.icon-search
                |
                |
                button(class="clear-search" type="button")
                    ="\n"
                    i.icon-times
            // Search form
            |
            |
            .search-results
                .search-item.flex
                    .image
                        ="\n"
                        a(href="#")
                            ="\n"
                            img(src=require("../../images/events/image0.jpg"))
                            ="\n"
                    .info
                        a.title(href="#") International Conference on Application of Information and Communication Technologies
                        .description
                            p Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details...#[a(href="#") Read More]
                // Search item
                |
                |
                .search-item.flex
                    .image
                        ="\n"
                        a(href="#")
                            ="\n"
                            img(src=require("../../images/events/image1.jpg"))
                            ="\n"
                    .info
                        a.title(href="#") International Conference on Application of Information and Communication Technologies
                        .description
                            p Please choose the exhibition and fill the registration form for collective stand participation. We will contact you shortly for further details...#[a(href="#") Read More]
                // Search item
            // Search results
            |
            |
            .latest-trainings.hidden-768
                .row
                    .col-12
                        h3.block-title Latest events & trainings
                    // Col
                    |
                    |
                    .col-sm-4
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image0.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") 45th International Association for Educational Assessment Conference
                    // Col
                    |
                    |
                    .col-sm-4
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image1.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") CIS & Eastern Europe Coatings Conference
                    // Col
                    |
                    |
                    .col-sm-4
                        .event-block.flex
                            .image
                                ="\n"
                                a(href="event-inner.html")
                                    .swiper-lazy.cover-center(style="background-image: url("+ require("../../images/events/image2.jpg") +")")
                            .info.flex
                                h3.title
                                    ="\n"
                                    a(href="event-inner.html") International Conference on Application of Information and Communication Technologies
                    // Col
            // Latest events & trainings
// Modal Search