/* ***** -- categories ***** */
.page-categories {
    padding: 3.5rem 12px;
    border-bottom: 1px solid #D0D2D3;

    ul {
        justify-content: center;
    }

    li {
        margin: 0 2.5rem;

        &.active {
            a {
                opacity: 1;
            }
        }
    }

    a {
        font-family: "Aino Bold", sans-serif;
        font-size: 1.8rem;
        line-height: 2.2rem;
        color: #000;
        opacity: .5;
        transition: .2s ease;

        &:hover {
            opacity: 1;
        }
    }
}

/* ***** -- page short text ***** */
.page-short-text {
    position: relative;
    overflow: hidden;

    .editor-body {
        h1, h2, h3, h4 {
            font-size: 3.8rem;
            line-height: 4.6rem;
        }
    }

    &.backgrounded {
        color: #fff;
        background: no-repeat center center;
        background-size: cover;
        background-attachment: fixed;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 101%;
            height: 101%;
            background: rgba(#000, .5);
        }
    }
}

/* ***** -- services ***** */
.about-association {
    .services {
        background: #F5F5F5;
        
        .service-item {    
            .name {
                margin-bottom: 0;
            }
        }
    }
}

@media (max-width: 992px) {
    /* ***** -- page short text ***** */
    .page-short-text {
        .editor-body {
            h1, h2, h3, h4 {
                font-size: 2.8rem;
                line-height: 3.6rem;
            }
        }
    }

}

@media (max-width: 767px) {
    /* ***** -- page short text ***** */
    .about-text {
        .editor-body {
            h1, h2, h3, h4 {
                font-size: 2.1rem;
                line-height: 3.1rem;
            }
        }
    }

}

@media (max-width: 700px) {
    /* ***** -- categories ***** */
    .page-categories {
        padding: 1.5rem 0;

        li {
            margin: 5px 2rem;
        }
    }

}