html[data-theme="dark"] {
    .membership-type {
        .info {
            background: #221F20;
        }
    
        .name {
            color: #fff;
        }
    
        .pricing {
            background: #221F20;
        }
    }

    .partners.members {
        background: #000;
    }

}

/* ***** -- membership type ***** */
.membership-type {
    height: 100%;
    flex-flow: column;

    .info {
        flex: 1;
        padding: 50px 40px;
        background: #F2F2F2;
        border-radius: 4px;
        margin-bottom: 24px;
    }

    .icon-wrapper {
        align-items: center;
        padding-bottom: 4rem;
        margin-bottom: 4rem;
        border-bottom: 1px solid #D0D2D3;
    }

    .icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        padding: 15px 10px;
        background: $accentColor;
        border-radius: 3px;

        img {
            max-width: 50px;
            max-height: 60px;
        }
    }

    .name {
        font-family: "Aino Bold", sans-serif;
        font-size: 2.6rem;
        line-height: 3.4rem;
        color: $mainColor;
        width: calc(100% - 100px);
        padding-left: 30px;
    }

    .description {
        font-size: 1.8rem;
        line-height: 2.6rem;

        ul {
            list-style: inside;
        }

        li {
            margin-bottom: 20px;

            &:last-child {
                margin: 0;
            }
        }

        > * {
            margin-bottom: 20px;

            &:last-child {
                margin: 0;
            }
        }
    }

    .pricing {
        font-family: "Aino Bold", sans-serif;
        color: #fff;
        padding: 30px;
        background: $mainColor;
        border-radius: 4px;

        span {
            font-family: "Aino", sans-serif;
            font-style: italic;
            opacity: .6;
        }
    }

    .fee {
        margin-bottom: .2rem;
    }

    .price {
        font-size: 2rem;
        line-height: 2.4rem;
        margin-top: 2rem;
    }
}

@media (max-width: 1366px) {
    /* ***** -- membership types ***** */
    .membership-type {    
        .info {
            padding: 40px 40px;
        }
    
        .icon-wrapper {
            padding-bottom: 3rem;
            margin-bottom: 3rem;
        }
    
        .icon {
            width: 90px;
            height: 90px;

            img {
                max-height: 50px;
            }
        }
    
        .name {
            font-size: 2.4rem;
            line-height: 3.2rem;
            width: calc(100% - 90px);
            padding-left: 24px;
        }
    
        .description {
            font-size: 1.6rem;
            line-height: 2.4rem;
    
            li {
                margin-bottom: 15px;
            }
    
            > * {
                margin-bottom: 15px;
            }
        }
    
        .pricing {
            padding: 25px;
        }
    
        .price {
            font-size: 1.8rem;
            line-height: 2.2rem;
        }
    }

}

@media (max-width: 992px) {
    /* ***** -- membership types ***** */
    .membership-types {
        [class*="col-"] {
            margin-bottom: 6rem;

            &:last-child {
                margin: 0;
            }
        }
    }
}

@media (max-width: 575px) {
    /* ***** -- membership types ***** */
    .membership-type {    
        .info {
            padding: 30px 20px;
        }

        .icon-wrapper {
            padding-bottom: 2.5rem;
            margin-bottom: 2.5rem;
        }
    
        .icon {
            width: 60px;
            height: 60px;

            img {
                max-height: 35px;
            }
        }
    
        .name {
            font-size: 1.8rem;
            line-height: 2.6rem;
            width: calc(100% - 60px);
            padding-left: 12px;
        }
    
        .pricing {
            padding: 20px;
        }
    }

}