html[data-theme="dark"] {
    .form-page {
        color: #fff;

        &:before {
            background: #000 url("../images/bg-texture.svg") no-repeat center center;
            opacity: 1;
        }

        .form-group {
            .form-control {
                color: #fff;
            }
        }

        input[type="checkbox"] {
            + label {
                color: #fff;
    
                &:before {
                    color: #fff;
                }
            }
        }

        ::-webkit-input-placeholder {
            color: #fff;
        }
        ::-moz-placeholder {
            color: #fff;
        }
        :-ms-input-placeholder {
            color: #fff;
        }
        :-moz-placeholder {
            color: #fff;
        }
    }

    .form-page-content {
        .form-wrapper {
            a {
                color: #fff;
            }
        }
    }
}

.toggle-password {
    position: absolute;
    top: 0;
    right: 1rem;

    i {
        display: inline-block;
        font-size: 1.8rem;
        padding: 1.7rem .5rem;
        cursor: pointer;
    }
}

.form-page {
    position: relative;
    min-height: 100vh;
    color: $mainColor;
    padding: 8rem 12px 40px 12px;
    
    &:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff url("../images/bg-texture2.svg") no-repeat center center;
        background-size: cover;
        opacity: .5;
    }

    .form-group {
        margin: 0 0 25px 0;

        .form-control {
            background: transparent;
        }
    }

    input[type="checkbox"] {
        + label {
            color: #192549;

            a {
                color: $accentColor;
            }

            &:before {
                color: #192549;
            }
        }
    }

    .form-group.text-center {
        margin: 3rem 0;
    }

}

.form-page-content {
    position: relative;
    width: 100%;
    max-width: 67rem;
    margin: 0 auto;
    z-index: 10;
}

.form-title {
    font-family: "Aino Bold", sans-serif;
    font-size: 3rem;
    line-height: 3.6rem;
    
    + .form-subtitle {
        margin: 3rem 0 0 0;
        opacity: .8;
    }
}

/* ***** -- auth form ***** */
.form-page-content {
    form {
        position: relative;
    }

    .form-wrapper {
        max-width: 51rem;
        margin: 6rem auto 0 auto;
    
        a {
            color: #192549;
    
            &:hover {
                text-decoration: underline;
            }
        }
    
        .btn-custom {
            margin: 2rem 0 3rem 0;
        }
    
        .actions {
            justify-content: space-between;
            font-family: "Aino Bold", sans-serif;
    
            a {
                display: inline-block;
                margin: 1rem 0 0 0;
    
                &:last-child {
                    color: $accentColor;
                }
            }
        }
    
        .sign-in {
            font-family: "Aino Bold", sans-serif;
        }
    }
}

@media (max-width: 575px) {
    .form-title {
        font-size: 2.4rem;
        line-height: 3rem;
        
        + .form-subtitle {
            margin: 2rem 0 0 0;
        }
    }
    
    /* ***** -- auth form ***** */
    .form-page-content {
        .form-wrapper {
            margin: 4rem auto 0 auto;
        
            .btn-custom {
                margin: 1rem 0 2rem 0;
            }
        
            .actions {
                justify-content: center;
        
                a {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }

}