html[data-theme="dark"] {
    .classification-criterias {
        background: #221F20;
    }

    .criteria-block {
        background: #000;
    
        a {
            color: #fff;
        }
    }

    .apply-one {
        background: #000;
    }

}

/* ***** -- classification criterias ***** */
.classification-criterias {
    background: #f5f5f5;

    .subtitle {
        margin-bottom: 6rem;
    }
}

.criteria-block {
    height: 100%;
    font-family: "Aino Bold", sans-serif;
    padding: 30px;
    background: #fff;
    border-radius: 4px;

    a {
        color: #000;
    }

    .icon {
        img {
            width: 43px;
        }
    }

    .title {
        font-size: 2rem;
        line-height: 2.8rem;
        margin: 25px 0 15px 0;
    }

    .description {
        font-family: "Aino", sans-serif;
        margin: auto 0 35px 0;
        opacity: .8;
    }

    .download-criteria {
        font-size: 1.4rem;
        line-height: 1.7rem;

        a {
            color: #808184;
        }

        i {
            display: inline-block;
            margin-right: .8rem;
            transform: translateY(-1px);
        }
    }
    
}

/* ***** -- apply classification ***** */
.apply-one {
    flex-flow: column;
    height: 100%;
    font-family: "Aino Bold", sans-serif;
    color: #fff;
    padding: 4rem;
    background: $mainColor;
    border-radius: 4px;

    .title {
        font-size: 2.2rem;
        line-height: 3rem;
    }

    .desc {
        font-family: "Aino", sans-serif;
        margin: 20px 0;
        opacity: .8;
    }

    .btn-custom {
        margin-top: auto;
        max-width: 300px;
    }
}

/* ***** -- about regulation ***** */
.classification-page {
    .btn-outline {
        margin: 5rem 0 0 0;
        color: #fff;
    }
}

@media (max-width: 992px) {
    /* ***** -- apply classification ***** */
    .apply-one {
        padding: 3rem;

        .title {
            font-size: 2rem;
            line-height: 2.8rem;
        }

        .desc {
            font-family: "Aino", sans-serif;
            margin: 15px 0 30px 0;
        }

    }

}

@media (max-width: 767px) {
    /* ***** -- classification criterias ***** */
    .classification-criterias {
        .subtitle {
            margin-bottom: 5rem;
        }
    }

    /* ***** -- apply classification ***** */
    .apply-one {
        height: auto;
        margin: 4rem 0 0 0;
    }

}

@media (max-width: 480px) {
    .criteria-block {
        padding: 25px 20px;
    
        .title {
            font-size: 2rem;
            line-height: 2.6rem;
        }
    }

    /* ***** -- about regulation ***** */
    .classification-page {
        .btn-outline {
            margin: 3rem 0 0 0;
        }
    }

}