.contact-body {
    .block-title {
        font-size: 2.4rem;
        line-height: 3rem;
        margin: 0 0 15px 0;
    }

    .subtitle {
        max-width: 480px;
        color: #808184;
        margin: 0 0 35px 0;
    }

    .contact-info {
        padding-top: 60px;
        margin: 0 0 40px 0;
    }
}

/* ***** -- contact info ***** */
.contact-info {
    .divider {
        margin: 20px 0 50px 0;
        border-bottom: 1px solid #D0D2D3;
    }

    .subtitle {
        margin: 0 0 70px 0;
    }

    a {
        color: #000;
        
        &:hover {
            text-decoration: underline;
        }
    }

    .info-item {
        font-size: 1.5rem;
        line-height: 2.4rem;
        margin: 0 0 40px 0;

        .label {
            align-items: center;
            font-family: "Aino Bold", sans-serif;
            font-size: 1.8rem;
            line-height: 2rem;
            margin: 0 0 25px 0;

            i {
                margin: 0 1rem 0 0;
            }
        }
    }
}

.department {
    margin: 0 0 40px 0;

    .department-head {
        font-family: "Aino Bold", sans-serif;
        font-size: 1.8rem;
        line-height: 2rem;
    }

    .department-name {
        color: #808184;
        margin: .5rem 0 25px 0;
    }

    ul {
        li {
            font-size: 1.5rem;
            line-height: 1.8rem;
            margin: 0 0 1rem 0;
        }
    }

    a {
        display: inline-flex;
        align-items: center;
        overflow-wrap: anywhere;

        i {
            margin: 0 1rem 0 0;
        }
    }
}

/* ***** -- contact form ***** */
.contact-form {
    padding: 60px 50px;
    background: #F5F5F5;

    .submit-contact {
        width: 100%;
        margin: 20px 0 0 0;
    }
}

@media (max-width: 1024px) {
    /* ***** -- contact info ***** */
    .contact-body {
        .contact-info {
            padding-top: 40px;
        }
    }

    /* ***** -- contact form ***** */
    .contact-form {
        padding: 40px 30px;
    }

}

@media (max-width: 991px) {
    /* ***** -- contact info ***** */
    .contact-body {
        .contact-info {
            padding-top: 0;
        }
    }
}

@media (max-width: 480px) {
    .contact-body {
        .block-title {
            font-size: 2.2rem;
            line-height: 2.8rem;
        }
    }

    /* ***** -- contact form ***** */
    .contact-form {
        padding: 30px 20px;
    }
}