*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Aino', sans-serif;
    color: #000;
    overflow-x: hidden !important;
}

main.content {
    &.search-open {
        filter: blur(10px);
    }
}

h1, h2, h3, h4, h5, h6, p, hr {
    margin: 0;
}

a {
    color: #000;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

button {
    outline: none !important;
    border: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

table {
    width: 100%;
}

.image {
    position: relative;
    width: 100%;

    a {
        display: block;
    }

    img {
        width: 100%;
    }
}

/* ***** -- bootstrap ***** */
.container-fluid {
    max-width: 1224px;
}

/* -- dropdown */
.dropdown {
    .dropdown-toggle {
        position: relative;
        color: #fff;
        padding: 0 1.5rem 0 0;
        background: none;
        border: none;

        i {
            font-size: .5rem;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-60%);
        }

        &:after {
            display: none;
        }
    }

    .dropdown-menu {
        min-width: auto;
    }

    .dropdown-item {
        font-size: 1.2rem;
        padding: .3rem 1rem;
    }
}

/* -- forms */
label {
    width: 100%;
    font-size: 1.7rem;
    line-height: 2rem;
    color: #221F20;
    margin: 0 0 1.2rem 0;
}

.form-group {
    position: relative;
    margin: 0 0 20px 0;
    
    .form-group {
        margin: 0;
    }

    ::-webkit-input-placeholder {
        color: #000;
    }
    ::-moz-placeholder {
        color: #000;
    }
    :-ms-input-placeholder {
        color: #000;
    }
    :-moz-placeholder {
        color: #000;
    }

    .form-control {
        font-size: 1.7rem;
        line-height: 2rem;
        color: #000;
        height: auto;
        padding: 1.9rem 2rem;
        border: 1px solid #808184;
        border-radius: 3px;
        box-shadow: none !important;
        opacity: .4;
        background-image: none;
        transition: opacity .2s ease;

        &:focus {
            opacity: 1;
        }

        &.is-valid {
            border-color: #28a745;
        }

        &.is-invalid {
            border-color: #dc3545;
        }
    }
}

.form-control {
    &.is-valid,
    &.is-invalid {
        opacity: 1;
    }
}

.form-group.select {
    &:after {
        content: "\e805";
        font-family: "fontello";
        font-size: .7rem;
        position: absolute;
        top: 2.6rem;
        right: 2rem;
    }
}

select.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

input[type="checkbox"] {
    display: none;

    + label {
        position: relative;
        color: #000;
        margin: 0;
        opacity: 1;
        cursor: pointer;
        user-select: none;

        a {
            color: #3185FC;
        }

        &:before {
            display: inline-block;
            content: "\e814";
            font-family: "fontello";
            font-size: 1.5rem;
            margin: 0 10px 0 0;
            transform: translateY(-1px);
        }
    }

    &:checked + label:before {
        content: "\e815";
    }
}

/* ***** -- modal ***** */
.modal-backdrop {
    background: $mainColor;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);

    &.show {
        opacity: .9;
    }
}

/* ***** -- sweetalert ***** */
.swal-overlay {
    background: rgba($mainColor, .9);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    transition: none;
}

.swal-overlay--show-modal .swal-modal {
    animation: none;
}

.swal-title {
    font-family: "Aino Bold", sans-serif;
    font-size: 2.2rem;
    line-height: 2.8rem;
    color: #000;
}

.swal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .swal-button {
        font-family: "Aino Bold", sans-serif;
        font-size: 1.6rem;
        line-height: 2rem;
        padding: 1.3rem 3rem;
        box-shadow: none;
    }
}

.swal-button--confirm {
    background: $accentColor;

    &:hover {
        background: darken($accentColor, 7%) !important;
    }
}

/* ***** -- collapse ***** */
.collapsing {
    transition: all .2s ease;
}

a[data-toggle="collapse"] {
    position: relative;
    display: block;
    color: #000;
    padding-right: 25px;

    &:after {
        content: "\e805";
        font-family: "fontello";
        font-size: .8rem;
        position: absolute;
        right: 2px;
        top: .7rem;
    }
}

a[aria-expanded="true"] {
    &:after {
        transform: rotate(180deg);
    }
}

/* ***** -- swiper slider ***** */
.swiper-container {
    .swiper-slide {
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }
}

div.swiper-lazy {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.swiper-pagination {
    bottom: 0 !important;

    .swiper-pagination-bullet {
        width: .8rem;
        height: .8rem;
        margin: 0 8px !important;
        background: #000;
        opacity: .1;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
        background: #192549;
    }
}

/* ***** -- datepicker ***** */
.datepicker--cell.-selected- {
    background: #192549;
    
    &:hover {
        background: #192549;
    }
}

/* ***** -- toast ***** */
.toast {
    box-shadow: none !important;
}

/* ***** -- g recaptcha ***** */
.grecaptcha-badge {
    visibility: hidden !important;
}

@media (min-width: 1921px) {
    .container-fluid {
        max-width: 65vw;
    }
}

@media (min-width: 2500px) {
    html {
        font-size: 13px;
    }
}