.page-body {
    justify-content: space-between;

    .left {
        width: calc(65% - 60px);
    }

    .right {
        width: 35%;
    }

}

/* ***** -- other articles ***** */
.other-articles {
    .swiper-slide {
        margin: 0 0 50px 0;
    }

    .block-backgrounded {
        padding-bottom: 120%;
    }

    .see-all {
        margin: 40px 0 0 0;
        
        a {
            align-items: center;
            font-family: "Aino Bold", sans-serif;
            font-size: 1.5rem;
            line-height: 2rem;
            color: #192549;
        }
        
        i {
            font-size: 1.2rem;
            margin-left: 1.4rem;
        }
    }
}

/* ***** -- apply event ***** */
.apply-event-container {
    color: #fff;
    padding: 30px;
    margin: 50px 0;
    background: $accentColor;
    border-radius: 4px;

    .event-title {
        font-family: "Aino Bold", sans-serif;
        font-size: 2.4rem;
        line-height: 3.2rem;
        margin: 0 0 50px 0;
    }

    .btn-custom {
        color: #000;
        background: #fff;
    }
}

/* ***** -- form modal ***** */
.form-modal {
    padding-top: 70px;
    padding-bottom: 40px;

    .modal-dialog {
        max-width: 62rem;
        margin: 0 auto;
    }

    .modal-content {
        padding: 0 15px;
        background: none;
        border: none;
    }

    .close-modal {
        font-size: 2rem;
        top: 50%;
        right: 25px;
        transform: translateY(-50%);
    }

    .form-group.text-center {
        margin: 40px 0;
    }

    .btn-custom {
        width: 100%;
    }
}

/* ***** -- gallery ***** */
.gallery-container {
    width: 100%;
    margin: 10rem 0 6rem 0;

    .section-header {
        display: flex !important;
    }

    .swiper-slide {
        padding-bottom: 19%;
        background: #192549;
        border-radius: 4px;
        overflow: hidden;
        cursor: pointer;
    }
}

.slider-controls {
    .prev-slide,
    .next-slide {
        opacity: .3;
        cursor: pointer;
        transition: opacity .2s ease;

        &:hover {
            opacity: 1;
        }
    }

    .prev-slide {
        transform: rotate(180deg) translate(15px, -1px);
    }

    i {
        font-size: 1.3rem;

        &:before {
            width: auto;
        }
    }
}

/* ***** -- related events ***** */
.related-events {
    .swiper-slide {
        margin: 0 0 50px 0;
    }

    .slider-controls {
        i {
            color: #fff;
        }
    }
}

@media (max-width: 992px) {
    .page-body {
        .left {
            width: calc(65% - 24px);
        }
    }

    /* ***** -- apply event ***** */
    .apply-event-container {
        .event-title {
            font-size: 2.2rem;
            line-height: 3rem;
        }
    }

    /* ***** -- gallery ***** */
    .gallery-container {
        margin: 8rem 0 4rem 0;

        .swiper-slide {
            padding-bottom: 25%;
        }
    }

}

@media (max-width: 767px) {
    .page-body {
        .left {
            width: 100%;
        }
    
        .right {
            width: 100%;
            margin-top: 30px;
            order: 2;
        }
    }

    /* ***** -- apply event ***** */
    .apply-event-container {
        margin: 50px 0 30px 0;
    }
    
}

@media (max-width: 575px) {
    /* ***** -- apply event ***** */
    .apply-event-container {
        padding: 20px;
    }

    .form-modal {
        padding-top: 15px;
    }

    /* ***** -- gallery ***** */
    .gallery-container {
        margin: 5rem 0;

        .swiper-slide {
            padding-bottom: 38%;
        }
    }

}