/* ***** -- other page categories ***** */
.event-types {
    padding: 35px 0;
    background: $mainColor;

    .flex {
        justify-content: center;
    }

    li {
        display: inline-block;
        margin: 0 25px;

        a {
            font-family: "Aino Bold", sans-serif;
            font-size: 1.8rem;
            color: #fff;
            opacity: .5;
            transition: opacity .2s ease;

            &:hover,
            &.active {
                opacity: 1;
            }
        }
    }
}

/* ***** -- page filters ***** */
.page-filters {
    margin: 50px 0;

    .flex {
        justify-content: space-between;
        align-items: center;
    }

    .by-type {
        display: flex;
        flex-wrap: wrap;

        li {
            display: inline-block;
            margin: 4px 2px 4px 0;
        }

        a {
            display: inline-block;
            font-family: "Aino Bold", sans-serif;
            font-size: 1.5rem;
            line-height: 1.8rem;
            color: #192549;
            padding: 1.2rem 2rem;
            border-radius: 2px;
            transition: color, background .2s ease;

            &:hover,
            &.active {
                color: #fff;
                background: $mainColor; 
            }
        }
    }

    .by-date {
        form {
            display: flex;
            flex-wrap: wrap;
        }
    
        .form-group {
            width: 17rem;
            margin: 0 0 0 15px;
    
            &:before {
                content: "\e80b";
                font-size: 1.5rem;
                font-family: "fontello";
                color: rgba(#000, .5);
                position: absolute;
                top: 1.2rem;
                left: 1.3rem;
            }
    
            &:first-child {
                margin: 0;
            }
        }
    
        .form-control {
            font-size: 1.5rem;
            line-height: 1.8rem;
            height: 4.5rem;
            padding: 1.2rem 1.5rem 1.1rem 3.5rem;
        }
    
        ::-webkit-input-placeholder {
            color: #000;
        }
        ::-moz-placeholder {
            color: #000;
        }
        :-ms-input-placeholder {
            color: #000;
        }
        :-moz-placeholder {
            color: #000;
        }
    }
}

/* ***** -- events list ***** */
.events-list {
    [class*="col-"] {
        margin-bottom: 40px;
    }

    .event-block {
        background: #F2F2F2;

        &:hover {
            background: $accentColor;

            .info {
                color: #fff;
            }

            .title {
                a {
                    color: #fff;
                }
            }
        }
    }

    .info {
        color: #000;
    }

    .title {
        a {
            color: #000;
        }
    }

    .date,
    .location {
        opacity: 1;
    }
}

@media (max-width: 991px) {
    /* ***** -- page filters ***** */
    .page-filters {
        margin: 40px 0;

        .by-type {
            width: 100%;
            margin: 0 0 10px 0;
        }
    }

}

@media (max-width: 767px) {
    /* ***** -- other page categories ***** */
    .event-types {
        padding: 25px 0 20px 0;

        li {
            margin: 0 15px 10px 15px;

            a {
                font-size: 1.7rem;
            }
        }
    }

}

@media (max-width: 420px) {
    /* ***** -- page filters ***** */
    .page-filters {
        .by-date {
            .form-group {
                width: 100%;
                margin: 0 0 13px 0 !important;
            }
        }
    }
    
}