@font-face {
    font-family: "Aino";
    src: local("Aino"), 
        url("../fonts/AinoAZ-Regular.woff"),
        url("../fonts/AinoAZ-Regular.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Aino Bold";
    src: local("Aino Bold"), 
        url("../fonts/AinoAZ-Bold.woff"),
        url("../fonts/AinoAZ-Bold.woff2");
    font-display: swap;
}