/* ***** -- utilities ***** */
.visible-1024 {
    display: none;
}

.no-padding {
    padding: 0;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-uppercase {
    text-transform: uppercase;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover-center {
    background: no-repeat center center;
    background-size: cover;
}

.ptb-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.ptb-8 {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.ptb-9 {
    padding-top: 9rem;
    padding-bottom: 9rem;
}

.ptb-10 {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.ptb-12-10 {
    padding-top: 12rem;
    padding-bottom: 10rem;
}

/* ***** -- section header ***** */
.page-title,
.section-title,
.block-title {
    font-family: "Aino Bold", sans-serif;
    margin: 0 0 30px 0;
}

.page-title {
    font-size: 5rem;
    line-height: 6rem;
}

.section-title {
    font-size: 3.8rem;
    line-height: 4.6rem;
    margin: 0;

    + .subtitle {
        font-size: 1.8rem;
        line-height: 2.6rem;
        max-width: 59rem;
        margin: 20px auto 0 auto;
    }
}

.block-title {
    font-size: 2.2rem;
    line-height: 2.8rem;

    + .subtitle {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}

.section-header {
    justify-content: space-between;
    align-items: center;
    margin: 0 0 40px 0;

    .actions {
        a {
            font-family: "Aino Bold", sans-serif;
            color: #192549;
            display: inline-flex;
            flex-wrap: wrap;
            align-items: center;
            font-size: 1.5rem;
            line-height: 2rem;

            i {
                font-size: 1.2rem;
                margin: 0 0 0 15px;
                transform: translateX(-5px);
                transition: .2s ease;
            }

            &:hover {
                i {
                    transform: translateX(5px);
                }
            }
        }
    }
}

/* ***** -- buttons ***** */
.btn-custom,
.btn-danger {
    display: inline-block;
    font-family: "Aino Bold", sans-serif;
    color: #fff;
    text-transform: uppercase;
    padding: 1.7rem 3rem;
    background: $accentColor;
    border-radius: 3px;
    transition: .2s ease;

    &.btn-block {
        width: 100%;
    }

    &:hover {
        color: #fff;
        background: darken($accentColor, 7%);
    }
}

.btn-danger {
    background: #D90529;

    &:hover {
        color: #fff;
        background: darken(#D90529, 7%);
    }
}

.btn-outline {
    display: inline-flex;
    align-items: center;
    font-family: "Aino Bold", sans-serif;
    color: #000;
    padding: 1.7rem 3rem;
    background: none;
    border: 1px solid #D0D2D3;
    border-radius: 3px;
    transition: .2s ease;

    i {
        font-size: .6rem;
        margin: 3px 0 0 1rem;
        transform: rotate(-90deg);
    }

    &:hover {
        color: #fff;
        background: $accentColor;
        border-color: $accentColor;
    }

    &.with-icon {
        i {
            font-size: 1.6rem;
            margin: 0 1rem 0 0;
            transform: none;
        }
    }
}

/* ***** -- tags ***** */
.tags {
    li {
        display: inline-block;
        margin: 0 1rem .5rem 0;
    }

    a {
        display: inline-block;
        font-family: "Aino Bold", sans-serif;
        font-size: 1.3rem;
        line-height: 1.6rem;
        color: #13244F;
        padding: .5rem 1.5rem;
        background: #D6C39A;
    }
}

/* ***** -- pagination ***** */
.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 0 120px 0;

    .page-item {
        margin: 5px;

        &.active {
            .page-link {
                color: #fff;
                background: $accentColor;
            }
        }

        &.disabled {
            .page-link {
                color: #000;
                background: #f5f5f5;
                opacity: .7;
            }
        }
    }

    .page-link {
        font-size: 1.6rem;
        line-height: 1.9rem;
        font-family: "Aino Bold", sans-serif;
        color: #000;
        padding: 1.6rem 2rem;
        background: #f5f5f5;
        border: none;
        border-radius: 2px;
        transition: color, background .2s ease;

        &:hover {
            color: #fff;
            background: $accentColor;
        }
    }
}

/* ***** -- breadcrumbs ***** */
.breadcrumb-container {
    position: absolute;
    top: 17rem;
    left: 0;
    width: 100%;
    z-index: 10;

    .breadcrumb {
        padding: 0;
        margin: 0;
        background: none;
    }

    .breadcrumb-item {
        font-family: "Aino Bold", sans-serif;
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: #fff;

        + .breadcrumb-item {
            margin: 0 0 0 1rem;

            &:before {
                content: "\e805";
                font-family: "fontello";
                font-size: .5rem;
                color: #fff;
                padding: 0;
                opacity: .5;
                transform: rotate(-90deg) translate(.3rem, -.7rem);
            }
        }
    }

    a {
        color: #fff;
        opacity: .5;

        &:hover {
            opacity: 1;
        }
    }
}

/* ***** -- text editor ***** */
.editor-body {
    position: relative;
    z-index: 5;

    h1, h2, h3, h4 {
        font-family: "Aino Bold", sans-serif;
        font-size: 2.6rem;
        line-height: 3.6rem;
    }

    p {
        font-size: 1.8rem;
        line-height: 2.8rem;

        a {
            display: inline;
        }

        strong {
            display: inline;
        }
    }

    hr {
        margin: 50px 0;
    }

    blockquote {
        position: relative;
        background: #F3F3F3;
        padding: 4rem 4rem 4rem 9.4rem;

        &:before {
            content: "";
            position: absolute;
            top: 4.5rem;
            left: 4rem;
            width: 3.3rem;
            height: 2.6rem;
            background: url("../images/icons/quote.svg") no-repeat center;
            background-size: contain;
        }

        p {
            font-size: 2rem;
            line-height: 3rem;
            font-style: italic;
            opacity: .4;
        }
    }

    ul {
        list-style: disc;
        padding-left: 17px;

        li {
            font-size: 1.8rem;
            line-height: 2.8rem;
            margin: 0 0 .8rem 0;
        }
    }

    > * {
        margin: 0 0 3rem 0;
    }

    > *:last-child {
        margin: 0;
    }
}

/* ***** -- info text ***** */
.info-text {
    font-size: 1.8rem;
    line-height: 3rem;
    margin: 0 0 30px 0;
}

/* ***** -- white panel ***** */
.white-panel {
    padding: 5rem;
    background: #fff;
    border-radius: 4px;

    form {
        max-width: 51rem;
    }

    .form-group {
        margin: 0 0 2.5rem 0;
    }
}

/* ***** -- alerts ***** */
.alert {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 1.5rem 1.2rem;
    background: #000;
    border: none;
    border-radius: 0;
    z-index: 120;

    &.alert-danger {
        background: #D90529;
    }

    &.alert-success {
        background: #52c08d;
    }

    a {
        color: #fff;
        text-decoration: underline;
    }

    .close {
        background: none;
        position: absolute;
        top: 50%;
        right: 1.2rem;
        transform: translateY(-50%);
        padding: 0 1rem;
        font-size: 2rem;
    }
}

@media (min-width: 1921px) {
    .site-alert {
        .alert-content {
            max-width: 65vw;
        }
    }
}

@media (max-width: 1366px) {
    /* ***** -- breadcrumbs ***** */
    .breadcrumb-container {
        top: 16rem;
    }
}

@media (max-width: 1280px) {
    /* ***** -- breadcrumbs ***** */
    .breadcrumb-container {
        top: 13.5rem;
    }
}

@media (max-width: 1024px) {
    .hidden-1024 {
        display: none;
    }

    .visible-1024 {
        display: block;
    }

    .ptb-6 {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    
    .ptb-8 {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .ptb-9 {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    
    .ptb-10 {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }

    .ptb-12-10 {
        padding-top: 9rem;
        padding-bottom: 7rem;
    }

    /* ***** -- section header ***** */
    .page-title {
        font-size: 4.4rem;
        line-height: 5.4rem;
    }

    .section-title {
        font-size: 3.2rem;
        line-height: 4rem;

        + .subtitle {
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
    }

    .section-header {
        margin: 0 0 30px 0;
    }

    /* ***** -- pagination ***** */
    .pagination {
        margin: 30px 0 70px 0;

        .page-link {
            font-size: 1.4rem;
            line-height: 1.7rem;
            padding: 1rem 1.5rem;
        }
    }

    /* ***** -- white panel ***** */
    .white-panel {
        padding: 3rem;
    }

}

@media (max-width: 992px) {
    .hidden-992 {
        display: none;
    }

    /* ***** -- text editor ***** */
    .editor-body {
        h1, h2, h3, h4 {
            font-size: 2.4rem;
            line-height: 3.4rem;
        }

        p {
            font-size: 1.6rem;
            line-height: 2.6rem;
        }
    }

    /* ***** -- info text ***** */
    .info-text {
        font-size: 1.6rem;
        line-height: 2.8rem;
    }

}

@media (max-width: 768px) {
    .hidden-768 {
        display: none;
    }
}

@media (max-width: 767px) {
    .hidden-767 {
        display: none;
    }

    /* ***** -- breadcrumbs ***** */
    .breadcrumb-container {
        display: none;
    }

    /* ***** -- text editor ***** */
    .editor-body {
        h1, h2, h3, h4 {
            font-size: 2.1rem;
            line-height: 3.1rem;
        }

        hr {
            margin: 30px 0;
        }
    }

}

@media (max-width: 576px) {
    .hidden-576 {
        display: none;
    }

    .ptb-9 {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .ptb-10 {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .ptb-12-10 {
        padding-top: 7rem;
        padding-bottom: 5rem;
    }

    .btn-custom {
        padding: 1.2rem 3rem;
    }

    .btn-outline {
        padding: 1.2rem 3rem;
    }

    /* ***** -- section header ***** */
    .page-title {
        font-size: 3.2rem;
        line-height: 4.2rem;
        margin: 0 0 20px 0;
    }

    .section-title {
        font-size: 2.8rem;
        line-height: 3.6rem;
    }

    .section-header {
        margin: 0 0 30px 0;
        display: block;

        .section-title {
            margin: 0 0 10px 0;
        }
    }

    /* ***** -- white panel ***** */
    .white-panel {
        padding: 2.5rem;
    }

    /* ***** -- editor body ***** */
    .editor-body {
        blockquote{
            padding: 2rem 2rem 2rem 5.6rem;

            &:before {
                top: 2.5rem;
                left: 2rem;
                width: 2.6rem;
                height: 1.9rem;
            }

            p {
                font-size: 1.8rem;
                line-height: 2.8rem;
            }
        }
    }

}