/* ***** -- intro slider ***** */
.intro-slider {
    color: #fff;

    .swiper-slide {
        background: #000;
        height: 100vh;
        display: flex;
        align-items: flex-end;
        padding: 0 0 9% 0;
        overflow: hidden;
    }

    .swiper-slide-active {
        .swiper-lazy {
            transform: scale(1);
        }
    }

    .swiper-lazy {
        transform: scale(1.05);
        transition: 3s ease;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(#000, 0.0001) 0%, rgba(#000, .8) 100%);
        }
    }

    a {
        color: #fff;
        transition: opacity .2s ease;
    }

    .title {
        font-family: "Aino Bold", sans-serif;
        font-size: 5.6rem;
        line-height: 7rem;
        max-width: 89rem;
        margin: 0 0 4rem 0;

        &:hover {
            a {
                opacity: .7;
            }
        }
    }

    p {
        font-size: 2.2rem;
        line-height: 3.2rem;
        max-width: 69rem;
    }

    .swiper-pagination {
        bottom: 3rem !important;

        .swiper-pagination-bullet {
            height: .3rem;
            width: 3rem;
            background: #fff;
            opacity: .3;
            border-radius: 1rem;
        }

        .swiper-pagination-bullet-active {
            background: #fff;
            opacity: 1;
        }
    }
}

/* ***** -- services ***** */
.services {
    .swiper-container {
        width: 100%;
    }

    .toggle-services {
        width: 100%;
        margin: 8rem 0 0 0;

        button:last-child {
            display: none;
        }

        &.is-visible {
            button:first-child {
                display: none;
            }

            button:last-child {
                display: inline-flex;
            }
        }
    }
}

.hidden-services {
    width: 100%;
    padding: 0 12px;
    display: none;

    .row {
        justify-content: center;
    }
}

.service-item {
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 29rem;
    padding: 0 1rem;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;

    a {
        color: #000;
    }

    .icon {
        width: 10rem;
        height: 10rem;
        background: $accentColor;
        border-radius: 6px;

        img {
            max-width: 5.4rem;
            max-height: 4.1rem;
        }
    }

    .name {
        font-family: "Aino Bold", sans-serif;
        font-size: 2rem;
        line-height: 2.4rem;
        text-align: center;
        margin: 3rem 0 0 0;
    }

    .description {
        font-size: 1.5rem;
        line-height: 2.2rem;
        text-align: center;
        margin: 2rem 0 0 0;
    }
}

/* ***** -- statistics ***** */
.statistics {
    background: $mainColor;

    .section-header {
        .section-title {
            color: #fff;
        }
    
        .actions {
            a {
                color: #fff;
            }
        }
    }

    .swiper-pagination {
        .swiper-pagination-bullet {
            background: #fff;
            opacity: .3;
        }

        .swiper-pagination-bullet-active {
            background: #fff;
            opacity: 1;
        }
    }
}

/* ***** -- events ***** */
.events {
    background: $mainColor;

    .section-header {
        .section-title {
            color: #fff;
        }
    
        .actions {
            a {
                color: #fff;
            }
        }
    }

    .swiper-pagination {
        .swiper-pagination-bullet {
            background: #fff;
            opacity: .3;
        }

        .swiper-pagination-bullet-active {
            background: #fff;
            opacity: 1;
        }
    }
}

/* ***** -- subscribe ***** */
.subscribe {
    position: relative;
    padding: 4.5rem 0;
    background: $accentColor;

    &.subscribed {
        .confirm-subscribe {
            display: flex;
        }
    }

    .row {
        align-items: center;
    }

    .title {
        font-family: "Aino Bold", sans-serif;
        font-size: 2.2rem;
        line-height: 3rem;
        color: #fff;
        opacity: .8;
    }
}

.subscribe-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 3rem;

    .form-group {
        width: 100%;
        margin: 0;
    }

    .form-control {
        font-size: 1.8rem;
        color: #fff;
        padding: 1.5rem 0;
        background: none;
        border: none;
        border-bottom: 2px solid #fff;
        border-radius: 0;
        opacity: .5;
        transition: opacity .2s ease;

        &:focus {
            opacity: 1;
        }

        &.is-invalid {
            border-bottom: 2px solid #fff;
        }
    }

    .invalid-feedback {
        color: #fff;
    }

    ::-webkit-input-placeholder {
        color: #fff;
    }
    ::-moz-placeholder {
        color: #fff;
    }
    :-ms-input-placeholder {
        color: #fff;
    }
    :-moz-placeholder {
        color: #fff;
    }

    .submit-subscribe {
        white-space: nowrap;
        color: #000;
        margin: 0 0 0 3rem;
        background: #fff;
    }
}

.confirm-subscribe {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 0 1.2rem;
    background: $accentColor;

    .confirm-title {
        font-family: "Aino Bold", sans-serif;
        font-size: 2.2rem;
        line-height: 3rem;
        margin: 0 0 1rem 0;
    }

    p {
        opacity: .8;
    }
}

/* ***** -- partners ***** */
.partners {
    .swiper-slide {
        display: block;
        margin-bottom: 5rem;
    }
}

.partner-block {    
    .image {
        width: 100%;
        height: 18rem;
        padding: 1.5rem;
        margin: 0 0 1.5rem 0;
        background: #fff;
        border: 1px solid #D0D2D3;
        border-radius: 4px;
    }

    img {
        width: auto;
        max-height: 7.5rem;
    }

    .name {
        font-family: "Aino Bold", sans-serif;
        font-size: 1.5rem;
        line-height: 2.2rem;

        a {
            color: #000;
        }
    }
}

/* ***** -- cookies ***** */
.cookies-usage {
    display: none;
    position: fixed;
    bottom: -1px;
    left: 0;
    width: 100%;
    padding: 4rem 0;
    background: $mainColor;
    color: #fff;
    z-index: 10;

    .close {
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        opacity: .5;
        cursor: pointer;
        z-index: 5;

        &:hover {
            opacity: 1;
        }
    }

    .col-12 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .info {
        max-width: 69rem;
        padding-right: 2rem;
    }

    .title {
        font-family: "Aino Bold", sans-serif;
        font-size: 2.5rem;
        margin: 0 0 1.5rem 0;
    }

    .actions {
        display: flex;
        align-items: center;

        a {
            white-space: nowrap;
        }
    }

    .btn-custom {
        text-transform: none;
        color: $mainColor;
        padding: 1.6rem 4rem;
        margin: 0 3rem 0 0;
        background: #fff;
    }

    .more-info {
        color: #fff;
        
        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 1366px) and (min-height: 1020px) {
    /* ***** -- intro slider ***** */
    .intro-slider {
        .swiper-slide {
            height: 65vw;
        }
    }

}

@media (max-width: 1366px) {
    /* ***** -- intro slider ***** */
    .intro-slider {
        .title {
            font-size: 5rem;
            line-height: 6.4rem;
            margin: 0 0 3rem 0;
        }

        p {
            font-size: 2rem;
            line-height: 3rem;
        }

        .swiper-pagination {
            bottom: 2rem !important;
        }
    }

    /* ***** -- cookies ***** */
    .cookies-usage {
        padding: 3rem 0;

        .title {
            font-size: 2.2rem;
            margin: 0 0 1rem 0;
        }

        p {
            font-size: 1.5rem;
        }

        .btn-custom {
            padding: 1.4rem 4rem;
        }
    }

}

@media (max-width: 1024px) {
    .x-4, .x-3 {
        .swiper-slide {
            margin-bottom: 50px;
        }
    }

}

@media (max-width: 991px) {
    /* ***** -- intro slider ***** */
    .intro-slider {
        .swiper-slide {
            height: 84vw;
            padding: 0 0 15% 0;
        }

        .title {
            font-size: 4rem;
            line-height: 5.4rem;
        }

        p {
            font-size: 1.8rem;
            line-height: 2.8rem;
        }
    }

    /* ***** -- subscribe ***** */
    .subscribe {
        .title {
            text-align: center;
        }
    }

    .subscribe-form {
        padding-left: 0;
        margin: 3rem 0 0 0;
    }

}

@media (max-width: 767px) {
    /* ***** -- intro slider ***** */
    .intro-slider {
        .swiper-slide {
            height: 90vw;
        }

        .title {
            font-size: 3rem;
            line-height: 4.2rem;
            margin: 0 0 2rem 0;
        }

        p {
            font-size: 1.5rem;
            line-height: 2.5rem;
        }
    }

    /* ***** -- cookies ***** */
    .cookies-usage {
        padding: 2rem 0;

        .col-12 {
            flex-direction: column;
        }

        .info {
            padding-right: 0;
        }

        .actions {
            margin: 2rem 0 0 0;
        }

        .btn-custom {
            padding: 1.2rem 3rem;
            margin: 0 2rem 0 0;
        }
    }

}

@media (max-width: 576px) {
    /* ***** -- services ***** */
    .services {
        .toggle-services {
            margin: 4rem 0 0 0;
        }
    }

    .service-item {
        .name {
            margin: 2rem auto 0 auto;
            max-width: 28rem;
        }
    }

    /* ***** -- subscribe ***** */
    .subscribe-form {
        display: block;

        .submit-subscribe {
            margin: 3rem 0 0 0;
            width: 100%;
        }
    }
}

@media (max-width: 550px) {
    /* ***** -- intro slider ***** */
    .intro-slider {
        .swiper-slide {
            height: 90vh;
            max-height: 580px;
        }

        .swiper-pagination {
            .swiper-pagination-bullet {
                height: 2px;
                width: 22px;
                border-radius: 5px;
            }
        }
    }

    /* ***** -- partners ***** */
    .partner-block {
        .image {
            height: 42vw;
        }

        .name {
            font-size: 1.4rem;
            line-height: 2.1rem;
        }
    }

}