html[data-theme="dark"] {
    .benefit-item {
        border-bottom: 1px solid rgba(#fff, .4);

        .name {
            color: #fff;
    
            &:before {
                background: rgba(#fff, .4);
            }
        }
    }

    .membership-prices {
        background: #221F20;
    
        .tab-pane {
            background: #000;
    
            .pricing-type {
                color: #fff;
            }
        }
    }

}

/* ***** -- membership benefits ***** */
.membership-benefits-list {
    margin-bottom: 6rem;
}

.benefit-item {
    padding: 0 0 6rem 0;
    margin: 0 0 6rem 0;
    border-bottom: 1px solid #D0D2D3;
    overflow: hidden;

    .name {
        position: relative;
        width: 50%;
        font-family: "Aino Bold", sans-serif;
        font-size: 2.2rem;
        line-height: 3rem;
        color: $mainColor;
        padding: 25px 40px 0 0;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 60px;
            height: 4px;
            background: #D6C39A;
        }
    }

    .description {
        width: 50%;
        padding: 0 0 0 12px;

        ul {
            list-style: inside;
        }

        > * {
            margin-bottom: 20px;

            &:last-child {
                margin: 0;
            }
        }
    }
}

/* ***** -- membership prices ***** */
.membership-prices {
    background: $mainColor;

    .section-title,
    .subtitle {
        color: #fff;
    }

    .subtitle {
        opacity: .7;
        max-width: 100rem;
    }

    .nav {
        justify-content: center;
        margin: 4rem 0;

        li {
            &:first-child {
                a {
                    border-radius: 3px 0 0 3px;
                }
            }

            &:last-child {
                a {
                    border-radius: 0 3px 3px 0;
                }
            }
        }

        a {
            display: inline-block;
            font-family: "Aino Bold", sans-serif;
            padding: 1.3rem 2.5rem;
            border: 1px solid $accentColor;
            color: #fff;

            &.active {
                background: $accentColor;
            }
        }
    }

    .tab-pane {
        padding: 50px;
        background: #fff;
        border-radius: 5px;

        .pricing-type {
            font-family: "Aino bold", sans-serif;
            color: $mainColor;
            margin: 0 0 50px 0;
        }
    }

    .pricing-table {
        overflow-x: auto;
    }

    table {
        font-family: "Aino Bold", sans-serif;
        max-width: 100rem;
        min-width: 700px;
        margin: 0 auto;
    }

    tr {
        border-bottom: 1px solid #D0D2D3;

        th {
            text-align: center;
            color: $accentColor;
            padding: 0 5px 18px 5px;
            border-right: 1px solid #D0D2D3;

            &:last-child {
                border: none;
            }
        }
    
        td {
            text-align: center;
            padding: 18px 5px;
            border-right: 1px solid #D0D2D3;

            &:last-child {
                border: none;
            }
        }

        &:last-child {
            border: none;

            td {
                padding: 18px 5px 0 5px;
            }
        }

        &:first-child {
            border-bottom: 1px solid #D0D2D3;
        }
    }
    
}

/* ***** -- our members ***** */
.members {
    .subtitle {
        max-width: 100rem;
        margin-bottom: 9rem;
    }

    .swiper-container {
        margin: 0 0 6rem 0;
    }

    .become-one {
        margin: 0;
    }
}

.become-one {
    margin: 7rem 0 0 0;

    p {
        max-width: 59rem;
        margin: 30px auto 0 auto;
        opacity: .5;
    }
}

@media (max-width: 1024px) {
    /* ***** -- our members ***** */
    .members {
        .subtitle {
            margin-bottom: 7rem;
        }

        .swiper-container {
            margin: 0 0 4rem 0;
        }
    }

    .become-one {
        margin: 4rem 0 0 0;
    }
}

@media (max-width: 992px) {
    /* ***** -- membership benefits ***** */
    .benefit-item {
        padding: 0 0 5rem 0;
        margin: 0 0 5rem 0;
    
        .name {
            font-size: 2rem;
            line-height: 2.8rem;
            padding: 20px 40px 0 0;
    
            &:before {
                height: 3px;
            }
        }
    }

    /* ***** -- membership prices ***** */
    .membership-prices {
        .nav {
            margin: 3rem 0;
    
            a {
                padding: 1rem 2.5rem;
            }
        }

        .tab-pane {
            padding: 30px 20px;
    
            .pricing-type {
                margin: 0 0 30px 0;
            }
        }

        table {
            font-size: 1.4rem;
            line-height: 1.7rem;
        }
    }
    
}

@media (max-width: 767px) {
    /* ***** -- membership benefits ***** */
    .benefit-item {    
        .name {
            width: 100%;
            padding: 20px 0 30px 0;
        }

        .description {
            width: 100%;
            padding: 0;
        }
    }
    
}