html[data-theme="dark"] {
    .step-counts {
        .step {
            + .step {
                &:before {
                    border: 1px dashed rgba(#fff, .3);
                }
            }
    
            .num {
                background: rgba(#fff, .3);
            }
        }
    }
    
    .register-steps.step-1 {
        .step:nth-child(1) {
            .num {
                color: #000;
                background: #fff;
    
                span {
                    opacity: 1;
                }
            }
        }
    }
    
    .register-steps.step-2 {
        .step:nth-child(1),
        .step:nth-child(2) {
            .num {
                color: #000;
                background: #fff;
    
                span {
                    opacity: 1;
                }
            }
        }
    }

    .auth-success {    
        .form-title {
            color: #D6C39A;
        }
    
        .go-home {
            a {
                color: #fff;
            }
        }
    }

}

.form-page-content {
    .form-wrapper {
        option {
            color: $mainColor;
        }
    }    
}

.step-counts {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 6rem 0 0 0;

    .step {
        width: 33.333333%;
        max-width: 13rem;
        position: relative;
        font-family: "Aino Bold", sans-serif;

        + .step {
            &:before {
                content: "";
                position: absolute;
                top: 2.4rem;
                right: 100%;
                border: 1px dashed rgba($mainColor, .2);
                display: inline-block;
                width: 105%;
            }
        }

        .num {
            font-size: 2rem;
            width: 5rem;
            height: 5rem;
            margin: 0 auto 2rem auto;
            background: rgba($mainColor, .2);
            border-radius: 50%;

            span {
                opacity: .5;
            }
        }

        .name {
            text-align: center;
            margin: 0 auto;
            opacity: .5;
        }
    }
}

.register-steps.step-1 {
    .step:nth-child(1) {
        .num {
            color: #fff;
            background: $mainColor;

            span {
                opacity: 1;
            }
        }

        .name {
            opacity: 1;
        }
    }
}

.register-steps.step-2 {
    .step:nth-child(1),
    .step:nth-child(2) {
        .num {
            color: #fff;
            background: #192549;

            span {
                opacity: 1;
            }
        }

        .name {
            opacity: 1;
        }
    }
}

/* ***** -- fields group ***** */
.register-steps {
    .fields-group {
        &:last-child {
            display: none;
        }
    }
}

.register-steps.step-2 {
    .fields-group {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        animation: moveDown .4s ease forwards;

        &:last-child {
            display: block;
            position: static;
            animation: moveUp .4s ease forwards;
        }
    }
}

/* ***** -- register success ***** */
.auth-success {
    .stars {
        color: $accentColor;
    }

    .form-title {
        margin-top: 2rem;
        color: $accentColor;
    }

    .go-home {
        font-family: "Aino Bold", sans-serif;
        margin: 10rem 0 0 0;

        a {
            color: #192549;
        }

        i {
            font-size: 1.3rem;
            display: inline-block;
            margin: 0 10px 0 0;
            transform: rotate(180deg);
        }
    }
}

@keyframes moveDown {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(10rem);
        opacity: 0;
    }
}

@keyframes moveUp {
    from {
        transform: translateY(10rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 767px) {
    .step-counts {
        justify-content: center;

        .step {
            display: none;
            width: 100%;

            &:before {
                display: none !important;
            }
        }
    }

    .register-steps.step-1 {
        .step:nth-child(1) {
            display: block;
        }
    }

    .register-steps.step-2 {
        .step:nth-child(2) {
            display: block;
        }
    }

}

@media (max-width: 575px) {
    .step-counts {
        margin: 4rem 0 0 0;
    }

    .auth-success {
        .go-home {
            font-family: "Aino Bold", sans-serif;
            margin: 4rem 0 0 0;
        }
    }
}