html[data-theme="dark"] {
    .reports-list,
    .statistics-list {
        .default-block {
            &:hover {
                background: #221F20;
            }
        }
    }
    
}

/* ***** -- page filters ***** */
.reports-page,
.statistics-page {
    .page-filters {
        .by-type {
            a {
                &:hover,
                &.active {
                    background: $accentColor; 
                }
            }
        }
    }
}

.reports-list,
.statistics-list {
    [class*="col-"] {
        margin-bottom: 4rem;
    }

    .default-block {
        background: #F1F2F5;

        .see-more {
            font-family: "Aino Bold", sans-serif;
        }

        &:hover {
            background: $accentColor;
        }
    }
}