html[data-theme="dark"] {
    .sitemap-wrapper {
        a {
            color: #fff;

            &:hover {
                color: #fff;
            }
        }

        .home {
    
            a {
                background: #221F20;
            }
        }
    }
}

.sitemap-wrapper {
    justify-content: space-between;
    align-items: center;
    max-width: 50rem;
    margin: 8rem auto 0 auto;

    a {
        &:hover {
            color: #000;
        }
    }

    .home,
    .sitemap-links {
        position: relative;
    }

    .home {
        width: 60%;

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            background: #D0D2D3;
        }

        a {
            position: relative;
            display: inline-flex;
            align-items: center;
            font-family: "Aino Bold", sans-serif;
            font-size: 1.8rem;
            line-height: 2,2rem;
            padding: 1.4rem 2.3rem;
            background: #fff;
            border: 1px solid #D0D2D3;
            border-radius: 5rem;
            z-index: 4;

            i {
                transform: translateY(-1px);
                margin: 0 .7rem 0 0;

                &:before {
                    margin: 0;
                }
            }
        }
    }

    .sitemap-links {
        position: relative;
        width: 40%;
        padding-left: 2.5rem;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 1rem;
            width: 1px;
            height: calc(100% - 1rem);
            background: #D0D2D3;
        }
    }

    ul {
        position: relative;
        padding-left: 1rem;
        margin: 0 0 4rem 0;

        &:before {
            content: "";
            position: absolute;
            top: 1rem;
            left: -2.5rem;
            height: 1px;
            width: 2.5rem;
            background: #D0D2D3;
        }

        &:last-child {
            margin: 0;
        }

        li {
            margin: 0 0 1rem 0;

            &:first-child {
                font-family: "Aino Bold", sans-serif;
                margin: 0 0 20px 0;
            }

            &:last-child {
                margin: 0;
            }
        }

        a {
            font-size: 1.5rem;
            line-height: 1.8rem;
        }
    }

}

@media (max-width: 1200px) {
    .sitemap-wrapper {
        margin: 6rem auto 0 auto;
    }
}

@media (max-width: 575px) {
    html[data-theme="dark"] {
        .sitemap-wrapper {
            .home {
                a {
                    background: #000;
                }
            }
        }
    }

    .sitemap-wrapper {
        margin: 4rem auto 0 auto;

        .home {
            width: 50%;
    
            a {
                font-size: 1.4rem;
                line-height: 1.7rem;
                padding: 0 1rem 0 0;
                border: none;
            }
        }
    
        .sitemap-links {
            width: 50%;
            padding-left: 1.5rem;
        }
    
        ul {
            padding-left: .5rem;
            margin: 0 0 3rem 0;
    
            &:before {
                left: -1.5rem;
                width: 1.5rem;
            }
        }

        a {
            font-size: 1.4rem;
            line-height: 1.7rem;
        }
    }

}