html[data-theme="dark"] {
    .sponsorship-prices {
        background: #221F20;
    }

    .pricing-card {
        .card-body {
            color: #000;
        }
    }

}

/* ***** -- statistics ***** */
.sponsorship-page {
    .statistics {
        position: relative;
        background-color: #f5f5f5;
        overflow: hidden;
    
        [class*="col-lg-3"] {
            + .col-lg-3 {
                .number:before {
                    display: inline-block;
                }
            }
        }
    }
}

.stat-item {
    margin-top: 8rem;

    .number {
        position: relative;
        font-family: "Aino Bold", sans-serif;
        font-size: 5rem;
        line-height: 5rem;
        margin: 0 0 2rem 0;

        &:before {
            content: "";
            width: 0;
            height: 30px;
            border-left: 1px solid #D0D2D3;
            position: absolute;
            top: calc(50% - 15px);
            left: -13px;
            display: none;
        }
    }

    .name {
        font-size: 2rem;
        line-height: 2.4rem;
    }
}

/* ***** -- sponsorship prices ***** */
.sponsorship-prices {
    background: $mainColor;

    .section-title,
    .subtitle {
        color: #fff;
    }

    .subtitle {
        margin-bottom: 3rem;
    }

    .row {
        justify-content: center;
    }

    [class*="col-lg-4"] {
        margin: 4rem 0 0 0;
    }

    .become-one {
        p {
            color: #fff;
        }
    }
}

.pricing-card {
    height: 100%;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;

    .card-header {
        font-family: "Aino Bold", sans-serif;
        padding: 2.5rem 1.2rem;
        background: #D0D2D3;
        border-radius: 8px;
    }

    .name {
        font-size: 1.8rem;
        line-height: 2.4rem;
        margin: 0 0 1.2rem 0;
    }

    .price {
        font-size: 2.6rem;
        line-height: 2.4rem;
    }

    .card-body {
        padding: 50px 40px;
    }

    .description {
        ul {
            list-style: inside;
        }

        li {
            margin-bottom: 15px;

            &:last-child {
                margin: 0;
            }
        }

        > * {
            margin-bottom: 15px;

            &:last-child {
                margin: 0;
            }
        }
    }
}

/* ***** -- sponsors ***** */
.sponsors {
    .section-title {
        margin: 0 0 7rem 0;
    }

    .swiper-slide {
        display: block;
        margin-bottom: 50px;
    }

    .partner-block {
        .image {
            width: 120px;
            height: 120px;
            margin: 0 auto 15px auto;
            border-radius: 50%;
        }
    
        img {
            max-height: 50px;
        }
    }

}

@media (max-width: 992px) {
    /* ***** -- sponsorship prices ***** */
    .sponsorship-prices {
        .subtitle {
            margin-bottom: 2rem;
        }
    }

    .pricing-card {
        .card-header {
            padding: 2rem 1.2rem;
        }

        .name {
            font-size: 1.6rem;
            line-height: 2.2rem;
            margin: 0 0 1rem 0;
        }

        .price {
            font-size: 2.2rem;
            line-height: 2rem;
        }

        .card-body {
            padding: 40px 30px;
        }
    }

}

@media (max-width: 575px) {
    /* ***** -- statistics ***** */
    .stat-item {
        margin-top: 5rem;
    
        .number {
            font-size: 3.6rem;
            line-height: 3.6rem;
            margin: 0 0 1.5rem 0;

            &:before {
                height: 20px;
                top: calc(50% - 10px);
            }
        }
    
        .name {
            font-size: 1.6rem;
            line-height: 2rem;
        }
    }

    /* ***** -- sponsorship prices ***** */
    .sponsorship-prices {
        .subtitle {
            margin-bottom: 1rem;
        }
    }

    .pricing-card {
        .card-body {
            padding: 30px 20px;
        }
    }

    /* ***** -- sponsors ***** */
    .sponsors {
        .section-title {
            margin: 0 0 4rem 0;
        }
    }

}