.static-page {
    margin-top: 15rem;

    .subtitle {
        font-size: 2rem;
        line-height: 2.8rem;
        color: #221F20;
        max-width: 80rem;
        margin: 0 auto 100px auto;
    }
}

@media (max-width: 1280px) {
    .static-page {
        margin-top: 12.5rem;
    }
}

@media (max-width: 575px) {
    .static-page {
        margin-top: 11.4rem;

        .subtitle {
            font-size: 1.8rem;
            line-height: 2.6rem;
            margin: 0 auto 60px auto;
        }
    }
    
}