.team-inner {
    margin-top: 15rem;

    /* ***** -- user card ***** */
    .user-card {
        padding: 0;
        margin: 0 0 7rem 0;
    }

    .card-body {
        flex-flow: row nowrap;
        max-width: 100%;
    }

    .avatar {
        max-width: 28rem;
        margin: 0;

        &:hover {
            transform: none;
        }
    }

    .info {
        align-items: flex-start;
        text-align: left;
        padding: 0 0 0 6rem;
    }

    .name {
        font-size: 2.2rem;
        line-height: 2.6rem;
        margin: 0 0 20px 0;
    }

    .he-is {
        margin: 0 0 6px 0;
    }

    .position {
        font-size: 1.6rem;
        line-height: 1.9rem;
        text-align: left;
    }

    .linkedin-profile {
        font-family: "Aino Bold", sans-serif;
        font-size: 1.4rem;
        line-height: 1.7rem;
        margin-top: 25px;

        a {
            align-items: center;
        }

        img {
            max-width: 1.5rem;
            margin: -1px 8px 0 0;
        }
    }

    /* ***** -- text editor ***** */
    .editor-body {
        h1, h2, h3, h4 {
            font-size: 2rem;
            line-height: 3rem;
            margin: 0 0 4rem 0;
        }

        p {
            font-size: 1.7rem;
        }
    }

}

@media (max-width: 1280px) {
    .team-inner {
        margin-top: 12.5rem;
    }
}

@media (max-width: 767px) {
    .team-inner {
        /* ***** -- user card ***** */
        .user-card {
            margin: 0 0 5rem 0;
        }
    
        .avatar {
            max-width: 22rem;
        }
    
        .info {
            padding: 0 0 0 2.4rem;
        }
    
        .name {
            font-size: 1.8rem;
            line-height: 2.2rem;
        }
    
        .position {
            font-size: 1.5rem;
            line-height: 1.8rem;
        }

        /* ***** -- text editor ***** */
        .editor-body {
            p {
                font-size: 1.6rem;
            }
        }
    }

}

@media (max-width: 575px) {
    .team-inner {
        margin-top: 11.4rem;
        
        /* ***** -- user card ***** */  
        .card-body {
            flex-flow: column;
            max-width: 28rem;
        }

        .avatar {
            margin: 0 0 30px 0;
        }
        
        .info {
            align-items: center;
            padding: 0;
        }
    }
    
}