/* ***** -- team members ***** */
.team-department {
    justify-content: center;

    .section-title {
        width: 100%;
        margin: 0 0 5rem 0;
    }
}

.team-members {
    .user-card {
        width: 25%;
        margin: 0 0 90px 0;
    }
}

/* ***** -- user card ***** */
.user-card {
    padding: 0 12px;

    .card-body {
        flex-flow: column;
        align-items: center;
        max-width: 28rem;
        margin: 0 auto;
    }

    a {
        color: #000;
        transition: .2s ease;

        &:hover {
            opacity: .6;
        }
    }

    .avatar {
        position: relative;
        width: 100%;
        max-width: 22rem;
        margin: 0 0 30px 0;
        border-radius: 50%;
        overflow: hidden;
        transition: transform .2s ease;

        &:hover {
            transform: scale(1.05);

            .thumb {
                opacity: 1;
            }
        }
    }

    .thumb {
        display: block;
        padding-bottom: (1 / 1) * 100%;
        border-radius: 50%;
        overflow: hidden;
    }

    .info {
        flex-flow: column;
        align-items: center;
        text-align: center;
    }

    .name,
    .position {
        text-align: center;
    }

    .he-is {
        font-family: "Aino Bold", sans-serif;
        font-size: 1.8rem;
        line-height: 2.2rem;
        margin: 0 0 15px 0;
    }

    .name {
        font-family: "Aino Bold", sans-serif;
        font-size: 1.5rem;
        line-height: 1.8rem;
        margin: 0 0 7px 0;
    }

    .position {
        font-size: 1.5rem;
        line-height: 1.8rem;
        color: #808184;
    }
}

.team-page {
    .team-bottom-text {
        margin: 4rem 0 8rem 0;
    }
}

@media (max-width: 992px) {
    /* ***** -- team members ***** */
    .team-members {
        .user-card {
            width: 33.333333%;
            margin: 0 0 70px 0;
        }
    }

    .team-page {
        .team-bottom-text {
            margin: 0rem 0 4rem 0;
        }
    }

}

@media (max-width: 700px) {
    /* ***** -- team members ***** */
    .team-members {
        .user-card {
            width: 50%;
            
            &:nth-child(5) {
                + div {
                    display: none;
                }
            }
        }
    }

}

@media (max-width: 480px) {
    /* ***** -- team members ***** */
    .team-members {
        .user-card {
            width: 100%;
        }
    }

}