@keyframes lds-spinner {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@-webkit-keyframes lds-spinner {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

html[data-theme="dark"] {
    .ng-scope {
        background: #000;
    }

    .lds-spinner div {
        background: #fff
    }
}

.ng-scope {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: #fff;
}


.lds-spinner {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;

    &.visible {
        opacity: 1
    }
}

.lds-spinner div {
    left: 94px;
    top: 48px;
    position: absolute;
    -webkit-animation: lds-spinner linear 1s infinite;
    animation: lds-spinner linear 1s infinite;
    background: #192549;
    width: 12px;
    height: 24px;
    border-radius: 40%;
    -webkit-transform-origin: 6px 52px;
    transform-origin: 6px 52px;
}

.lds-spinner div:nth-child(1) {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation-delay: -0.916666666666667s;
    animation-delay: -0.916666666666667s;
}

.lds-spinner div:nth-child(2) {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-animation-delay: -0.833333333333333s;
    animation-delay: -0.833333333333333s;
}

.lds-spinner div:nth-child(3) {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    -webkit-animation-delay: -0.75s;
    animation-delay: -0.75s;
}

.lds-spinner div:nth-child(4) {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation-delay: -0.666666666666667s;
    animation-delay: -0.666666666666667s;
}

.lds-spinner div:nth-child(5) {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
    -webkit-animation-delay: -0.583333333333333s;
    animation-delay: -0.583333333333333s;
}

.lds-spinner div:nth-child(6) {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(7) {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-animation-delay: -0.416666666666667s;
    animation-delay: -0.416666666666667s;
}

.lds-spinner div:nth-child(8) {
    -webkit-transform: rotate(210deg);
    transform: rotate(210deg);
    -webkit-animation-delay: -0.333333333333333s;
    animation-delay: -0.333333333333333s;
}

.lds-spinner div:nth-child(9) {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg);
    -webkit-animation-delay: -0.25s;
    animation-delay: -0.25s;
}

.lds-spinner div:nth-child(10) {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-animation-delay: -0.166666666666667s;
    animation-delay: -0.166666666666667s;
}

.lds-spinner div:nth-child(11) {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
    -webkit-animation-delay: -0.083333333333333s;
    animation-delay: -0.083333333333333s;
}

.lds-spinner div:nth-child(12) {
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.lds-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px !important;
    height: 70px !important;
    -webkit-transform: translate(-55px, -55px) scale(0.35);
    transform: translate(-55px, -55px) scale(0.35);
}

$mainColor: #374785;
$accentColor:  #AC3B61;

/* ***** Bootstrap ***** */
@import "./bootstrap/bootstrap";

/* ***** Fonts ***** */
@import "_fonts";

/* ***** Default ***** */
@import "_default";

/* ***** Theme ***** */
@import "./ui/_theme";

/* ***** Helpers ***** */
@import "_helpers";

/* ***** Header ***** */
@import "./ui/_header";

/* ***** Block types ***** */
@import "./ui/_blocks";

/* ***** Page covers ***** */
@import "./ui/_page-covers";

/* ***** Custom card ***** */
@import "./ui/_custom-card";

/* ***** Search ***** */
@import "./ui//search";

/* ***** Index ***** */
@import "_index";

/* ***** About ***** */
@import "_about";

/* ***** Team ***** */
@import "_team";

/* ***** Team inner ***** */
@import "_team-inner";

/* ***** Contact ***** */
@import "_contact";

/* ***** Events ***** */
@import "_events";

/* ***** Event inner ***** */
@import "_event-inner";

/* ***** News ***** */
@import "_news";

/* ***** News inner ***** */
@import "_news-inner";

/* ***** Rgular membership ***** */
@import "_regular-membership.scss";

/* ***** Associate membership ***** */
@import "_associate-membership.scss";

/* ***** Sponsorship ***** */
@import "_sponsorship.scss";

/* ***** Classification ***** */
@import "_classification";

/* ***** Auth ***** */
@import "_auth";

/* ***** Register ***** */
@import "_register";

/* ***** Cabinet (upcoming events) ***** */
@import "./cabinet/_upcoming-events";

/* ***** Cabinet (members) ***** */
@import "./cabinet/_members";

/* ***** Cabinet (special offers) ***** */
@import "./cabinet/_special-offsers";

/* ***** Cabinet (add offer) ***** */
@import "./cabinet/_add-offer";

/* ***** Cabinet (faq) ***** */
@import "./cabinet/_faq";

/* ***** Cabinet (account) ***** */
@import "./cabinet/_account";

/* ***** Cabinet (subscription) ***** */
@import "./cabinet/_subscription";

/* ***** Reports ***** */
@import "_reports";

/* ***** Static ***** */
@import "_static";

/* ***** Sitemap ***** */
@import "_sitemap";

/* ***** Footer ***** */
@import "./ui//_footer";

/* ***** 404 ***** */
@import "./ui/404";